@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, a {
  display: block;
}

body {
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #996A4D;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*input number消除旁邊箭頭*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none !important;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

@font-face {
  font-family: 'en';
  src: url(../../font/DejaVuSansCondensed.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(../../font/NotoSansTC-Light.otf);
}

h2 {
  font-size: 32px;
  font-family: 'regular';
}

h3 {
  font-size: 26px;
  font-family: 'regular';
}

h4 {
  font-size: 16px;
  font-family: 'regular';
}

p {
  font-size: 14px;
  font-family: 'regular';
}

h4 {
  line-height: 26px;
}

p {
  line-height: 20px;
}

@media all and (max-width: 576px) {
  h2 {
    font-size: 26px;
    font-family: 'regular';
  }
  h3 {
    font-size: 22px;
    font-family: 'regular';
  }
  h4 {
    font-size: 16px;
    font-family: 'regular';
  }
  p {
    font-size: 12px;
    font-family: 'regular';
  }
  .p_tiny {
    font-size: 10px;
    font-family: 'regular';
  }
  p {
    line-height: 18px;
  }
}

h1 {
  margin: 25px;
  display: none;
}

h1 img {
  height: 37px;
}

@media all and (max-width: 576px) {
  h1 {
    display: block;
  }
}

img, input {
  display: inline-block;
}

.btnL {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  width: 212px;
  height: 42px;
  line-height: 42px;
  background-color: #996A4D;
  color: #F7F9F2;
}

.btnL:hover {
  background-color: #77523c;
}

.btnL_light {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  width: 212px;
  height: 42px;
  line-height: 42px;
  background-color: #F7F9F2;
  color: #996A4D;
  -webkit-filter: drop-shadow(0 0 8px #afafaf);
          filter: drop-shadow(0 0 8px #afafaf);
}

.btnL_light:hover {
  background-color: #f5f7ef;
}

.btnL_light:active {
  -webkit-box-shadow: inset 0 0 8px #afafaf;
          box-shadow: inset 0 0 8px #afafaf;
  -webkit-filter: drop-shadow(0 0 0 #afafaf);
          filter: drop-shadow(0 0 0 #afafaf);
}

.btnL_line {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  width: 212px;
  height: 42px;
  line-height: 42px;
  background-color: white;
  border: 1px solid #996A4D;
  color: #996A4D;
  border-radius: 5px;
}

.btnL_line:active {
  background-color: #f2f2f2;
}

.btnM {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  height: 42px;
  line-height: 42px;
  background-color: #996A4D;
  color: #F7F9F2;
}

.btnM:hover {
  background-color: #77523c;
}

.btnM_light {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  height: 42px;
  line-height: 42px;
  background-color: #F7F9F2;
  color: #996A4D;
}

.btnM_light:hover {
  background-color: #e2e9cf;
}

.btnM_line {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  height: 42px;
  line-height: 42px;
  background-color: white;
  border: 1px solid #996A4D;
  color: rgba(0, 0, 0, 0.8);
}

.btnM_line:active {
  background-color: #f2f2f2;
}

.btnS {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px;
  background-color: #996A4D;
  color: #F7F9F2;
}

.btnS:hover {
  background-color: #77523c;
}

.btnS_line {
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: 400;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border: 1px solid #996A4D;
}

.btnS_line:hover {
  background-color: #e6e6e6;
}

@media all and (max-width: 576px) {
  .btnL, .btnL_light, .btnM, .btnM_light, .btnM_line, .btnS {
    border-radius: 5px;
  }
}

body {
  margin: 0 auto;
  padding-top: 85px;
}

@media all and (max-width: 576px) {
  body {
    padding-top: 0;
  }
}

.nav_logo {
  margin-bottom: 85px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: inline-block;
  background-color: #F7F6F2;
}

@media all and (max-width: 576px) {
  .nav_logo {
    background-color: transparent;
    margin-bottom: 0;
    position: absolute;
    z-index: 101;
    display: none;
  }
}

.nav_logo a {
  float: left;
  height: 85px;
  padding-left: 45px;
}

@media all and (min-width: 577px) and (max-width: 767px) {
  .nav_logo a {
    padding-left: 0;
  }
}

@media all and (max-width: 576px) {
  .nav_logo a {
    padding-left: 0;
    margin: 0;
  }
}

.nav_logo a .logo {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  width: calc(100vw - 180px - 45px);
  right: 0;
  z-index: 99;
  height: 85px;
  background-color: #F7F6F2;
}

@media all and (min-width: 577px) and (max-width: 767px) {
  header {
    width: calc(100vw - 180px);
  }
}

@media all and (max-width: 576px) {
  header {
    position: fixed;
    top: initial;
    bottom: 0;
    width: 100%;
    height: 78px;
  }
}

header .nav {
  float: right;
  margin-right: 50px;
  height: 85px;
  line-height: 85px;
}

@media all and (min-width: 577px) and (max-width: 767px) {
  header .nav {
    margin-right: 15px;
  }
}

@media all and (max-width: 576px) {
  header .nav {
    float: none;
    margin-right: 0;
    height: 78px;
    line-height: 78px;
  }
}

header .nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 576px) {
  header .nav_list {
    display: initial;
  }
}

header .web_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 576px) {
  header .web_bar {
    display: none;
  }
}

header .web_bar > li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 30px;
  font-family: 'regular';
  font-size: 14px;
}

@media all and (min-width: 577px) and (max-width: 767px) {
  header .web_bar > li a {
    margin-right: 20px;
  }
}

@media all and (max-width: 576px) {
  header .mobile_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .mobile_bar li {
  display: none;
}

@media all and (max-width: 576px) {
  header .mobile_bar li {
    display: inline-block;
    margin: 0 25px;
  }
}

header .mobile_bar li img {
  vertical-align: middle;
}

header .mobile_bar li.menu {
  cursor: pointer;
}

header .mobile_bar li.member {
  display: inline-block;
}

header .mobile_bar li.member img {
  width: 80%;
  vertical-align: middle;
}

@media all and (max-width: 576px) {
  header .mobile_bar li.member img {
    width: 100%;
  }
}

#nav_rwd {
  display: none;
  height: calc(100vh - 78px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F7F6F2;
  z-index: 100;
}

#nav_rwd .logo_rwd {
  float: left;
  height: 85px;
}

#nav_rwd .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
}

#nav_rwd .menu #close_menu {
  padding: 5px;
  float: right;
  width: 9%;
  cursor: pointer;
}

#nav_rwd .menu .menu_item {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav_rwd .menu .menu_item .btnL_light {
  margin: 20px auto;
}

#nav_rwd .menu .menu_item .btnL_light a {
  color: #996A4D;
  text-decoration: none;
}

footer {
  background-color: #202B36;
  color: #FAF9F2;
  height: 200px;
}

@media all and (max-width: 576px) {
  footer {
    position: relative;
    bottom: 76px;
  }
}

footer .icon_link {
  float: right;
  padding-top: 75px;
  padding-right: 120px;
}

@media all and (min-width: 997px) and (max-width: 1200px) {
  footer .icon_link {
    padding-right: 70px;
  }
}

@media all and (min-width: 768px) and (max-width: 996px) {
  footer .icon_link {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 20px;
  }
}

@media all and (min-width: 577px) and (max-width: 767px) {
  footer .icon_link {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 10px;
  }
}

@media all and (max-width: 576px) {
  footer .icon_link {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 22px 0 10px;
  }
}

@media all and (max-width: 576px) {
  footer .icon_link a {
    margin: 0 5px;
  }
}

@media all and (min-width: 768px) and (max-width: 996px) {
  footer .icon_link img {
    width: 90%;
  }
}

@media all and (min-width: 577px) and (max-width: 767px) {
  footer .icon_link img {
    width: 85%;
  }
}

@media all and (max-width: 576px) {
  footer .icon_link img {
    width: 85%;
  }
}

footer .statement {
  display: inline-block;
  padding-top: 75px;
  padding-left: 100px;
  line-height: 20px;
}

@media all and (min-width: 997px) and (max-width: 1200px) {
  footer .statement {
    padding-left: 70px;
  }
}

@media all and (min-width: 768px) and (max-width: 996px) {
  footer .statement {
    display: block;
    padding: 0 0 26px 0;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (min-width: 577px) and (max-width: 767px) {
  footer .statement {
    display: block;
    padding: 0 0 0px 0;
    margin: 0 auto;
    width: 450px;
  }
}

@media all and (max-width: 576px) {
  footer .statement {
    display: block;
    padding: 0 0 0px 0;
    margin: 0 auto;
    width: 330px;
  }
}

.loginMemberPage_Body {
  padding-top: 85px;
  border: 1px solid black;
  margin: 0 auto;
}

@media all and (max-width: 576px) {
  .loginMemberPage_Body {
    padding-top: 0px;
  }
}

.loginMemberPage_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px;
  border: 1px solid blue;
  margin: 30px auto;
}

@media all and (max-width: 576px) {
  .loginMemberPage_main {
    display: none;
  }
}

.loginInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.loginInner_Img img {
  width: 100%;
}

.loginInner_block {
  position: absolute;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 105px;
  border: 1px solid lightpink;
}

p.sigin_tiny {
  padding: 0;
  font-size: 10px;
  color: red;
}

h2 {
  padding-bottom: 40px;
}

#btn_login {
  margin: 15px 0px;
}

input {
  border: 1px solid #996A4D;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 13px;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

input:focus {
  border: 2px solid #996A4D;
}

.forgetPassword {
  margin: 10px 0px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  font-size: 14px;
}

.loginSitch {
  width: 25%;
  position: absolute;
  top: 50%;
  right: 0;
  border: 1px solid lightpink;
}

.SiginMemberPage_main {
  max-width: 540px;
  border: 1px solid green;
  margin: 30px auto;
}

@media all and (max-width: 576px) {
  .SiginMemberPage_main {
    display: none;
  }
}

.SiginInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.SiginSitch, .on {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 30px;
  border: 1px solid lightpink;
}

.SigiInner_block {
  position: absolute;
  width: 75%;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  border: 1px solid lightpink;
}

.phone_loginMemberPage {
  width: 100%;
  display: none;
}

@media all and (max-width: 576px) {
  .phone_loginMemberPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .phone_loginMemberPage .phone_loginInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0px 35px;
    border: 1px solid red;
  }
  .phone_loginMemberPage .phone_loginInner > .phone_back_icon {
    width: 100%;
    padding: 15px 0px;
    border: 1px solid blue;
  }
  .phone_loginMemberPage .phone_loginInner > .phone_loginInner_Img {
    border: 1px solid red;
  }
  .phone_loginMemberPage .phone_loginInner > .phone_loginInner_block {
    border: 1px solid red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0px;
  }
  .phone_loginMemberPage .phone_loginInner > .phone_loginInner_block > .input {
    margin-top: 25px;
  }
  .phone_loginMemberPage .phone_loginInner > .phone_loginInner_block > .phone_forgetPassword {
    width: 100%;
    border: 1px solid green;
    text-align: right;
  }
  .phone_loginMemberPage .phone_loginInner > .phone_loginInner_block > .phone_loginSitch {
    border: 1px solid salmon;
    margin: 15px 0px;
  }
  .phone_loginMemberPage .phone_loginInner > .phone_loginInner_block > .phone_loginSitch button {
    border: 1px solid salmon;
    margin-left: 20px;
  }
}

#right {
  margin-left: 100px;
  width: 900px;
}

#member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.memberborder {
  width: 120px;
}

.memberborder a {
  width: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  cursor: pointer;
}

.memberborder.active a {
  color: #996A4D;
  border-bottom: 1px solid #996A4D;
}

#memberInfoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#memberInfoImg {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 100px;
}

#memberInfoMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

#memberInfoMain .memberInput {
  width: 600px;
}

#memberInfoMain .memberInput input {
  border: 0;
  width: 500px;
  height: 34px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
}

#memberInfoMain .memberInput .gender {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#memberInfoMain .memberInput .gender input {
  width: unset;
  margin: 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.nameBorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #996A4D;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.nameBorder:last-child {
  margin-bottom: 0;
}

.memberInfoName {
  padding: 10px;
  background-color: #F7F6F2;
  width: 100px;
  font-size: 14px;
}

.memberInfoVal {
  padding: 10px;
  font-size: 14px;
}

#memberEditBtn {
  width: 50px;
  height: 30px;
  border: 1px solid gray;
  background-color: #F7F6F2;
  cursor: pointer;
  text-align: center;
  line-height: initial;
}

.memberEditCancel {
  margin-top: 50px;
}

.memberEditCancel .btnL {
  margin-left: 30px;
}

#loveContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#loveContent .loveContentBorder {
  width: 435px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  background-color: #F7F6F2;
}

#loveContent .loveContentBorder p {
  margin-top: 15px;
}

#loveContent .loveContentBorder:nth-child(2n) {
  margin-left: 30px;
}

#loveContent .loveContentBorder:nth-child(3n),
#loveContent .loveContentBorder:nth-child(4n) {
  margin-top: 30px;
}

.loveImg {
  height: 200px;
  width: 150px;
}

.headImg {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 100%;
}

.cardBorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loveContents {
  margin-left: 20px;
  margin-top: 8px;
}

.loveContentsTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.StarAndFrom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.TopRithtLove {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.TopRithtLove svg {
  width: 20px;
  height: 20px;
}

.loveNumberNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.loveNumberNav .loveNavs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loveNumberNav .loveNavs div {
  margin: 0 10PX;
}

.loveNumberNav .loveNavs .loveLeft,
.loveNumberNav .loveNavs .loveRight {
  border: 1px solid #996A4D;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
  cursor: pointer;
}

.loveNumberNav .loveNavs .mid {
  line-height: 1.5;
}

.historyContents {
  margin-top: 8px;
  margin-left: 20px;
  width: 330px;
  margin-right: 6px;
}

.timeAndcomment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.timeAndcomment .comment {
  margin-right: 14px;
  cursor: pointer;
  color: blue;
  border-bottom: 1px solid blue;
}

#addDiv {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.15);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#addDiv #addDivOutterBord {
  width: 500px;
  background-color: #F7F6F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 20px;
}

#addDiv #addDivOutterBord #addDivInnerBord {
  margin-top: 40px;
  width: 460px;
  margin-left: 10px;
}

#addDiv #addDivOutterBord .addDivTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#addDiv #addDivOutterBord .addDivTop .addDivTopImg {
  text-align: center;
}

#addDiv #addDivOutterBord .addDivTop Img {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 100%;
}

#addDiv #addDivOutterBord .addDivTop .addDivTopText {
  margin-left: 20px;
  width: 300px;
}

#addDiv #addDivOutterBord .addDivTop .addDivTopText p:last-child {
  font-size: 20px;
}

#addDiv #addDivOutterBord .Star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#addDiv #addDivOutterBord .Star svg {
  width: 30px;
  height: 30px;
}

#addDiv #addDivOutterBord .closed {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#addDiv #addDivOutterBord .addDivDown {
  margin-top: 10px;
  margin-left: 20px;
}

#addDiv #addDivOutterBord .addDivDown textarea {
  width: 400px;
  height: 80px;
  border: 0;
  outline: none;
  resize: none;
}

#addDiv #addDivOutterBord .memberEditCancel {
  margin-top: 30px;
  margin-bottom: 40px;
}

#addDiv #addDivOutterBord .memberEditCancel .btnL {
  margin-left: 30px;
}

.historyP {
  height: 40px;
  overflow: hidden;
  margin-top: 15px;
}

.historyP p {
  margin-top: 0 !important;
}

.joinContents {
  margin-left: 20px;
  margin-top: 8px;
}

.gotravel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#joinStarAndFrom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.joinComment {
  margin-bottom: 30px;
}

.joinTime {
  margin-top: 10px;
  font-size: 20px;
}

.joinP {
  margin-top: 6px !important;
}

#travelAdd svg {
  width: 50px;
  height: 50px;
  fill: white;
  cursor: pointer;
}

#travelNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #996A4D;
  border-radius: 20px;
  overflow: hidden;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin-top: 20px;
  text-align: center;
}

#travelNavBar .travelNavBarP {
  margin-left: 20px;
}

#travelNavBar .travelNavBarP:first-child {
  margin-left: 30px;
  width: 200px;
}

#travelNavBar .travelNavBarP:nth-child(2) {
  width: 50px;
}

#travelNavBar .travelNavBarP:nth-child(3) {
  width: 120px;
}

#travelNavBar .travelNavBarP:nth-child(4) {
  width: 170px;
}

#travelNavBar .travelNavBarP:nth-child(5) {
  width: 50px;
}

#travelNavBar .travelNavBarP:nth-child(6) {
  width: 80px;
}

#travelNavBar .travelNavBarP:nth-child(7) {
  width: 50px;
}

#travelNavBar .travelNavBarP:last-child {
  margin-right: 30px;
  width: 50px;
}

.travelValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #996A4D;
  border-radius: 20px;
  overflow: hidden;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin-top: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.travelValue .travelP {
  margin-left: 20px;
  overflow: hidden;
  text-align: center;
}

.travelValue .travelP p {
  white-space: nowrap;
}

.travelValue .travelP:first-child {
  margin-left: 30px;
  width: 200px;
}

.travelValue .travelP:nth-child(2) {
  width: 50px;
}

.travelValue .travelP:nth-child(3) {
  width: 120px;
}

.travelValue .travelP:nth-child(4) {
  width: 170px;
}

.travelValue .travelP:nth-child(5) {
  width: 50px;
}

.travelValue .travelP:nth-child(6) {
  width: 80px;
}

.travelValue .travelP:nth-child(7) {
  width: 50px;
}

.travelValue .travelP:last-child {
  margin-right: 30px;
  width: 50px;
}

#addFrom {
  margin-top: 20px;
}

#addFrom .travelInputBorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #996A4D;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}

#addFrom .travelInputBorder select {
  border: 0;
  height: 45px;
  padding: 0;
  margin: 0;
  width: 740px;
  margin-left: 10px;
  outline: none;
}

#addFrom .travelInputBorder input {
  border: 0;
  height: 45px;
  padding: 0;
  margin: 0;
  width: 740px;
  margin-left: 10px;
}

#addFrom .travelInputBorder div {
  height: 100%;
  padding: 20px;
  padding-right: 0;
  width: 130px;
}

#addFrom .Imginput {
  width: 100%;
  height: unset;
}

#addFrom .Imginput .showImg {
  width: 590px;
  padding: 0;
  background-color: #F7F6F2;
}

#addFrom .Imginput .showImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
}

#addFrom .Imginput .showImg img:first-child {
  margin-top: 0px;
}

#addFrom .Imginput input {
  position: absolute;
  top: -100%;
  left: -100%;
}

#addFrom .Imginput .clickInput {
  width: 100px;
  height: 50px;
  border: 1px solid #996A4D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 20px;
  line-height: 0.8;
  margin-top: 40px;
}

#addFrom .Content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 550px;
}

#addFrom .Content div {
  width: 100%;
  height: unset;
}

#addFrom .Content textarea {
  height: 500px;
  border: 0;
  padding: 20px;
  outline: none;
  border-radius: 20px;
  resize: none;
}

#travelEditPop {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(128, 128, 128, 0.15);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#travelEditPop div {
  width: 500px;
  height: 300px;
  background-color: #F7F6F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#travelEditPop div button {
  margin-top: 50px;
}

#travelEditPop div svg {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.faq_sec1 h2 {
  margin: 50px;
  text-align: center;
  padding-bottom: 0px;
}

.faq_sec1 input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  background-image: url(../../images/icon/search.svg);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: 20px;
  padding-left: 3rem;
}

.faq_sec1 .deco {
  height: 100px;
  background-image: url(../../images/index/content/fence_ver.jpg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 28px;
}

@media all and (max-width: 576px) {
  .faq_sec1 {
    background-color: #F7F9F2;
  }
  .faq_sec1 .deco {
    background-image: none;
  }
  .faq_sec1 input {
    width: 80%;
    padding-left: 3rem;
    height: 50px;
  }
}

.faq_sec2 {
  padding: 80px 80px;
}

.faq_sec2 .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq_sec2 .flexbox a {
  padding: 20px 20px;
}

.postcard_Body {
  padding-top: 85px;
  padding-bottom: 0px;
  border: 1px solid black;
  margin: 0 auto;
}

@media all and (max-width: 576px) {
  .postcard_Body {
    padding-top: 0;
  }
}

.index_postcard_block {
  border: 1px solid red;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

.index_postcard_block .index_postcard_BG {
  width: 100%;
}

.index_postcard_block .index_postcard_BG img {
  width: 100%;
}

.index_postcard_block .main_postcard_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
}

.index_postcard_block .main_postcard_block .textblock > h2 {
  font-family: 'blod';
  text-shadow: 0px 0px 3px #F7F6F2;
}

@media all and (max-width: 576px) {
  .index_postcard_block .main_postcard_block .textblock > h2 {
    display: none;
  }
}

.index_postcard_block .main_postcard_block .index_postcard_pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid red;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  z-index: 11;
  border-radius: 50%;
  cursor: pointer;
}

.index_postcard_block .main_postcard_block .index_postcard_pointer:hover {
  -webkit-box-shadow: 0px 0px 4px 1px #9B9B9B;
          box-shadow: 0px 0px 4px 1px #9B9B9B;
}

.index_postcard_block .main_postcard_block .index_postcard_pointer:hover circle {
  fill: #EAEAEA;
}

.index_postcard_block .main_postcard_block .index_postcard_pointer:hover path {
  fill: #996A4D;
}

.index_postcard_block .main_postcard_block .text_show {
  border: 1px solid red;
  margin-top: 20px;
}

@media all and (max-width: 576px) {
  .index_postcard_block .main_postcard_block .text_show {
    display: none;
  }
}

.phone_text_block {
  display: none;
}

@media all and (max-width: 576px) {
  .phone_text_block {
    background-color: #F7F6F2;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phone_text_block h3 {
    font-family: 'blod';
    margin-bottom: 20px;
  }
}

.progress_block {
  width: 100%;
  background-color: #F7F6F2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress_block > .frist_block {
  width: 10%;
  margin: 30px;
  text-align: center;
  padding: 20px;
  background-color: #F7F6F2;
  border-radius: 15px;
}

@media all and (min-width: 768px) and (max-width: 996px) {
  .progress_block > .frist_block {
    width: 100%;
    margin: 30px;
  }
}

.progress_block > .frist_block > h4 {
  padding-bottom: 30px;
}

@media all and (min-width: 768px) and (max-width: 996px) {
  .progress_block > .frist_block > h4 {
    padding-bottom: 10px;
  }
}

.progress_block > .frist_block > span {
  margin-top: 30px;
  font-size: 26px;
}

@media all and (min-width: 768px) and (max-width: 996px) {
  .progress_block > .frist_block > span {
    margin-top: 10px;
  }
}

.progress_block .textblock_Show {
  background-color: #996A4D;
  color: #F7F6F2;
}

.progress_block .textblock_Show > h4, .progress_block .textblock_Show span {
  font-family: 'bold';
}

.choose_img_block {
  width: 100%;
  border: 1px solid red;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose_img_block > .choose_img_title {
  width: 100%;
  text-align: center;
  margin: 45px;
}

.choose_img_block > .choose_card_block {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  border: 1px solid blue;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 768px) and (max-width: 996px) {
  .choose_img_block > .choose_card_block {
    width: 75%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media all and (min-width: 577px) and (max-width: 767px) {
  .choose_img_block > .choose_card_block {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 576px) {
  .choose_img_block > .choose_card_block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.choose_img_block > .choose_card_block > .card_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
  border: 1px solid green;
  border-radius: 15px;
  background-color: #F7F9F2;
  padding: 40px 20px;
}

@media all and (min-width: 768px) and (max-width: 996px) {
  .choose_img_block > .choose_card_block > .card_block {
    margin: 20px 0;
  }
}

@media all and (min-width: 577px) and (max-width: 767px) {
  .choose_img_block > .choose_card_block > .card_block {
    margin: 20px 0;
  }
}

@media all and (max-width: 576px) {
  .choose_img_block > .choose_card_block > .card_block {
    margin: 20px 0;
  }
}

.choose_img_block > .choose_card_block > .card_block > img {
  width: 100%;
}

.choose_img_block > .choose_card_block > .card_block > p {
  margin: 20px 0 40px 0;
}

.choose_img_block .next_btn {
  width: 80%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid red;
}

.choose_stamp_block {
  width: 100%;
  border: 1px solid green;
  margin: 0 auto;
}

.choose_stamp_block .choose_stamp_bg {
  height: 100vh;
  background-image: url(../../images/postcard/1280/africa01_1280-715.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
}

section.earth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 85px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #192B39), color-stop(50%, #3F5361), color-stop(75%, #8798A5), to(#D0DCE1));
  background: linear-gradient(to bottom, #192B39 25%, #3F5361 50%, #8798A5 75%, #D0DCE1);
}

section.earth .earth_container {
  margin: 0 auto;
}

section.earth .earth_container div.slogan {
  display: inline-block;
  margin-top: 280px;
  margin-left: 25px;
  margin-right: 155px;
}

section.earth .earth_container div.slogan h2 {
  color: #F7F6F2;
  font-size: 48px;
  font-family: 'en';
  margin-bottom: 20px;
}

section.earth .earth_container div.slogan h5 {
  color: #F7F6F2;
  font-size: 21px;
  line-height: 1.5;
  font-family: 'regular';
}

section.earth .earth_container div.slogan img.scroll_down {
  margin-top: 80px;
  margin-left: 15px;
}

section.earth .earth_container div.earthGame {
  float: right;
  width: 700px;
  margin-top: 30px;
  position: relative;
}

section.earth .earth_container div.earthGame img.earth_img {
  width: 100%;
  overflow: hidden;
  float: right;
}

section.earth .earth_container div.earthGame .game {
  width: 170px;
  height: 58px;
  font-size: 17px;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 2px whitesmoke;
          box-shadow: 0px 0px 5px 2px whitesmoke;
  position: absolute;
  bottom: 9.5%;
  left: -18%;
  cursor: pointer;
}

section.earth .earth_container div.earthGame .game::before {
  content: "";
  width: 35px;
  height: 28px;
  display: inline-block;
  background-image: url("../../images/index/content/dice.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  vertical-align: sub;
}

.about {
  position: relative;
}

.about h2 {
  padding: 0;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 10px;
}

.about .about_container {
  width: 1180px;
  margin: 0 auto;
}

.about .all_about {
  position: relative;
}

.about .all_about .about_1 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 990px;
  margin-bottom: 60px;
}

.about .all_about .about_1 img {
  border: 1px solid white;
}

.about .all_about .about_1 .des_1 {
  margin-left: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about .all_about .about_1 h3 {
  line-height: 4;
}

.about .all_about .about_1 h4 {
  font-size: 16px;
}

.about .all_about .about_2 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 990px;
}

.about .all_about .about_2 img {
  width: 100%;
}

.about .all_about .about_2 .des_2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 30px;
  width: 900px;
  margin-left: 0px;
  margin-right: 80px;
}

.about .all_about .about_2 h3 {
  line-height: 4;
}

.about .all_about .about_2 h4 {
  font-size: 16px;
}

.about .light_bg {
  width: 90%;
  height: 700px;
  display: inline-block;
  background-image: url("../../images/index/content/color_bg1.png");
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.about .fence {
  width: 100%;
  height: 45px;
  background-image: url("../../images/index/content/fence.png");
  z-index: 1;
}

.travel {
  width: 1180px;
  margin: 0 auto;
  margin-top: 200px;
}

.travel h2 {
  padding: 0;
  margin-bottom: 60px;
}

.travel ul#travel_container li {
  border-radius: 25px;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
  width: 280px;
}

.travel ul#travel_container li:nth-child(4) {
  margin-right: 0;
}

.travel ul#travel_container li img.place {
  width: 100%;
}

.travel ul#travel_container li .main_content {
  background-color: #F7F9F2;
  padding: 12px 0 20px 20px;
}

.travel ul#travel_container li .main_content .first {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel ul#travel_container li .main_content .first .star_num {
  display: inline-block;
  margin-left: 3px;
  margin-right: 8px;
}

.travel ul#travel_container li .main_content .first .star_num img {
  width: 18px;
  vertical-align: bottom;
}

.travel ul#travel_container li .main_content .first .star_num p {
  margin-left: 4px;
}

.travel ul#travel_container li .main_content .first p {
  display: inline-block;
  margin-left: 8px;
  font-size: 16px;
  margin-top: 10px;
}

.travel ul#travel_container li .main_content p.third {
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 5px;
}

#choose_us {
  padding: 200px 0 250px;
  background-image: url("../../images/index/content/color_bg1.png");
  background-size: contain;
}

#choose_us .the_reason {
  width: 1180px;
  margin-top: 50px;
  margin: 0 auto;
}

#choose_us .the_reason .text {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 85px;
  margin-left: 10px;
  vertical-align: top;
  display: inline-block;
}

#choose_us .the_reason .text h2 {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 50px;
}

#choose_us .the_reason .text ul.reasons {
  list-style: initial;
}

#choose_us .the_reason .text ul.reasons li {
  font-size: 17px;
  line-height: 2;
  margin-left: 20px;
  font-family: "regular";
}

#choose_us #index_video {
  float: right;
  margin-right: 80px;
  width: 55%;
  border-radius: 25px;
}

.more_opinion {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more_opinion aside.fence_col {
  border: 1px soild red;
  display: inline-block;
  width: 45px;
  background-image: url("../../images/index/content/fence_col.png");
  margin-right: 10px;
}

.more_opinion .opinion_container {
  width: 1160px;
  margin: 0 auto;
  vertical-align: top;
  padding-bottom: 110px;
}

.more_opinion .opinion_container h2 {
  padding: 0;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.more_opinion .opinion_container #all_opinion {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 100px;
}

.more_opinion .opinion_container #all_opinion li {
  border: 1px solid #996A4D;
  border-radius: 0 25px 0 25px;
  margin-bottom: 50px;
  padding: 36px 40px;
}

.more_opinion .opinion_container #all_opinion li .top {
  margin-bottom: 25px;
  font-size: 16px;
}

.more_opinion .opinion_container #all_opinion li .top img {
  display: inline-block;
}

.more_opinion .opinion_container #all_opinion li .top .right {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.more_opinion .opinion_container #all_opinion li .top .right .star_num {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 8px;
}

.more_opinion .opinion_container #all_opinion li .top .right .star_num img {
  margin-right: 8px;
  width: 18px;
}

.more_opinion .opinion_container #all_opinion li .top .right .star_num p {
  font-size: 16px;
}

.more_opinion .opinion_container #all_opinion li p.content {
  font-size: 16px;
  line-height: 2;
}

.more_opinion .opinion_container .btnL_line {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.more_opinion #go_top {
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 35px;
  margin-bottom: 30px;
}

.banner {
  width: 100%;
  height: 700px;
  position: relative;
}

.banner .intro {
  width: 40%;
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.banner .intro h2 {
  font-weight: bold;
  text-align: left;
  margin-left: 0;
}

.banner .intro h5 {
  line-height: 1.5;
}

.banner .bg_img {
  width: 100%;
  height: 100%;
  background-image: url(../../images/travel_list/banner_bg.jpg);
  background-size: cover;
}

.filters {
  background-color: #FAF9F2;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 40px;
}

.filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters ul li {
  margin: 10px 0 0 30px;
}

.filters ul li:nth-child(3) {
  border-right: 2px solid grey;
  padding-right: 35px;
}

.filters input.search {
  border: 1px solid #996A4D;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 13px;
  font-size: 14px;
  padding: 10px 20px;
  padding-left: 40px;
  margin-top: 0;
  width: 200px;
  height: 30px;
  right: 5px;
  background-image: url(/images/icon/search.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.filters input.search:focus {
  border: 2px solid #996A4D;
}

.new_trip {
  width: 100%;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px;
}

.new_trip h3 {
  padding: 20px 0;
}

.new_trip .container {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new_trip .container .left_block {
  overflow: hidden;
  border-radius: 15px;
  width: 50%;
  margin-right: 40px;
}

.new_trip .container .right_block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new_trip .container .right_block .upper {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 48px;
}

.new_trip .container .right_block .down {
  border-radius: 15px;
  overflow: hidden;
}

.left_block .trip_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  max-height: 500px;
}

.left_block .trip_item .pic {
  height: 50%;
}

.left_block .trip_item .pic img {
  width: 100%;
}

.left_block .trip_item .content {
  height: 50%;
  padding: 60px 20px 30px 20px;
  background-color: #FAF9F2;
  position: relative;
}

.left_block .trip_item .content .avatar img {
  border: 6px solid white;
  width: 25%;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.left_block .trip_item .content .star_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

.left_block .trip_item .content .star_num p {
  margin: 0 0 0 10px;
}

.left_block .trip_item .content h4.intro {
  max-height: 55px;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'regular';
  overflow: hidden;
}

.right_block .trip_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  max-height: 500px;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 31vh;
  max-height: 250px;
}

.right_block .trip_item .pic {
  height: 50%;
}

.right_block .trip_item .pic img {
  width: 100%;
}

.right_block .trip_item .content {
  height: 50%;
  padding: 60px 20px 30px 20px;
  background-color: #FAF9F2;
  position: relative;
}

.right_block .trip_item .content .avatar img {
  border: 6px solid white;
  width: 25%;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.right_block .trip_item .content .star_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

.right_block .trip_item .content .star_num p {
  margin: 0 0 0 10px;
}

.right_block .trip_item .content h4.intro {
  max-height: 55px;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'regular';
  overflow: hidden;
}

.right_block .trip_item .pic {
  width: 50%;
}

.right_block .trip_item .content {
  width: 50%;
  height: 100%;
  padding: 2px 20px 30px 20px;
}

.right_block .trip_item .content .avatar img {
  border: 2px solid white;
  width: 25%;
  position: static;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 30px;
}

.right_block .trip_item .content .star_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right_block .trip_item .content h4.intro {
  max-height: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */