@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*input number消除旁邊箭頭*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none !important;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

@font-face {
  font-family: 'en';
  src: url(../../font/DejaVuSansCondensed.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(../../font/NotoSansTC-Light.otf);
}

h2 {
  font-size: 32px;
  font-family: 'regular';
}

h3 {
  font-size: 26px;
  font-family: 'regular';
}

h4 {
  font-size: 16px;
  font-family: 'regular';
}

p {
  font-size: 14px;
  font-family: 'regular';
}

h4 {
  line-height: 26px;
}

p {
  line-height: 20px;
}

@media all and (max-width: 576px) {
  h2 {
    font-size: 26px;
    font-family: 'regular';
  }
  h3 {
    font-size: 22px;
    font-family: 'regular';
  }
  h4 {
    font-size: 16px;
    font-family: 'regular';
  }
  p {
    font-size: 12px;
    font-family: 'regular';
  }
  .p_tiny {
    font-size: 10px;
    font-family: 'regular';
  }
  p {
    line-height: 18px;
  }
}

h1 {
  margin: 25px;
  display: none;
}

h1 img {
  height: 37px;
}

@media all and (max-width: 576px) {
  h1 {
    display: block;
  }
}

a, img, input {
  display: inline-block;
}

.btnL {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 212px;
  height: 42px;
  line-height: 42px;
  background-color: #996A4D;
  color: #F7F9F2;
}

.btnL:hover {
  background-color: #77523c;
}

.btnL_light {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 212px;
  height: 42px;
  line-height: 42px;
  background-color: #F7F9F2;
  color: #996A4D;
  filter: drop-shadow(0 0 8px #afafaf);
}

.btnL_light:hover {
  background-color: #f5f7ef;
}

.btnL_light:active {
  box-shadow: inset 0 0 8px #afafaf;
  filter: drop-shadow(0 0 0 #afafaf);
}

.btnL_line {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 212px;
  height: 42px;
  line-height: 42px;
  background-color: white;
  border: 1px solid #996A4D;
  color: #996A4D;
  border-radius: 5px;
}

.btnL_line:active {
  background-color: #f2f2f2;
}

.btnM {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  height: 42px;
  line-height: 42px;
  background-color: #996A4D;
  color: #F7F9F2;
}

.btnM:hover {
  background-color: #77523c;
}

.btnM_light {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  height: 42px;
  line-height: 42px;
  background-color: #F7F9F2;
  color: #996A4D;
}

.btnM_light:hover {
  background-color: #e2e9cf;
}

.btnM_line {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  height: 42px;
  line-height: 42px;
  background-color: white;
  border: 1px solid #996A4D;
  color: rgba(0, 0, 0, 0.8);
}

.btnM_line:active {
  background-color: #f2f2f2;
}

.btnS {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px;
  background-color: #996A4D;
  color: #F7F9F2;
}

.btnS:hover {
  background-color: #77523c;
}

.btnS_line {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: 400;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border: 1px solid #996A4D;
}

.btnS_line:hover {
  background-color: #e6e6e6;
}

@media all and (max-width: 576px) {
  .btnL, .btnL_light, .btnM, .btnM_light, .btnM_line, .btnS {
    border-radius: 5px;
  }
}

.loginMemberPage_Body {
  padding-top: 85px;
  border: 1px solid black;
  margin: 0 auto;
  max-width: 1280px;
}

.loginMemberPage_main {
  max-width: 540px;
  border: 1px solid blue;
  margin: 0 auto;
}

.loginInner {
  display: flex;
  position: relative;
}

.loginInner img {
  max-width: 100%;
}

.loginInner_block {
  position: absolute;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 105px;
  border: 1px solid lightpink;
}

h2 {
  padding-bottom: 40px;
}

input {
  border: 1px solid #996A4D;
  outline: none;
  appearance: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

input:focus {
  border: 2px solid #996A4D;
}

.loginSitch {
  width: 30%;
  border: 1px solid lightpink;
}

#right {
  margin-left: 100px;
}

#member {
  display: flex;
}

.memberborder {
  width: 120px;
}

.memberborder a {
  width: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  cursor: pointer;
}

.memberborder.active a {
  color: #996A4D;
  border-bottom: 1px solid #996A4D;
}

#memberInfoTitle {
  display: flex;
}

#memberInfoImg {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 100px;
}

#memberInfoMain {
  display: flex;
  margin-top: 50px;
}

.nameBorder {
  display: flex;
  border: 1px solid #996A4D;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.nameBorder:last-child {
  margin-bottom: 0;
}

.memberInfoName {
  padding: 10px;
  background-color: #F7F6F2;
  width: 100px;
  font-size: 14px;
}

.memberInfoVal {
  padding: 10px;
  font-size: 14px;
}

#memberEditBtn {
  width: 50px;
  height: 30px;
  border: 1px solid gray;
  background-color: #F7F6F2;
  cursor: pointer;
  text-align: center;
  line-height: initial;
}

#loveContent {
  display: flex;
  margin-top: 50px;
  width: 1230px;
  flex-wrap: wrap;
}

#loveContent .loveContentBorder {
  width: 600px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  background-color: #F7F6F2;
}

#loveContent .loveContentBorder p {
  margin-top: 30px;
}

#loveContent .loveContentBorder:nth-child(2n) {
  margin-left: 30px;
}

#loveContent .loveContentBorder:nth-child(3n),
#loveContent .loveContentBorder:nth-child(4n) {
  margin-top: 30px;
}

.loveImg {
  height: 100%;
}

.headImg {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 100%;
}

.cardBorder {
  display: flex;
}

.loveContents {
  margin-left: 50px;
  margin-top: 30px;
}

.loveContentsTop {
  display: flex;
  align-items: flex-end;
}

.StarAndFrom {
  display: flex;
  margin-left: 20px;
}

.TopRithtLove {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.TopRithtLove svg {
  width: 20px;
  height: 20px;
}

.loveNumberNav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.loveNumberNav .loveNavs {
  display: flex;
}

.loveNumberNav .loveNavs div {
  margin: 0 10PX;
}

.loveNumberNav .loveNavs .loveLeft,
.loveNumberNav .loveNavs .loveRight {
  border: 1px solid #996A4D;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  cursor: pointer;
}

.loveNumberNav .loveNavs .mid {
  line-height: 1.5;
}

.historyContents {
  margin-top: 5px;
  margin-left: 50px;
  width: 330px;
}

.timeAndcomment {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.joinContents {
  margin-left: 50px;
  margin-top: 5px;
}

.gotravel {
  flex-direction: column;
}

#joinStarAndFrom {
  display: flex;
}

.joinComment {
  margin-bottom: 30px;
}

.joinTime {
  margin-top: 10px;
  font-size: 20px;
}

.joinP {
  margin-top: 6px !important;
}
/*# sourceMappingURL=style.css.map */