#right {
    margin-left: 100px;
}

//member

#member {
    display: flex;


}

.memberborder {
    width: 120px;

    a {
        width: 100%;
        text-decoration: none;
        color: $main_word;
        padding: 10px;
        cursor: pointer;
    }
}

.memberborder.active {
    a {
        color: $main_br;
        border-bottom: 1px solid $main_br;
    }
}

#memberInfoTitle {
    display: flex;
}

#memberInfoImg {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 100px;
}

#memberInfoMain {
    display: flex;
    margin-top: 50px;
}

.nameBorder {
    display: flex;
    border: 1px solid $main_br;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }
}

.memberInfoName {
    padding: 10px;
    background-color: $sec_ivory;
    width: 100px;
    font-size: 14px;
}

.memberInfoVal {
    padding: 10px;
    font-size: 14px;

}

#memberEditBtn {
    width: 50px;
    height: 30px;
    border: 1px solid gray;
    background-color: $sec_ivory;
    cursor: pointer;
    text-align: center;
    line-height: initial;
}



// love
#loveContent {
    display: flex;
    margin-top: 50px;
    width: 1230px;
    flex-wrap: wrap;

    .loveContentBorder {
        width: 600px;
        height: 200px;
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        background-color: $sec_ivory;

        p {
            margin-top: 30px;
        }
    }

    .loveContentBorder:nth-child(2n) {
        margin-left: 30px;
    }

    .loveContentBorder:nth-child(3n),
    .loveContentBorder:nth-child(4n) {
        margin-top: 30px;
    }
}



.loveImg {
    height: 100%;
}

.headImg {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 100%;
}

.cardBorder {
    display: flex;
}

.loveContents {
    margin-left: 50px;
    margin-top: 30px;
}

.loveContentsTop {
    display: flex;
    align-items: flex-end;
}

.StarAndFrom {
    display: flex;
    margin-left: 20px;

}

.TopRithtLove {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
    }
}

.loveNumberNav {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .loveNavs {
        display: flex;

        div {
            margin: 0 10PX;
        }

        .loveLeft,
        .loveRight {
            border: 1px solid $main_br;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            text-align: center;
            display: flex;
            justify-content: center;
            line-height: 1.5;
            cursor: pointer;
        }

        .mid {
            line-height: 1.5;
        }
    }
}


// history

.historyContents {
    margin-top: 5px;
    margin-left: 50px;
    width: 330px;
}

.timeAndcomment {

    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


// join

.joinContents {
    margin-left: 50px;
    margin-top: 5px;

}

.gotravel {
    flex-direction: column;

}

#joinStarAndFrom {
    display: flex;
}

.joinComment {
    margin-bottom: 30px;
}

.joinTime {
    margin-top: 10px;
    font-size: 20px;
}

.joinP {
    margin-top: 6px !important;
}

//abc











//