// 抓回上面的85px
.postcard_Body{
    padding-top: 85px;
    // background-color: $main_br;
    border: 1px solid black;
    margin: 0 auto;
    max-width: 1280px;
}

.index_postcard_block{
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.index_postcard_BG{
    max-width: 100%;

}
.index_postcard_pointer{
    display: inline-flex;
    position: absolute;
    border: 1px solid lightpink;
    cursor: pointer;
    &:hover{
        display: none;
    }
}
.index_postcard_pointer_hover{
    position: absolute;
    border: 1px solid lightpink;
    cursor: pointer;
    display: none;
    &:hover{
        display: flex;
    }
}
