.read_more{
    color: #202B36;
}
.read_more:hover{
    color: blue;
    cursor: pointer;
}
.cart_mb_none{
    @include mobile{
        display: none;
    }
}

// 結帳--------


.main_cart_container{
    width: 100%;
    h5{
        margin: 15px auto;
    }
    hr{
        margin: 30px auto;
    }
    .cart_hr_mb{
        display:none;
        @include mobile{
            display: block;
        }
    }

    .p_bold_mb{
        font-size: 14px;
        font-weight:bold;
    }
    .p_underline_mb{
        text-decoration: none;
        @include mobile{
            text-decoration: underline;
        }
    }

    // --------左區塊

    .cart_left_side{
        display: inline-block;
        width: 60%;
        margin:0 5%;
        @include mobile{
            width:90%;
        }
        .cart_title{
            display: flex;
            flex-direction: row;
            vertical-align: middle;
            margin-top: 50px;
            img{
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }
        }

        .cart_mobile{
            display: none;
            @include mobile{
                display: flex;
            }
            flex-direction: row;
            padding: 0 30px;

            .cart_pic_mb{
                width: 160px;
                height: 150px;
                background-image: url('../../images/travel_info/photo-1489447068241-b3490214e879.jpg');
                background-size: cover;
            }
            .cart_text_mb{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 160px;
                margin-left: 10px;
                .down_mb{
                    align-content: flex-end;
                    .exp_mb{
                        display: flex;
                        flex-direction: row;
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        .payment_info{
            @include mobile{
                padding: 0 30px;
            }
            h5{
                margin: 10px auto;
            }
        }

        .payment_count_mb{
            display: none;
            padding: 0 30px;
            @include mobile{
                display: flex;
                flex-direction: column;
                margin: 10px auto 10px auto;

                .count_edit_mb{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .p_underline_mb{
                        font-size: 12px;
                        text-decoration: underline;
                        margin-right: 15px;
                    }
                }
            }
        }

        .payment_chartered{
            @include mobile{
                padding: 0 30px;
            }
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            .text{
                display: block;
            }
            .chartered_toggle{
                display: flex;
                img{
                    width: 80px;
                    height: 20px;
                }
            }
        }
        .payment_count{
            display: flex;
            text-align: left;
            border: 1px solid #996A4D;
            border-radius: 25px; 
            width: 60%;
            padding: 10px 20px;
            margin-top: 20px;
            @include mobile{
                display: none;
            }
            .mix{
                display: flex;
                flex-direction: row;
                width: 80px;   
                img{
                    width: 25px;
                    height: 25px;
                }
                p{
                    margin-left: 10px;
                    vertical-align: middle;
                }
            }
            .down{
                flex: 1;
                text-align: right;
            }

        }

        .price_mb{
            display: none;
            padding: 0 30px;
            @include mobile{
                display: flex;
                flex-direction: column;
                padding: 0 30px;
                h5{
                    margin: 15px 0 15px 0;
                }
                .var_calc_mb, .var_price_mb{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }
            }
        }

        .payment_notice_mb{
            display: none;
            padding: 0 30px;
            @include mobile{
                display: block;
            }
        }

        .user_info{
            @include mobile{
                padding: 0 30px;
            }
            h5{
                display: block;
                @include mobile{
                    display: none;
                }
            }
            .p_h5_mb{
                @include mobile{
                    margin: 15px auto;
                    font-size: 16px;
                }
            }
            .phone_number{
                display: flex;
                text-align: left;
                border: 1px solid #996A4D;
                border-radius: 25px; 
                width: 60%;
                padding: 10px 20px;
                margin-top: 20px;
                @include mobile{
                    border-radius: 10px;
                }
                .mix{
                    display: flex;
                    flex-direction: row;
                    width: 80px;   
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    p{
                        margin-left: 10px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .payment_notice{
            display: block;
            @include mobile{
                display: none;
            }
        }

        .payment{
            @include mobile{
                display: none;
            }
            .payment_credit_card{
                display: flex;
                text-align: left;
                border: 1px solid #996A4D;
                border-radius: 25px; 
                width: 90%;
                padding: 10px 20px;
                margin-top: 20px;
                .mix{
                    display: flex;
                    flex-direction: row;
                    width: 80px;   
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    p{
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
                .plus{
                    flex: 1;
                    text-align: right;
                }
            }
        }       
        .pay_with_coupon{
            @include mobile{
                display: none;
            }
            .use_coupon{
                display: flex;
                text-align: left;
                border: 1px solid #996A4D;
                border-radius: 25px; 
                width: 90%;
                padding: 10px 20px;
                margin: 20px 0 20px 0;

                .mix{
                    display: flex;
                    flex-direction: row;
                    width: 80px;   
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    p{
                        vertical-align: middle;
                        margin-left: 10px;
                        white-space: nowrap;
                    }
                }
                .plus{
                    flex: 1;
                    text-align: right;
                }
            }

        }

        .payment_mb{
            display: none;
            padding: 0 30px;
            @include mobile{
                display: flex;
                flex-direction: column;
                .mix_mb{
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 30px;
                        height: 30px;
                        vertical-align: middle;
                    }
                    p{
                        margin-left: 5px;
                    }
                }
                h5{
                    margin: 20px 0 10px 0;
                }
                .payment_hr{
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .policy_mb{
            display: none;
            padding: 0 30px;
            @include mobile{
                display: block;
            }
        }

        .confirm{
            @include mobile{
                padding: 0 30px;
            }
            .btnL{
                color: white;
                margin: 20px 0 50px 0;
                @include mobile{
                    width: 100%;
                    margin: 20px auto 20px auto;
                }
            }  
        }
     
    }

    // 右區塊--------
    .cart_right_side{
        @include mobile{
            display: none;
        }
        display: inline-block;
        width: 25%;
        margin: 10px auto;
        padding: 0;
        border-radius: 25px;
        position: -webkit-sticky;
        position: sticky;
        bottom: 10px;
        list-style: none;
        li{
            width: 100%;
            a.item_info {
                text-decoration: none;
                width: 100%;
                border-radius: $borderRadius_cd;
                overflow: hidden;
    
                .travel_item{
                    display: flex;
                    flex-direction: column;
                    max-height: 530px;
                    .pic0 {
                        height: 100px;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                
                        img {
                            width: 100%;
                        }
                    }                    
                    .content {
                        height: 70%;
                        padding: 60px 20px 30px 20px;
                        background-color: #FAF9F2;
                        position: relative;
                        }
                        .avatar img {
                            border: 6px solid white;
                            width: 120px;
                            height: 120px;
                            border-radius: 50%;
                            position: absolute;
                            top: -25%;
                            left: 50%;
                            transform: translate(-50%, 80%);
                        }
                    
                        .star_num {
                            display: flex;
                            flex-direction: row;
                            padding: 10px 0;
                            p {
                                margin: 0 0 0 10px;
                            }
                        }
                    
                        h4.intro {
                            font-size: 16px;
                            margin-bottom: 10px;
                            font-family: 'regular';
                            overflow: hidden;
                        }
                        h5{
                            margin: 10px auto;
                        }
                        p{
                            font-size: 12px;
                            margin: 3px auto;
                        }
                        .counting, .total_price{
                            justify-content: space-between;
                        }
                    }
                
                .pic_00{
                    background-image: url(../../images/travel_info/photo-1489447068241-b3490214e879.jpg);
                    background-position: center;
                }
                .content{
                    padding: 40px 20px 80px 20px;
                    .avatar img{
                    width: 100px;
                    height: 100px;
                    top: -30%;
                    object-fit: cover;
                    } 
                    .counting, .total_price{
                        display: flex;
                        flex-direction: row;
                    }
                    .row_bar{
                        margin: 5px auto;
                    }
                    .policy{
                        font-size: 5px;
                    }                   
                }
            }
            a.item_info:hover{
                color: black;
                font-weight: normal;
            }
        }
    }
}

.cart_function_go_top{
    width: 100%;
    text-align: right;
    #info_go_top {
        width: 30px;
        height: 150px;
        cursor: pointer;
        margin-right: 35px;
        margin-bottom: 30px;    
        @include tablet {
            margin-right: 22px;
        }
    
        @include ipad {
            margin-right: 16px;
        }
    
        @include mobile{
            margin-right: 14px;
            margin-bottom: 50px;
        }
    }
}