.enterpage_Body{
    // border: 1px solid black;
    margin: 0 auto;
    // h3{
    //     color: red;
    // }
    .enterPage_container{
        width: 100%;
        height: 100vh;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-image: url(./images/enterPage/enterpageBg.png);
        .enter_choose_area{
            // margin: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            // border: 1px solid black;
            height: 400px;
            .front_block{
                width: 280px;
                height: 280px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid $main_br;
                border-radius: 50%;
                background-color: white;
                .front_Title{
                    font-size: 48px;
                    font-weight: 500px;
                    color: $main_br;
                }
            }
            .slide_logo_block{
                position: relative;
                width: 85px;
                cursor: pointer;
                // border: 1px solid red;
                img{
                    width: 100%;
                }
                .slide_pointer{
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    // border: 1px solid red;
                    bottom: 0;
                    left: 0;
                    transform: translateY(70%);
                }
            }
        }
        .enter_choose_text{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(50%);
            margin: 20px;
            // border: 1px solid red;

        }
    }
}