// pointer btn
@mixin pointer {
    display: flex;
    // position: absolute;
    z-index: 11;
    border-radius: 50%;
    // border: 1px solid lightpink;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 4px 1px $main_grey;
        circle{
            fill: $sec_grey;
            @include mobile{
                
            }
        }
        path{
            fill: $main_br;
        }
        // .text_show{
            
        // }
    }
    
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(0, -3px);
    }

    70% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes float_col {
    0% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(-3px, 0);
    }

    70% {
        transform: translate(5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

// 抓回上面的85px
.postcard_Body{
    // padding-top: 85px;
    padding-bottom: 0px;
    // border: 1px solid black;
    margin: 0 auto;
    @include mobile{
        padding-top: 0;
    }
}

.postcard_page_change{
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    // display: flex;
    @include mobile{
        margin-bottom: 100px;
    }
    // right: 0;
    // bottom: 0;
    // height: 100vh;
    // position: relative;
    // display: flex;
    // flex-direction: column;
}

.index_postcard_block{
    // border: 1px solid red;
    width: 100%;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    cursor: pointer;
    .index_postcard_BG{
        width: 100%;
        display: flex;
        img{
            width: 100%;
        }
    }
    .main_postcard_block{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 100%;
        // border: 1px solid red;

        .textblock{
            > h2{
                font-family: 'blod';
                opacity: 0;
                text-shadow: 0px 0px 3px $sec_ivory;
                @include mobile{
                    display: none;
                }
            }
        }
        .index_postcard_pointer{
            display: flex;
            flex-direction: column;
            // border: 1px solid red;
            align-items: center;
            @include pointer;
        }
        .text_show{
            // position: absolute;
            // border: 1px solid red;
            margin-top: 20px;
            // padding-top: 50px;
            opacity: 0;
            @include mobile{
                display: none;
            }
        }
    }
}

.phone_text_block{
    display: none;
    background-color: $sec_ivory;

    @include mobile{
        width: 100%;
        // height: 400px;
        background-color: $sec_ivory;
        padding: 42px;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
        h3{
            // font-size: 21px;
            font-family: 'blod';
            margin-bottom: 20px;
            // border: 1px solid green;
        }
    }
}

// choose block
.choose_img_block{
    width: 100%;
    // border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    >.choose_img_title{
        width: 100%;
        text-align: center;
        margin: 45px;
    }
    >.choose_card_block{
        width: 80%;
        display: flex;
        margin: 20px;
        // align-items: center;
        // border: 1px solid blue;
        justify-content: space-between;

        @include tablet{
            width: 75%;
            flex-wrap: wrap;
        }
        @include ipad{
            width: 90%;
            flex-wrap: wrap;
            // flex-direction: column;
            align-items: center;
        }
        @include mobile{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        >.card_block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 270px;
            // border: 1px solid green;
            border-radius: 15px;
            background-color: $main_ivory;
            padding:  20px;
            // animation: float 2.5s infinite;
            &.card_block:nth-child(1){
                animation: float 4s cubic-bezier(.1,.1,.88,.88) infinite;}
            &.card_block:nth-child(2){
                animation: float 4.5s cubic-bezier(.1,.1,.88,.88) infinite;}
            &.card_block:nth-child(3){
                animation: float 5s cubic-bezier(.1,.1,.88,.88) infinite;}
            &.card_block:nth-child(4){
                animation: float 4s cubic-bezier(.1,.1,.88,.88) infinite;}
            @include tablet{
                margin: 20px 0;
            }
            @include ipad{
                margin: 20px 0;
            }
            @include mobile{
                margin: 20px 0;
            }
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;

            }
            >p{
                margin: 20px 0 20px 0;
            }

            &:hover{
                box-shadow: 3px 3px 3px hsla(210, 26%, 17%, .5);
            }
        }
    }
}
.next_btn{
    width: 80%;
    margin: 30px;
    display: flex;
    justify-content: flex-end;
    // border: 1px solid red;
}


// 明信片 背景圖
.postcardStart_block{
    width: 100%;
    // border: 1px solid blue;
    // margin: 0 auto;

    .Img_bg{
        width: 100%;
        // height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../../images/postcard/1280/africa01_1280-715.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        // opacity: .3;
        @include mobile{
            background-color: $sec_ivory;
            background-image: none;
        }
    }
}

// 明信片
.main_writting_block{
    width: 50%;
    // height: 500px;
    border: 3px solid blue;
    display: flex;
    // height: 100vh;
    background-color: white;
    position: relative;
    // background-image: url(../../images/postcard/bg_line.png);
    // background-repeat: no-repeat;
    background-position: bottom left 20px;
    // height: 500px;
    // padding: 30px;
    @include tablet{
        width: 80%;
    }
    @include ipad{
        width: 80%;
    }
    @include mobile{
        width: 100%;
    }
    >.main_writting_left{
        width: 60%;
        border: 1px solid red;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 25px;

        @include mobile{
            // width: 100%;
        }

        >.writting_title{
            width: 100%;
            // height: auto;
            border: 1px solid red;
            padding: 10px;
            padding-bottom: 15px;
            >.writting_art{
                width: 45%;
                // flex-wrap: nowrap;
                color: $the_ivory;
                background-color: $main_grey;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border-radius: 15px;
                animation: float 4s cubic-bezier(.1,.1,.88,.88) infinite;
                // margin-top: 10px;
                border: 1px solid red;

                transform: translateY(50%);
                >.writting_art_h4{
                    @include mobile{
                        display: none;
                    }
                }
            }
        }
        >.writting_bg{
            width: 100%;
            // height: 370px;
            // background-image: url(../../images/postcard/bg_line.png);
            // background-repeat: no-repeat;
            // background-position: center bottom 25px;
            background-color: lightgray;

            
            @include mobile{
                // height: 300px;
            }
            
            >.writting_area{
                max-width: 300px;
                height: 370px;
            background-color: lightgray;
            // -webkit-user-modify: read-write-plaintext-only;
            // overflow: hidden;
            padding: 10px;
            // background-color: transparent;
            white-space: pre-wrap;
            border: 1px solid red;

            // background-image: linear-gradient(white, white 34px, #ccc 30px, $main_grey, 36px, white 34px);
            background-image: linear-gradient(white, white 34px, #ccc 30px, #ccc 36px, white 34px);
            background-size: 100% 40px;
            line-height: 42px;
            font-size: 25px;
            font-family: 'mikadomedium';
            color: $main_br;
            resize: none;
            
            border: none;
            overflow: auto;
            outline: none;
            box-shadow: none;

            // background-color: linear-gradient(white, white 34px, #ccc 30px, $main_grey 36px, white 34px);
            @include mobile{
                // height: 300px;
            }
            }
        }
    }

    // 明信片
    .main_writting_right{
        width: 50%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        // height: 100vh;
        background-color: white;
        // position: relative;
        // height: 500px;
        padding: 0px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 25px;
        @include mobile{
            width: 50%;
        }
        
        
        >.choose_stamp_block{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            // border: 1px solid red;
            position: relative;
            padding-bottom: 20px;
            @include mobile{
                width: 100%;
                // padding-bottom: 10px;
            }
            .remind_stamp{
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 100%;
                z-index: 10;
                background-color: $main_grey;
                color: $the_ivory;
                position: absolute;
                animation: float_col 4s cubic-bezier(.1,.1,.88,.88) infinite;
                top: 10%;
                left: 20%;
                transform: translateX(55%);
                padding: 5px 15px;
                border-radius: 15px;
                // padding-bottom: 0;
                border: 1px solid red;
                >.remind_stamp_h4{
                    @include mobile{
                        display: none;
                    }
                }
            }
            .stamp_block{
                border: 1px solid red;
                position: relative;
                cursor: pointer;
                z-index: 10;
                width: 25%;
                
                @include mobile{
                    width: 50%;
                }
                img{
                    width: 100%;
                }
                }
            
            .seal_block{
                // border: 1px solid green;
                
                position: absolute;
                right: 30px;
                bottom: 0;
                width: 30%;
                z-index: 11;
                @include mobile{
                    width: 50%;
                }
                img{
                    width: 100%;
                }
            }
        }
        >.sentTO_block{
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            // align-items: flex-end;
            // border: 1px solid red;
            width: 70%;
            >.sentTO_block_grey{
                width: 72%;
                // flex-wrap: wrap;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $the_ivory;
                background-color: $main_grey;
                text-align: center;
                padding: 5px;
                border-radius: 15px;

                transform: translateY(20%);
                animation: float 4s cubic-bezier(.1,.1,.88,.88) infinite;
                @include mobile{
                    width: 40%;
                }
                >.sentTO_block_h4{
                    @include mobile{
                        display: none;
                    }
                }
            }
            >.typeTo_block{
                // border: 1px solid red;
                width: 100%;
                height: 80px;
                display: flex;
                @include mobile{
                    // width: 100%;
                // transform: translateX(40%);
                }
                >.sentTO_People{
                    border: 1px solid white;
                    // transform: translateX(40%);
                    // width: 70%;
                    background-image: linear-gradient(white, white 34px, #ccc 30px, $main_grey 36px, white 34px);
                    background-size: 100% 40px;
                    outline: none;
                    box-shadow: none;
                    line-height: 40px;
                    font-size: 16px;
                    color: $main_br;
                    resize: none;
                    text-rendering: auto;
                    letter-spacing: normal;
                    word-spacing: normal;
                    text-transform: none;
                    text-indent: 0px;
                    text-shadow: none;
                    display: inline-flex;
                    text-align: start;
                    appearance: auto;
                    flex-direction: column;
                    white-space: pre-wrap;
                    overflow-wrap: break-word;
                    overflow-wrap: break-word;
                    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
                    outline: none;
                    border: none;
                    font-family: 'mikadomedium';
                }
            }
        }
    }
}
// 明信片背面照片
.main_IMG_block{
    width: 50%;
    // max-width: 700px;
    border: 3px solid blue;
    // display: flex;
    // height: 100vh;
    background-color: $main_ivory;
    // height: 500px;
    @include tablet{
        width: 100%;
    }
    @include ipad{
        width: 100%;
    }
    @include mobile{
        width: 100%;
    }


    .IMG_block{
        border: 1px solid red;
        width: 100%;
        max-height: 95%;
        object-fit: cover;
        margin: 10px;
        display: flex;

        @include mobile{
            width: 100%;
            // height: 90%;
        }
        >img{
            width: 100%;
            display: flex;
            @include mobile{
                width: 100%;
            }
        }
    }
}

// 翻轉按鈕
.main_changeBtn_block{
    // width: 30%;
    // border: 1px solid blue;
    display: flex;
    // height: 100vh;
    // background-color: white;
    // height: 500px;
    padding-top: 10px;
    @include mobile{

    }

    .changeBtn{
        // border: 1px solid red;
        @include pointer;
        @include mobile{
            text-align: center;
            // width: 100%;
            margin: 0 auto;
        }
    }
}
// next 按鈕
.next_postcard_btn{
    width: 50%;
    margin: 20px;
    margin-right: 0px;
    text-align: end;
    // border: 1px solid red;
    @include mobile{
        width: 60%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        // width: 100%;
        margin: 30px auto;
    }
}

// 下載按鈕
.download_postcard_btn{
    // display: none;
    width: 50%;
    margin: 20px;
    margin-right: 0px;
    text-align: end;
    // border: 1px solid red;
    @include mobile{
        width: 60%;
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin: 20px auto;
    }
}


// 郵票彈窗
#stamp_outerDiv {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    width: 100%;
    height: 100%;
    #stamp_lightBox_bg{
        width: 100%;
        position: relative;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        display: flex;
        margin: 0 auto;
        align-items: center;
        
        .stamp_container{
            width: 50%;
            // border: 1px solid red;
            // height: 350px;
            margin: 0px auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-color: white;
            @include tablet{
                width: 80%;
                // padding: 10px;
            }
            @include ipad{
                width: 100%;
            }

            @include mobile{
                width: 100%;
                padding: 10px;
            }

            >.stamp_5{
                margin: 20px auto;
                width: 90%;
                display: flex;
                justify-content: space-between;
                // border: 1px solid red;
                cursor: pointer;
                // height: 80%;
                @include tablet{
                    // width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                @include ipad{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                @include mobile{
                margin: 20px auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                img{
                    max-width: 100px;
                    // &:hover{
                        // box-shadow: 3px 3px 3px cadetblue;
                    // }
                }
            }
            >.stamp_next_btn{
                margin: 20px auto;
                display: flex;
                justify-content: flex-end;
                width: 90%;
                // border: 1px solid red;
            }
        }
    }
}

