body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

// ***** 旅遊卡片 *****
@mixin tripcard {
    display: flex;
    flex-direction: column;
    height: 70vh;
    max-height: 530px;

    .pic {
        height: 50%;
        display: flex;
        justify-content: flex-end;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        // border: 2px solid red;
        height: 50%;
        padding: 60px 20px 30px 20px;
        background-color: #FAF9F2;
        position: relative;

        .avatar img {
            border: 6px solid white;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: absolute;
            top: -25%;
            left: 50%;
            transform: translateX(-50%);
        }

        .the_icon {
            // border: 2px solid red;
            display: flex;
            position: absolute;
            right: 10px;
            top: 10px;
            margin-left: 5px;

            @include mobile {
                // border: 2px solid red;

                right: 2px;
                // margin-left: 1px;

            }

            .share {
                @include mobile {
                    svg {
                        // border: 2px solid red;
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .fav {
                margin-left: 10px;

                @include mobile {
                    svg {
                        // border: 2px solid red;
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }

        .the_star_num {
            display: flex;
            flex-direction: row;
            padding: 10px 0;

            p.star_get, p.area {
                // border: 2px solid brown;
                margin: 0 0 0 10px;
            }
        }

        h4.trip_intro {
            // border: 2px solid red;
            max-height: 55px;
            font-size: 16px;
            color:rgba(0, 0, 0, 0.8);
            margin-bottom: 20px;
            font-family: 'regular';
            overflow: hidden;
            font-weight: bold;

            
            @include mobile {
                font-size: 14px;
            }
        }
        h4.trip_intro:hover {
            font-weight: bold;
        }

        p {
            font-size: 6px;
        }
    }
}

.banner {
    width: 100%;
    height: calc(100vh - 85px - 50px);
    position: relative;
    overflow: hidden;

    @include mobile {
        height: calc(100vh - 85px - 20px);

    }

    .trip_intro {
        // border: 2px solid blue;
        padding: 20px;
        background: rgba(254, 254, 254, 0.574);
        position: absolute;
        left: 10%;
        bottom: 40%;
        z-index: 1;

        h2.list_title {
            font-weight: bold;
            text-align: left;
            margin-left: 0;
        }

        h5.list_subtitle {
            line-height: 1.5;
        }
    }

    .bg_img {
        width: 100%;
        height: 800%;
        /* 寬度可以拉大測試，看要多大 */
        background-image: url(../../images/travel_list/banner_bg.jpg);
        background-size: auto 90%;
        background-repeat: repeat-y;
        animation: bgscrolldown 50s linear infinite;
        transform: translateY(0%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        @include laptop {
            background-size: auto 70%;
        }

        @include tablet {
            background-size: contain;
        }

        @include ipad {
            background-size: contain;
        }

        @include mobile {
            background-size: contain;
            // transform: translateX(-400%);
        }
    }
}

@keyframes bgscrolldown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.travel_filters {
    background-color: #FAF9F2;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 40px;


    @include tablet {
        // border: 2px solid orange;
        padding: 10px 10px
    }

    // @include tablet {
    //     border: 2px solid red;
    //     height: 100px;
    // }
    @include ipad {
        // border: 2px solid orange;
        height: 120px;
    }

    @include mobile {
        justify-content: center;

        flex-direction: column-reverse;
        height: 180px;
        padding: 5px 5px
    }

    .content {
        // border: 2px solid red;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        ul.filter1,
        ul.filter2 {
            // border: 2px solid black;
            width: 280px;
            display: flex;

            // @include laptop{
            // border: 2px solid black;
            //     width: 280px;
            // }
            @include tablet {
                // border: 2px solid pink;
                width: 265px;
            }

            @include ipad {
                width: 100%;
                padding: 10px 0;
            }

            @include mobile {
                width: 100%;
                padding: 10px 0;
            }

            li {
                margin: 0px 0 0 10px;

                @include mobile {
                    margin: 5px 2px;
                }
            }
        }

        ul.filter2 {
            width: 60%;

            @include laptop {
                // border: 2px solid pink;
                width: 500px;
            }

            @include tablet {
                // border: 2px solid pink;
                width: 380px;
            }

            @include ipad {
                border-top: 2px solid lightgrey;
                width: 380px;
                padding: 10px 0;

            }

            @include mobile {
                border-top: 2px solid lightgrey;
                width: 100%;
            }
        }

        ul.filter1 {
            li:nth-child(3) {
                border-right: 2px solid grey;
                padding-right: 20px;
            }

            // @include tablet {
            //     li:nth-child(3) {
            //         border: 0;
            //     }
            // }
            @include ipad {
                li:nth-child(3) {
                    border: 0;
                }
            }

            @include mobile {
                li:nth-child(3) {
                    border: 0;
                }
            }
        }
    }

    input.trip_search {
        @include form;
        padding-left: 40px;
        margin-top: 0;
        width: 200px;
        height: 30px;
        right: 5px;
        background-image: url(../../images/icon/search.svg);
        background-repeat: no-repeat;
        background-position: 10px center;

        @include tablet {
            width: 12%;
            padding-left: 28px;
        }

        @include ipad {
            width: 30%;
        }

        @include mobile {
            width: 100%;
        }
    }

}


// ========= 最新旅遊區塊 =========
.the_new_trip {
    // border: 2px solid red;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    padding: 40px 40px;

    @include mobile {
        // border: 2px solid red;
        padding: 5px;

    }

    h3 {
        font-weight: bold;
        padding: 20px 0 40px 0;
    }

    .container {
        // border: 2px solid red;
        width: 100%;
        padding: 0;
        display: flex;

        .left_block {
            overflow: hidden;
            border-radius: $borderRadius_cd;
            width: 50%;
            margin-right: 10px;
        }

        .right_block {
            width: 50%;
            display: flex;
            flex-direction: column;

            .upper_area {
                border-radius: $borderRadius_cd;
                overflow: hidden;
                margin-bottom: 28px;
            }

            .down_area {
                border-radius: $borderRadius_cd;
                overflow: hidden;
            }
        }

        @include mobile {
            flex-direction: column;

            .left_block {
                overflow: hidden;
                border-radius: $borderRadius_cd;
                width: 100%;
                margin-right: 40px;
            }

            .right_block {
                width: 100%;
                display: flex;


                .upper_area {
                    width: 100%;
                    margin-top: 20px;

                }

                .down_area {
                    width: 100%;
                    border-radius: $borderRadius_cd;
                    overflow: hidden;
                }
            }
        }
    }
}

.left_block .trip_item {
    @include tripcard();
}

.left_block .trip_item:hover {
    transform: scale(1.02);
}
.right_block .trip_item {
    @include tripcard();
    flex-direction: row;
    justify-content: space-between;
    height: 33vh;
    max-height: 250px;

    .pic {
        width: 50%;
        height: 100%;
    }

    .pic.upper {
        background-image: url(../../images/travel_list/500/africa_elephant.jpg);
        background-position: center;
    }

    .pic.down {
        background-image: url(../../images/travel_list/500/louvre.jpg);
    }

    .content {
        // border: 2px solid red;
        width: 50%;
        height: 100%;
        padding: 2px 20px 30px 20px;

        .avatar img {
            border: 2px solid white;
            width: 70px;
            height: 70px;
            position: static;
            border-radius: 50%;
            margin-top: 10px;
            margin-left: 30px;
        }

        .the_star_num {
            display: flex;
            flex-direction: row;
        }

        h4.intro {
            // border: 2px solid blue;
            font-size: 16px;
            max-height: 50px;
            overflow: hidden;
            margin-bottom: 20px;
        }
        h4.intro:hover {
            font-weight: bold;
        }
        p.startprice{
            // border: 2px solid red;
            font-size: 12px;
        }
    }
}
.right_block .trip_item:hover {
    transform: scale(1.02);
}

// ========= 最獲好評的旅遊 =========
// .the_best_trip {
//     width: 100%;
//     max-width: 1200px;
//     box-sizing: border-box;
//     margin: 0 auto;
//     justify-content: center;
//     padding: 40px 40px;

//     h3 {
//         font-weight: bold;
//         padding: 20px 0 40px 0;
//     }

//     .slider_arrow {
//         // border: 2px solid red;
//         margin-bottom: 20px;
//         width: 180px;
//         float: right;
//         display: flex;
//         align-items: center;

//         div {
//             margin-left: 20px;
//             cursor: pointer;
//             display: inline-block;
//         }
//     }

//     .container {
//         border: 2px solid red;
//         width: 100%;
//         padding: 0;
//         display: flex;
//         justify-content: space-between;

//         li {
//             width: 23%;

//             a {
//                 width: 100%;
//                 // border: 2px solid red;
//                 border-radius: $borderRadius_cd;
//                 overflow: hidden;

//                 .trip_item {
//                     @include tripcard();
//                     max-height: 350px;

//                     .content {
//                         padding: 40px 20px 80px 20px;

//                         .avatar img {
//                             width: 100px;
//                             height: 100px;
//                             top: -30%;
//                         }

//                         h4.intro {
//                             max-height: 50px;
//                             overflow: hidden;
//                             margin-bottom: 10px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// ========= 本月主打的旅遊 =========
.the_main_trip {
    // border: 2px solid blue;
    width: 100%;
    height: 450px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    padding: 40px 40px;

    @include mobile {
        // border: 2px solid red;
        padding: 5px;

    }

    h3 {
        font-weight: bold;
        padding: 20px 0 40px 0;
    }

    .slider_arrow {
        margin-bottom: 20px;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p.slider_count {
            // border: 2px solid red;
            margin-right: 100px;
        }
    }

    .item {
        // border: 2px solid blue;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;


        a {
            // border: 2px solid brown;
            width: 100%;
            height: 250px;
            overflow: hidden;
            margin-right: 20px;

            // border: 2px solid red;
            .trip_item {
                // border: 2px solid blue;
                border-radius: $borderRadius_cd;
                width: 100%;
                height: 100%;

                max-height: 600px;
                display: flex;
                overflow: hidden;
                position: relative;

                .pic {
                    // border: 2px solid red;

                    .share {
                        background-image: url(../../images/icon/share.svg);
                    }

                    .fav {
                        background-image: url(../../images/icon/like.svg);
                    }
                }


                img {
                    // border: 3px solid brown;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    object-fit: cover;
                }

                .content {
                    // border: 2px solid green;
                    position: absolute;
                    max-height: 250px;
                    z-index: 2;
                    padding: 40px 20px 80px 20px;

                    p.subject {
                        // border: 2px solid red;
                        margin-bottom: 20px;
                        font-weight: bold;
                    }

                    p.txt {
                        // border: 2px solid red;
                        width: 80%;
                        padding: 10px;
                        margin-bottom: 30px;
                        font-size: 24px;
                        line-height: 30px;
                        background-color: #ffffff9d;

                        @include mobile {
                            font-size: 18px;
                        }
                    }

                    button {
                        @include btn_s;
                    }

                }
            }
        }

    }
}

// ========= 最獲好評的旅遊 & 近期瀏覽旅遊 =========
.the_best_trip,
.the_viewed_trip {
    // border: 3px solid red;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;

    @include mobile {
        // border: 2px solid red;
        padding: 5px;

    }

    h3 {
        font-weight: bold;
        padding: 20px 0 40px 0;
    }

    .slider_arrow {
        // border: 2px solid red;
        margin-bottom: 20px;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p.slider_count {
            // border: 2px solid red;

            margin-right: 100px;
        }
    }

    .item {
        width: 100%;

        a {
            width: 100%;
            // border: 2px solid red;
            border-radius: $borderRadius_cd;
            overflow: hidden;

            .trip_item {
                @include tripcard();
                max-height: 350px;

                .content {
                    height: 50%;
                    padding: 50px 20px 30px 20px;
                    background-color: #FAF9F2;
                    position: relative;

                    .avatar img {
                        border: 6px solid white;
                        // border: 2px solid red;
                        object-fit: cover;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        position: absolute;
                        top: -30%;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .the_star_num {
                        // border: 20px solid red;
                        display: flex;
                        flex-direction: row;
                        padding: 0;

                        img {
                            width: 15px;
                        }

                        @include mobile {
                            img {
                                width: 8px;
                            }
                        }
                        p.star_get, p.area {
                            // border: 2px solid brown;
                            margin: 0 0 0 10px;
                        }
                    }

                    h4.intro {
                        max-height: 55px;
                        font-size: 14px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                        font-family: 'regular';
                        color: rgba(0, 0, 0, 0.8);
                        overflow: hidden;
                        font-weight: bold;

                        @include mobile {
                            font-size: 12px;
                        }
                    }

                    p.startprice {
                        // border: 2px solid red;
                        font-size: 8px;
                        color: rgba(0, 0, 0, 0.8);

                        @include mobile {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

// ========= 分類旅遊 =========
.the_cat_trip{
    // border: 3px solid red;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding: 40px 40px;

    @include mobile {
        // border: 2px solid red;
        padding: 5px;

    }

    h3 {
        font-weight: bold;
        padding: 20px 0 40px 0;
    }

    ul.item_list {
        // border: 2px solid red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .item{
            width: 25%;
            padding: 5px;
            @include mobile{
            width: 50%;

            }
            a {
                width: 100%;
                // border: 2px solid red;
                border-radius: $borderRadius_cd;
                overflow: hidden;
    
                .trip_item {
                    @include tripcard();
                    max-height: 350px;
    
                    .content {
                        
                        height: 50%;
                        padding: 50px 20px 30px 20px;
                        background-color: #FAF9F2;
                        position: relative;
    
                        .avatar img {
                            border: 6px solid white;
                            // border: 2px solid red;
                            object-fit: cover;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            position: absolute;
                            top: -30%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
    
                        .the_star_num {
                            // border: 20px solid red;
                            display: flex;
                            flex-direction: row;
                            padding: 0;
    
                            img {
                                width: 15px;
                            }
    
                            @include mobile {
                                img {
                                    width: 8px;
                                }
                            }
                            p.star_get, p.area {
                                // border: 2px solid brown;
                                margin: 0 0 0 10px;
                            }
                        }
    
                        h4.intro {
                            max-height: 55px;
                            font-size: 14px;
                            margin-bottom: 5px;
                            margin-top: 5px;
                            font-family: 'regular';
                            color: rgba(0, 0, 0, 0.8);
                            overflow: hidden;
                            font-weight: bold;
    
                            @include mobile {
                                font-size: 12px;
                            }
                        }
    
                        p.startprice {
                            // border: 2px solid red;
                            font-size: 8px;
                            color: rgba(0, 0, 0, 0.8);
    
                            @include mobile {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        } 
    }
}

#go_the_top {
    display: none;

    @include desktop {
        display: block;
        // border: 2px solid red;
        cursor: pointer;
        position: relative;
        float: right;
        right: 5%;
        bottom: 200px;
        z-index: 10;
    }
}

// ========= 輪播 =========
.owl-carousel {
    //   border: 2px solid blue;
    width: 100%;
    height: 350px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    padding: 0 0;
}


.owl-item .item {
    // border: 2px solid brown;
    border-radius: $borderRadius_cd;
    width: 100%;
    height: 350px;
}

.owl-item .item:hover {
    // border: 2px solid brown;
    transform: scale(1.02);
}
.owl-carousel .item h4 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4375rem;
    margin-top: 0rem;
}

.owl-carousel .owl-nav.disabled {
    // border: 2px solid red;
    display: block!important;
}

.owl-carousel .owl-dots {
    display: none;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-carousel .owl-nav {
    // border: 2px solid red;
    height: 30px;
    position: relative;
    top: -435px;
}


.the_best_trip,
.the_viewed_trip,
.the_main_trip {
    .owl-carousel {
        .owl-nav {
            .owl-prev {
                background-image: url(../../images/icon/page-prev.svg);
                background-size: cover;
                position: absolute;
                width: 30px;
                height: 30px;
                right: 5%;
                top: 65%;
                color: transparent;
                z-index: 10;

                @include laptop {
                    right: 6%;

                }

                @include tablet {
                    right: 8%;

                }

                @include ipad {
                    right: 10%;
                }

                @include mobile {
                    right: 11%;
                }
            }

            .owl-prev:hover {
                background-image: url(../../images/icon/page-prev.svg);
                background-size: cover;
                width: 33px;
                height: 33px;
                border-radius: 50%;
                color: transparent;

            }
        }
    }
}

.the_best_trip,
.the_viewed_trip,
.the_main_trip {
    .owl-carousel {
        .owl-nav {
            .owl-next {
                background-image: url(../../images/icon/page-next.svg);
                background-size: cover;
                position: absolute;
                width: 30px;
                height: 30px;
                right: 1%;
                top: 65%;
                color: transparent;
            }

            .owl-next:hover {
                background-image: url(../../images/icon/page-next.svg);
                background-size: cover;
                width: 33px;
                height: 33px;
                border-radius: 50%;
                color: transparent;
            }
        }
    }
}

//篩選器
.swal2-title {
    font-size: 24px!important;
}
.swal2-styled.swal2-confirm {
    // border: 2px solid red!important;
    background-color: #AD8F70!important;
}