@mixin info_pic_set {
    margin: 10px 20px;
    height: 13rem;
    padding: 1rem;
    border-radius: 5px;
}

// 旅遊瀏覽--------
@mixin travel_card {
    display: flex;
    flex-direction: column;
    height: 70vh;
    max-height: 530px;

    .pic0 {
        height: 50%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        height: 50%;
        padding: 60px 20px 30px 20px;
        background-color: #FAF9F2;
        position: relative;

        .avatar img {
            border: 6px solid white;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: absolute;
            top: -25%;
            left: 50%;
            transform: translate(-50%, -10%);
        }
        .the_icon_sf {
            display: flex;
            position: absolute;
            right: 10px;
            top: 10px;
            .share, .fav{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        .star_num {
            display: flex;
            flex-direction: row;
            padding: 10px 0;

            p {

                margin: 0 0 0 10px;
            }
        }

        h4.intro {
            max-height: 55px;
            font-size: 16px;
            margin-bottom: 20px;
            font-family: 'regular';
            overflow: hidden;
            font-weight: bold;
        }

        p {
            font-size: 12px;
        }
    }
}


// 旅遊照片瀏覽--------
#travel_title {
    background-image: url("../../images/travel_info/photo-1489447068241-b3490214e8791.jpg");
    background-size: cover;
    .t_title{
        width: 90%;
        margin: 0 auto;
        padding: 30px 20px;

        @include tablet {
            font-size: 36px;
        }    
        @include ipad {
            font-size: 28px;
        }

        @include mobile{
            display: none;
        }
    }

    #display_block {
        border: 2px solid white;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        width: 730px;

        @include laptop {
            width: 610px;
        }

        @include tablet {
            width: 560px;
        }

        @include ipad {
            width: 445px;
        }

        @include mobile {
            width: 380px;
        }

        #info_video {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 30px;
            width: 672px;
            border-radius: 25px;
            cursor: pointer;

            @include laptop {
                width: 550px;
            }

            @include tablet {
                width: 500px;
            }

            @include mobile {
                width: 320px;
            }
        }
    }


    .info_owl {
        height: auto;
        .owl-nav{
            display: flex !important;
            width: 100%;
            height: 30px;
            position: relative;
            top: -140px;
            margin-right: 10px;
            justify-content: space-between;
            span{
                visibility: hidden;
            }
            .owl-prev{
                background-image: url(../../images/icon/page-prev.svg);
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 50%;
                padding: auto !important;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            .owl-next{
                background-image: url(../../images/icon/page-next.svg);
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 50%;
                padding: auto !important;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
        @include  mobile { //手機:575以下
            @media all and (max-width : $mobile ) {
               display: none;
            }
        }
        #pic_1 {
            background-image: url("../../images/travel_info/pexels-zachary-debottis-3063055.jpg");
            background-size: cover;
            @include info_pic_set;
        }

        #pic_2 {
            background-image: url("../../images/travel_info/pexels-zachary-debottis-3003038.jpg");
            background-size: cover;
            @include info_pic_set;
        }

        #pic_3 {
            background-image: url("../../images/travel_info/pexels-zachary-debottis-3003077.jpg");
            background-size: cover;
            @include info_pic_set;
        }

        #pic_4 {
            background-image: url("../../images/travel_info/pexels-zachary-debottis-30030331.jpg");
            background-size: cover;
            @include info_pic_set;
        }

        #pic_5 {
            background-image: url("../../images/travel_info/pexels-zachary-debottis-1816237.jpg");
            background-size: cover;
            @include info_pic_set;
        }
    }
}

.main_info_container {
    width: 100%;


    // 導遊介紹--------左區塊
    .left_side {
        display: inline-block;
        width: 60%;
        margin: 0 5%;
        padding: 10px;
        @include  mobile { //手機:575以下
            @media all and (max-width : $mobile ) {
               width: 90%; 
            }
        }

        .traveler_name_mobile{
            display: none;
            @include mobile{
                display: flex;
                flex-direction: column;
            }
            .tra_icon_mobile{
                display: flex;
                flex-direction: row;
                width: 90%;
                margin: 0 auto;
                justify-content: space-between;
                margin-bottom: 20px;
                .icon_1{
                    display: flex;
                    vertical-align: middle;
                    width: 100px;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }
                .icon_2{
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }
                
            }
            .icon_3{
                display: flex;
                flex-direction: row;
                vertical-align: middle;
                margin-top: 20px;
                img{
                    margin-right: 5px;
                }
                a{
                    font-size: 12px;
                    text-decoration: underline;
                    color: gray;
                }
            }
            .choose_date_mobile{
                display: flex;
                flex-direction: row;
                background-color: #F7F6F2;
                padding: 5px 50px;
                justify-content: space-between;
                margin-top: 10px;
                .overlay{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: hsla(0, 0%, 0%, .5);
                    
                    display: none;
                }
                  
                  /* 元素 article 置中及基本樣式 */
                .overlay > article{
                    background-color: white;
                    width: 90%;
                    height: 90%;
                    border-radius: 10px;
                    box-shadow: 0 0 10px #ddd;
                    padding: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .btn_modal_close{
                        background-image: url(../../images/icon/arrowLeft.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        border: 0;
                        background-color: white;
                        width: 30px;
                        height: 30px;
                    }
                    .owl-nav{
                        height: 30px;
                        position: relative;
                        top: -250px;
                        margin-right: 10px;
                        text-align: right;
                        span{
                            visibility: hidden;
                        }
                        .owl-prev{
                            background-image: url(../../images/icon/page-prev.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 50%;
                            padding: auto !important;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                        .owl-next{
                            background-image: url(../../images/icon/page-next.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 50%;
                            padding: auto !important;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                
                }

                .text_mobile{
                    display: flex;
                    flex-direction: column;
                    a.price{
                        color: gray;
                        text-decoration: underline;
                        font-size: 12px;
                    }
                }
                .btn_mobile{
                    margin-top: 3px;
                }
            }
        }


        #traveler {
            display: flex;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            @include mobile{
                flex-direction: row-reverse;
                justify-content: center;
            }

            .traveler_pic {
                display: flex;
                flex: 1 0 auto;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                margin-right: 10px;
                object-fit: cover;
                @include mobile{
                    width: 60px;
                    height: 60px;
                    margin-left: 10px;
                }
            }

            #traveler_name {
                display: flex;
                flex-direction: column;
                @include mobile{
                    flex-direction: row;
                }

                .tra_icon {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 20px;
                    @include mobile {
                        display: none;
                    }

                    img {
                        margin-left: 10px;
                    }
                }

                .tra_info {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        padding-bottom: 0;
                        margin-bottom: 10px;
                        @include tablet{
                            font-size: 25px;
                        }
                        @include ipad{
                            font-size: 19px;
                        }
                        @include mobile{
                            font-size: 14px;
                            margin-bottom: 2px;
                        }                                                    
                    }
                }
            }
        }

        #traveler_introduce {
            padding: 10px 0;
            flex-direction: row;
            @include mobile{
                display: none;
            }

            .icon_s {
                img {
                    width: 20px;
                    height: 20px;
                    margin: 5px 10px;
                }

                p {
                    vertical-align: middle;
                    display: inline-block;
                    margin-bottom: 20px;
                }
            }

            .tra_btn {
                text-align: end;

                .btnS_line {
                    margin-top: 30px;
                    white-space: nowrap;
                }
            }


        }

        #travel_rules {
            margin: 50px auto;

            .join_web,
            .free_return,
            .max_num {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
            }

            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
        }

        #travel_text {
            margin: 50px auto;
        }

        .pic_mobile{
            display: none;
            @include mobile{
                display: flex;
                flex-direction: column;
            }
            .pic_mb{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .pic_1_mb{
                    background-image: url('../../images/travel_info/pexels-zachary-debottis-3063055.jpg');
                    background-size: cover;
                    width: 48%;
                    height: 300px;
                    margin-right: 10px;
                    margin-bottom: 20px;
                }
                .pic_column_mb{
                    display: flex;
                    flex-direction: column;
                    width: 48%;
                    height: 300px;
                    .pic_2_mb{
                        background-image: url("../../images/travel_info/pexels-zachary-debottis-3003038.jpg");
                        background-size: cover;
                        width: 100%;
                        height: 145px;
                        margin-bottom: 10px;
                    }
                    .pic_3_mb{
                        background-image: url("../../images/travel_info/pexels-zachary-debottis-3003077.jpg");
                        background-size: cover;
                        width: 100%;
                        height: 145px;
                    }
                }
            }
            .btnL_line{
                width: 100%;
                margin-bottom: 30px;
            }
        }

        #travel_way {
            margin: 50px auto;

            .way {
                display: flex;
                flex-direction: row;
                @include  mobile { //手機:575以下
                    @media all and (max-width : $mobile ) {
                       flex-direction: column; 
                    }
                }

                .join_way,
                .chartered {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 180px;
                    height: 180px;
                    border: 2px solid #996A4D;
                    border-radius: 50%;
                    margin: 10px 30px;
                    @include ipad{
                        width: 140px;
                        height: 140px;
                    }
                    @include  mobile { //手機:575以下
                        @media all and (max-width : $mobile ) {
                           width: 100%;
                           height: 200px;
                           border-radius: 25px; 
                           margin: 0 0 20px 0;
                        }
                    }

                    img {
                        width: 50px;
                        height: 40px;
                        margin-bottom: 10px;
                    }

                    .text_hover {
                        display: none;
                        @include mobile{
                            display: flex;
                            width: 80%;
                        }
                    }
                }
                @include desktop{
                    .chartered:hover {
                        background-color: #996A4D;
                        color: white;
    
                        .text_normal,
                        img {
                            display: none;
                        }
    
                        .text_hover {
                            display: flex;
                            text-align: center;
                            background-image: url(../../images/icon/group.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
                @include laptop{
                    .chartered:hover {
                        background-color: #996A4D;
                        color: white;
    
                        .text_normal,
                        img {
                            display: none;
                        }
    
                        .text_hover {
                            display: flex;
                            text-align: center;
                            background-image: url(../../images/icon/group.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
                @include tablet{
                    .chartered:hover {
                        background-color: #996A4D;
                        color: white;
    
                        .text_normal,
                        img {
                            display: none;
                        }
    
                        .text_hover {
                            display: flex;
                            text-align: center;
                            background-image: url(../../images/icon/group.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
                @include ipad{
                    .chartered:hover {
                        background-color: #996A4D;
                        color: white;
    
                        .text_normal,
                        img {
                            display: none;
                        }
    
                        .text_hover {
                            display: flex;
                            text-align: center;
                            background-image: url(../../images/icon/group.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
                
            }
        }
    }

    // 預約-------- 右區塊
    .right_side {
        display: inline-block;
        width: 25%;
        height: 450px;
        margin: 10px auto;
        padding: 5px 10px;
        border: 2px solid #996A4D;
        border-radius: 25px;
        position: -webkit-sticky;
        position: sticky;
        bottom: 10px;
        @include ipad{
            padding: 0 10px;
            h5, p{
                font-size: 12px;
            }
        }
        @include  mobile { //手機:575以下
            @media all and (max-width : $mobile ) {
               display: none; 
            }
        }

        .text {
            margin: 30px auto;
            height: 200px;
            // 額滿
            // .btnS_line{
            //     margin-bottom: 20px;
            //     cursor: not-allowed;
            // }

            // 未額滿
            .selection {
                display: flex;
                flex-direction: row;
                border: 1px solid #996A4D;
                border-radius: 10px;
                padding: 10px;
                margin: 10px auto;

                .mix {
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    p {
                        margin-left: 10px;
                        vertical-align: middle;
                    }
                }

                .down {
                    flex: 1;
                    text-align: right;
                }

                .items-center{
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    vertical-align: middle;
                    width: 100%;
                }
                #num{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-left: 10px;
                    justify-content: space-between;
                    .count_num{
                        display: none;
                    }
                    
                    .minus{
                        background-image: url(../../images/icon/minus.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 25px;
                        border: 0;
                        background-color: white;
                    }
                    .plus{
                        background-image: url(../../images/icon/plus.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 25px;
                        border: 0;
                        background-color: white;
                    }
                }

                .down{
                    border: 0;
                    background-color: white;
                }
            }

            .btnL {
                width: 100%;
                color: white;
                margin-top: 5px;
                @include ipad{
                    margin-bottom: 0;
                }
            }

            .text {
                text-align: center;
                p{
                    @include desktop{
                        font-size: 8px;
                        line-height: 12px;
                    }
                    @include laptop{
                        font-size: 8xp;
                        line-height: 12xp;;
                    }
                    @include tablet{
                        font-size: 8px;
                        line-height: 12px;
                    }
                    @include ipad{
                        font-size: 4px;
                        line-height: 12px;
                    }
                }

            }
        }
    }
}

// 從可訂日期中選擇--------
#travel_choose_date {
    width: 90%;
    margin: 50px auto;

    .arrow {
        margin-bottom: 20px;
        display: none;
        width: 100%;
        justify-content: flex-end;
        @include mobile{
            display: none;
        }
        div {
            margin-left: 20;
            cursor: pointer;
            display: inline-block;
        }
    }

    .owl-nav{
        height: 30px;
        position: relative;
        top: -250px;
        margin-right: 10px;
        text-align: right;
        span{
            visibility: hidden;
        }
        .owl-prev{
            background-image: url(../../images/icon/page-prev.svg);
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            padding: auto !important;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .owl-next{
            background-image: url(../../images/icon/page-next.svg);
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            padding: auto !important;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .owl-theme {
        width: 100%;
        height: 40vh;
        @include mobile{
            height: 150px;
        }

        .item {
            height: 11rem;
            background: #F7F9F2;
            padding: 1rem;
            @include mobile{
                margin-right: 10px;
            }

            .btnS_line {
                margin-top: 20px;
            }
        }

        .owl-carousel .item h5 {
            font-weight: 100;
            font-size: 1rem;
            margin-top: 0rem;
        }
    }
}

.date_mb{
    display: none;
    @include mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnL_line{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

// 他人評價--------
#travel_experience {
    width: 90%;
    margin: 50px auto;

    #travel_experience_1,
    #travel_experience_2,
    #travel_experience_3 {
        display: flex;
        width: 90%;
        border: 2px solid #996A4D;
        border-radius: 25px;
        padding: 20px 100px;
        margin: 30px auto;
        @include ipad{
            padding: 10px 50px;
        }
        @include mobile{
            padding: 10px 5px ;
            height: 160px;
        }

        .user{
            display: flex;
            object-fit: cover;
            vertical-align: middle;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                @include mobile{
                    width: 50px;
                    height: 50px;
                }
            }

        }

        .exp_stars{
            display: flex;
            align-items: bottom;
            .star_num {
                width: 15px;
                height: 15px;
            }
        }


        .text {
            display: flex;
            width: 70%;
            height: 30px;
            margin-left: 30px;
            p{
                @include ipad{
                    font-size: 8px;
                    line-height: 15px;
                }
                @include mobile{
                    font-size: 8px;
                    line-height: 15px;
                }
            }

        }
    }

    .exp_btn_pc{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        @include mobile{
            display: none;
        }
    }

    .exp_btn_mb{
        display: none;
        @include mobile{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 30px auto;
        }
    }


}



// 相信你會喜歡--------
.travel_recommend {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    padding: 40px 40px;
    overflow: hidden;

    h3 {
        font-weight: bold;
        padding: 20px 0 40px 0;
    }

    .arrow {
        display: none;
        margin-bottom: 20px;
        width: 180px;
        float: right;
        // display: flex;
        align-items: center;
        @include mobile{
            display: none;
        }

        div {
            margin-left: 20px;
            cursor: pointer;
            display: inline-block;
        }
    }

    .container {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        .item3, .item4{
            @include mobile{
                display: none;
            }
        }

        .item4{
            @include ipad{
                display: none;
            }
        }

        .item {
            width: 23%;
            @include ipad{
                width: 33%;
            }
            @include mobile{
                width: 45%;
            }

            a {
                width: 100%;
                // border: 2px solid red;
                border-radius: $borderRadius_cd;
                overflow: hidden;

                .travel_item {
                    @include travel_card;
                    max-height: 350px;

                    .pic_01 {
                        background-image: url(../../images/travel_info/pexels-ahmad-syahrir-758742.jpg);
                    }

                    .pic_02 {
                        background-image: url(../../images/travel_info/pexels-humphrey-muleba-1647064.jpg);
                    }

                    .pic_03 {
                        background-image: url(../../images/travel_info/pexels-dominika-gregušová-672532.jpg);
                    }

                    .pic_04 {
                        background-image: url(../../images/travel_info/pexels-ethan-brooke-2122423.jpg);
                    }
                    .pic0{
                        .icon_sf{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            margin-right: 10px;

                            .share, .fav{
                                width: 18px;
                                height: 18px;
                                margin: 15px 5px 0 0px;
                                cursor: pointer;
                            }
                        }
                        
                    }
    
                    .content{
                        padding: 40px 20px 80px 20px;

                        .avatar img {
                            width: 100px;
                            height: 100px;
                            top: -30%;
                            object-fit: cover;
                        }

                        .star_num {
                            display: flex;
                            flex-direction: row;
                            padding: 0;
    
                            img {
                                width: 15px;
                            }
    
                            @include mobile {
                                img {
                                    width: 8px;
                                }
                            }
                        }
                        h4.intro {
                            max-height: 50px;
                            overflow: hidden;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

.hr_mb{
    display: none;
    @include mobile{
        display: block;
        width: 90%;
    }
}

.info_function_go_top{
    width: 100%;
    text-align: right;
    #info_go_top {
        width: 30px;
        height: 150px;
        cursor: pointer;
        margin-right: 35px;
        margin-bottom: 30px;
    
        @include tablet {
            margin-right: 22px;
        }
    
        @include ipad {
            margin-right: 16px;
        }
    
        @include mobile{
            margin-right: 14px;
            margin-bottom: 50px;
        }
    }
}

