.adm_sec{
 .adm_flexbox{
     display: flex;
     min-height: 100vh;
     .adm_appl{
        left: 0px;
        top: 0px;
        width: 15%;
        align-items: stretch;
        background-color: $sec_ivory;
        text-align: center;
        background-image: url(../../images/logo/logo.svg);
        background-size: 120px;
        background-repeat: no-repeat;
        background-position: top 20px left 40px;
        
        a:nth-child(1){
            margin-top: 100px;
        }
        a{
            padding: 10px 20px;
        }
     }
     .adm_appr{
        position: relative;
        flex-grow: 1;
        align-items: stretch;
        padding-bottom: 40px;
        .adm_above{
            position: relative;
            padding: 20px 40px;
            h4{
                color: $sec_ivory;
                text-align: right;
                transform: translate(-120px, 5px);
            }
            button{
                position: absolute;
                right: 40px;
                top: 20px;
                pointer-events: none; //沒用嗎??
            }
        }
        h3{
            color: $sec_ivory;
            padding: 40px;
            transform: translateY(-170%);
        }
        .temp{
            //position: relative;
            background-color: white;
            margin: 100px 20px;
            padding: 10px 10px 70px 0px;
            //height: 1000px;
            //transform: translateX(22%);
            label{
                position: relative;
                display: block;
                right:-4px;
                top:-96px;
                input{
                    position: absolute;
                    right: 27px;
                    top:30px;
                    padding: 5px 15px;
                    width: 200px;
                    height: 40px;
                    border-radius: $borderRadius_m_btn;
                    font-size: 14px;
                }
                img{
                    position: absolute;
                    right:37px;
                    top:53px;
                    cursor: pointer;
                }
            }
            table{
                @include block_center;
                border: 1px solid black;
                margin-bottom: 100px;
                tr{
                    border: 1px solid black;
                }
                td,th{
                    padding: 10px 15px;
                }
                th{
                    font-weight: bold;
                }
            }
            .pager>ul{
                @include block_center;
                display: flex;
                justify-content: center;
                
                li{
                    @include circle(30px,$bgcolor:null);
                    border: 1px solid $sec_br;
                    color: $sec_br;
                    text-align: center;
                    font-weight: bold;
                    margin: 0 5px;
                    font-size: 0;
                    a{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 100%;
                        font-size: 16px;
                        transform: translate(-1px, -1px);
                        &:hover,.-on{
                            background-color: $sec_br;
                            color: $sec_ivory;
                        }  
                    }
                }
               
            }
        }
     }
 }
}