// 文字設定
p , h1, h2, h3, h4, h5{
    font-family:'en';
}
h5{
    margin: 15px auto;
}
hr{
    margin: 30px auto;
}
.read_more{
    color: #202B36;
}
.read_more:hover{
    color: blue;
    cursor: pointer;
}

// 結帳--------


.main_container{
    width: 100%;
    // --------左區塊
    .cart_left_side{
        display: inline-block;
        width: 60%;
        margin:0 5%;
        .cart_title{
            display: flex;
            flex-direction: row;
            vertical-align: middle;
            margin-top: 50px;
            img{
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }
        }
        .payment_info{
            h5{
                margin: 10px auto;
            }
        }
        .payment_chartered{
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            .text{
                display: block;
            }
            .chartered_toggle{
                display: flex;
                img{
                    width: 80px;
                    height: 20px;
                }
            }
        }
        .payment_count{
            display: flex;
            text-align: left;
            border: 1px solid #996A4D;
            border-radius: 25px; 
            width: 60%;
            padding: 10px 20px;
            margin-top: 20px;
            .mix{
                display: flex;
                flex-direction: row;
                width: 80px;   
                img{
                    width: 25px;
                    height: 25px;
                }
                p{
                    margin-left: 10px;
                    vertical-align: middle;
                }
            }
            .down{
                flex: 1;
                text-align: right;
            }

        }
        .user_info{
            .phone_number{
                display: flex;
                text-align: left;
                border: 1px solid #996A4D;
                border-radius: 25px; 
                width: 60%;
                padding: 10px 20px;
                margin-top: 20px;
                .mix{
                    display: flex;
                    flex-direction: row;
                    width: 80px;   
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    p{
                        margin-left: 10px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .payment{
            .payment_credit_card{
                display: flex;
                text-align: left;
                border: 1px solid #996A4D;
                border-radius: 25px; 
                width: 90%;
                padding: 10px 20px;
                margin-top: 20px;
                .mix{
                    display: flex;
                    flex-direction: row;
                    width: 80px;   
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    p{
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
                .plus{
                    flex: 1;
                    text-align: right;
                }
            }
        }       
        .pay_with_coupon{
            .use_coupon{
                display: flex;
                text-align: left;
                border: 1px solid #996A4D;
                border-radius: 25px; 
                width: 90%;
                padding: 10px 20px;
                margin: 20px 0 20px 0;

                .mix{
                    display: flex;
                    flex-direction: row;
                    width: 80px;   
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    p{
                        vertical-align: middle;
                        margin-left: 10px;
                        white-space: nowrap;
                    }
                }
                .plus{
                    flex: 1;
                    text-align: right;
                }
            }

        }
        .btnL{
            color: white;
            margin: 20px 0 50px 0;
        }       
    }

    .cart_right_side{
        display: inline-block;
        width: 25%;
        height: 200vh;
        margin: 10px auto;
        padding: 0;
        border-radius: 25px;
        position: -webkit-sticky;
        position: sticky;
        bottom: 10px;
        list-style: none;
        li{
            width: 100%;
            a {
                text-decoration: none;
                width: 100%;
                border-radius: $borderRadius_cd;
                overflow: hidden;
    
                .travel_item{
                    display: flex;
                    flex-direction: column;
                    height: 70vh;
                    max-height: 530px;
                    .pic0 {
                        height: 50%;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                
                        img {
                            width: 100%;
                        }
                    }                    
                    .content {
                        height: 70%;
                        padding: 60px 20px 30px 20px;
                        background-color: #FAF9F2;
                        position: relative;
                        }
                        .avatar img {
                            border: 6px solid white;
                            width: 120px;
                            height: 120px;
                            border-radius: 50%;
                            position: absolute;
                            top: -25%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    
                        .star_num {
                            display: flex;
                            flex-direction: row;
                            padding: 10px 0;
                            p {
                                margin: 0 0 0 10px;
                            }
                        }
                    
                        h4.intro {
                            max-height: 20px;
                            font-size: 16px;
                            margin-bottom: 20px;
                            font-family: 'regular';
                            overflow: hidden;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                
                .pic_00{
                    background-image: url(../../images/travel_info/photo-1489447068241-b3490214e879.jpg);
                    background-position: center;
                }
                .content{
                    padding: 40px 20px 80px 20px;
                    .avatar img{
                    width: 100px;
                    height: 100px;
                    top: -30%;
                    object-fit: cover;
                    } 
                    .counting, .total_price{
                        display: flex;
                        flex-direction: row;
                    }                   
                }
            }
        }
    }
}







#going_top{
    cursor: pointer;
    align-self: flex-end;
    margin-right: 35px;
    margin-bottom: 30px;
    @include lg {  
        margin-right: 22px;
    }
    @include md_sm {
        margin-right: 16px;
    }
    @include xs { 
        margin-bottom: 90px;
    }
}