// pointer btn
@mixin pointer {
    display: flex;
    // position: absolute;
    z-index: 11;
    border-radius: 50%;
    // border: 1px solid lightpink;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 4px 1px $main_grey;
        circle{
            fill: $sec_grey;
            @include mobile{
                
            }
        }
        path{
            fill: $main_br;
        }
        // .text_show{
            
        // }
    }
    
}



// 抓回上面的85px
.postcard_Body{
    // padding-top: 85px;
    padding-bottom: 0px;
    border: 1px solid black;
    margin: 0 auto;
    @include mobile{
        padding-top: 0;
    }
}

.index_postcard_block{
    // border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    .index_postcard_BG{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .main_postcard_block{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 100%;
        // border: 1px solid red;
        .textblock{
            > h2{
                font-family: 'blod';
                text-shadow: 0px 0px 3px $sec_ivory;
                @include mobile{
                    display: none;
                }
            }
        }
        .index_postcard_pointer{
            display: flex;
            flex-direction: column;
                // border: 1px solid red;
                align-items: center;
            @include pointer;
        }
        .text_show{
            // position: absolute;
            // border: 1px solid red;
            margin-top: 20px;
            // padding-top: 50px;
            @include mobile{
                display: none;
            }
        }
    }
}
.phone_text_block{
    display: none;
    @include mobile{
        background-color: $sec_ivory;
        padding: 40px;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            // font-size: 26px;
            font-family: 'blod';
            margin-bottom: 20px;

            // border: 1px solid green;
        }
    }
}

// 進度區
.progress_block{
    width: 100%;
    background-color: $sec_ivory;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
        width: 100%;
    }
    >.frist_block{
        width: 10%;
        margin: 30px;
        // border: 1px solid red;
        text-align: center;
        padding: 20px;
        background-color:  $sec_ivory;
        border-radius: 15px;
        @include mobile{
            width: 100%;
            margin: 0px;
        }
        >h4{
            padding-bottom: 30px;
            @include mobile{
                padding-bottom: 10px;
                display: none;
            }
        }
        
        >span{
            // border: 1px solid blue;
            margin-top: 30px;
            font-size: 26px;
            @include mobile{
                margin-top: 10px;
            }
        }

    }
    .textblock_Show{
        background-color: $main_br;
        color: $sec_ivory;
        >h4, span{
            font-family: 'bold';

        }
    }
}

// choose block
.choose_img_block{
    width: 100%;
    // border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.choose_img_title{
        width: 100%;
        text-align: center;
        margin: 45px;
    }
    >.choose_card_block{
        width: 80%;
        display: flex;
        margin: 20px;
        // align-items: center;
        // border: 1px solid blue;
        justify-content: space-between;

        @include tablet{
            width: 75%;
            flex-wrap: wrap;
        }
        @include ipad{
            width: 90%;
            flex-wrap: wrap;
            // flex-direction: column;
            align-items: center;
        }
        @include mobile{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        >.card_block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 270px;
            // border: 1px solid green;
            border-radius: 15px;
            background-color: $main_ivory;
            padding: 40px 20px;
            @include tablet{
                margin: 20px 0;
            }
            @include ipad{
                margin: 20px 0;
            }
            @include mobile{
                margin: 20px 0;
            }
            >img{
                width: 100%;
            }
            >p{
                margin: 20px 0 40px 0;
            }
        }
    }
}
.next_btn{
    width: 80%;
    margin: 30px;
    display: flex;
    justify-content: flex-end;
    // border: 1px solid red;
}


// 明信片 背景圖
.postcardStart_block{
    width: 100%;
    border: 1px solid blue;
    margin: 0 auto;

    .Img_bg{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../../images/postcard/1280/africa01_1280-715.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        // opacity: .3;
        @include mobile{
            background-color: $sec_ivory;
            background-image: none;
        }
    }
}

// 文字區
.main_writting_block{
    width: 50%;
    border: 1px solid blue;
    display: flex;
    // height: 100vh;
    background-color: white;
    // height: 500px;
    padding: 30px;
    @include mobile{
        width: 100%;
    }
    >.main_writting_left{
        width: 60%;
        border: 1px solid white;
        @include mobile{
            width: 100%;
        }
        >.writting_title{
            width: 100%;
            // height: auto;
            border: 1px solid red;
            padding: 10px;
        }
        >.writting_bg{
            width: 100%;
            border: 1px solid red;
            height: 310px;
            background-image: linear-gradient(white, white 34px, #ccc 30px, #abc 36px, white 34px);
            background-size: 100% 40px;
            overflow: auto;
            outline: none;
            box-shadow: none;
            line-height: 49px;
            font-size: 25px;
            font-family: 'mikadomedium';
            color: #797979;
            resize: none;
            // line-height: ;
            @include mobile{
                height: 250px;
            }
            >.textarea{
                -webkit-writing-mode: horizontal-tb !important;
                text-rendering: auto;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                display: inline-flex;
                text-align: start;
                appearance: auto;
                flex-direction: column;
                white-space: pre-wrap;
                overflow-wrap: break-word;
                overflow-wrap: break-word;
                background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
            }
        }
    }

    // 明信片
    .main_writting_right{
        width: 50%;
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 100vh;
        background-color: white;
        // height: 500px;
        padding: 0px;
        @include mobile{
            width: 100%;
        }
        
        >.choose_stamp_block{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            border: 1px solid red;
            position: relative;
            padding-bottom: 20px;
            .stamp_block{
                position: relative;
                z-index: 10;
                width: 25%;
                img{
                    width: 100%;
                }
                svg{
                    position: absolute;
                    right: 5px;
                    top: 0;
                    transform: translateY(30%);
                    // transform: translateX(-10%);
                    
                    @include pointer;

                }
            }
            
            .seal_block{
                border: 1px solid green;
                position: absolute;
                right: 30px;
                bottom: 0;
                width: 30%;
                z-index: 11;
                img{
                    width: 100%;
                }
            }
        }
        >.typeTo_block{
            border: 1px solid white;
            transform: translateX(40%);
            width: 70%;
            background-image: linear-gradient(white, white 30px, #ccc 26px, #abc 32px, white 30px);
            background-size: 100% 35px;
            height: 70px;
        }
    }
}

// next
.next_postcard_btn{
    width: 50%;
    margin: 30px;
    text-align: end;
    border: 1px solid red;
}

// 郵票彈窗
#stamp_outerDiv {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    width: 100%;
    height: 100%;
    // display: none;
    #stamp_lightBox_bg{
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 15;
        display: flex;
        margin: 0 auto;
        align-items: center;
        .stamp_container{
            width: 50%;
            border: 1px solid red;
            // height: 350px;
            margin: 0px auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-color: white;
            >.stamp_5{
                margin: 20px auto;
                width: 90%;
                display: flex;
                justify-content: space-between;
                border: 1px solid red;
                cursor: pointer;
                // height: 80%;
                img{
                    max-width: 100px;
                    &:hover{
                        box-shadow: 3px 3px 3px cadetblue;
                    }
                }
            }
            >.stamp_next_btn{
                margin: 20px auto;
                display: flex;
                justify-content: flex-end;
                width: 90%;
                border: 1px solid red;
            }
        }
    }
}

// 翻到圖片
.main_changeImg_block{
    width: 50%;
    border: 1px solid blue;
    display: flex;
    // height: 100vh;
    background-color: white;
    // height: 500px;
    padding: 30px;
    @include mobile{
        width: 100%;
    }

    .changeImg_block{

    }
}