$header_H: 85px;
$mobile_H: 53px;

@mixin all_zero($z) {
    top: 0;
    left: 0;
    right: 0;
    z-index: $z;
    width: 100%;
}
header#the_header{
    position: sticky;
    height: $header_H;
    background-color: $sec_ivory;
    @include all_zero(99);
    @include xs {
        position: fixed;
        top: initial;
        bottom: 0;
        height: $mobile_H;            
    }
    .nav_logo{
        display: inline-block;
        background-color: $sec_ivory;
        height: $header_H;
        width: 180px;
        margin-left: 45px;
        @include sm {
            margin-left: 0;
        }
        @include xs {
            display: none;
        }
        .logo{
            width: 100%;
        }
    }
    .nav{
        float: right;
        margin-right: 50px;
        height: $header_H;
        line-height: $header_H;
        @include sm {
            margin-right: 15px;
        }
        @include xs {
            float: none;
            margin-right: 0;
            height: $mobile_H;
            line-height: $mobile_H;
        }
        .nav_list{
            display: flex;
            @include xs{
                display: initial;
            }
        
            .web_bar{
                display: flex;
                @include xs{
                    display: none;
                }
                li{
                    position: relative;
                    a{
                        text-decoration: none;
                        color: rgba(0,0,0,.8);
                        margin-right: 30px;
                        font-family:'regular';
                        font-size: 16px;
                        &:hover{
                            color: $main_br;
                        }
                        @include sm {
                            margin-right: 14px;
                        }
                    }
                    a.bold_3{
                        font-weight: bold;
                        color: $main_br;
                        &::after{
                            content: "";
                            width: 85px;
                            border-bottom: 2px solid $sec_br;
                            position: absolute;
                            bottom: 26px;
                            left: -2px;
                        }
                    }
                    a.bold{
                        font-weight: bold;
                        color: $main_br;
                        &::after{
                            content: "";
                            width: 72px;
                            border-bottom: 2px solid $sec_br;
                            position: absolute;
                            bottom: 26px;
                            left: -4px;
                        }
                    }
                }
            }
            .mobile_bar{
                @include xs{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                li{
                    display: none;
                    @include xs{
                        display: inline-block;
                        margin: 0 25px;  
                    }
                    img{
                        vertical-align: middle;
                    }
                }
                li.menu{
                    cursor: pointer;
                }
                li.member{
                    display: inline-block;
                    img{
                        width: 80%;
                        vertical-align: middle;
                        &:hover{
                            cursor: pointer;
                        }
                        @include xs{
                            width: 100% ;
                        }
                    }
                }    
            }
        }      
    }             
}
#nav_rwd{
    display: none;
    height: calc(100vh - 53px);
    position: fixed;
    @include all_zero(100);
    background-color: white;
    .logo_rwd{
        float: left;
        height: 70px;
        margin-left: 3%;
    }
    .menu{
        @include total_center;
        width: 300px;
        #close_menu{
            padding: 5px;
            float: right;
            width: 9%;
            cursor: pointer;
        }
        .menu_item{
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            .btnL_light{
                margin: 20px auto;
                a{
                    color: $main_br;
                    text-decoration: none;
                }
            }
        }
    }
} 
.mobile_logo{
    display: none;
    @include xs{
        width: 100%;
        display: block;
        height: 70px;
        background-color: #F7F6F2;
    }
    img{
        height: 100%;
        margin-left: 3%;
    }
}




