// 抓回上面的85px
.loginMemberPage_Body {
    // padding-top: 85px;
    // background-color: $main_br;
    // border: 1px solid black;
    margin: 0 auto;

    // max-width: 1280px;
    @include mobile {
        padding-top: 0px;
    }
}

// 登入
.loginMemberPage_main {
    display: flex;
    max-width: 540px;
    // border: 1px solid blue;
    margin: 30px auto;

    @include mobile {
        display: none;
    }
}

.loginInner {
    // width: 100%;
    display: flex;
    // flex-direction: column;
    position: relative;
}

.loginInner_Img img {
    width: 100%;
    // background-image: url(../../images/memberCenter/left_earth.png);
}

.loginInner_block {
    position: absolute;
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 105px;

    // border: 1px solid lightpink;
    // @include form();
}

p.sigin_tiny {
    padding-bottom: 0px;
    font-size: 10px;
    color: red;
}

h2 {
    padding-bottom: 40px
}

#btn_login {
    margin: 15px 0px;
}

// input 框框
.login_input {
    @include form();
    margin-top: 10px;
    width: 200px;
    height: 60px;
    font-size: 20px;
}

.forgetPassword {
    margin: 10px 0px;
    transform: translateX(100%);
    font-size: map-get($map: $font_d_map, $key: p);
    cursor: pointer;
}

.loginSitch {
    width: 25%;
    position: absolute;
    top: 50%;
    right: 0;
    // transform: translateY(30%);
    // border: 1px solid lightpink;
}

// 註冊

.SiginMemberPage_main {
    max-width: 540px;
    // background-image: url(../../images/memberCenter/left_earth.png);
    // border: 1px solid green;
    margin: 30px auto;

    // display: none;
    @include mobile {
        display: none;
    }
}

.SiginInner {
    // width: 100%;
    display: flex;
    // flex-direction: column;
    position: relative;
}

.SiginSitch{
    width: 25%;
    position: absolute;
    top: 50%;
    left: 30px;
    // border: 1px solid lightpink;
}

.SigiInner_block {
    position: absolute;
    width: 75%;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
    // border: 1px solid lightpink;
    >.Sign_BTN{
        margin-top: 10px;
    }
}


// 手機版
.phone_loginMemberPage {
    width: 100%;
    display: none;
    // border: 1px solid red;
    @include mobile {
        display: flex;
        margin: 0 auto;

        .phone_loginInner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0px 35px;
            // border: 1px solid red;

            >.phone_back_icon {
                display: none;
                width: 100%;
                // padding: 15px 0px;
                // border: 1px solid blue;
                a{
                    padding: 10% 0;
                }
            }

            >.phone_loginInner_Img {
                // border: 1px solid red;
                margin-top: 40px;
            }

            >.phone_loginInner_block {
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 50px 0px;

                >.input {
                    margin-top: 25px;
                }

                >.phone_forgetPassword {
                    width: 100%;
                    // border: 1px solid green;
                    text-align: right;
                    // transform: translateX(50%);
                }

                >.phone_loginSitch {
                    // border: 1px solid salmon;
                    margin: 15px 0px;

                    button {
                        // border: 1px solid salmon;
                        margin-left: 20px;
                        margin-bottom: 25%;
                    }
                }
                >.password_forget{
                    cursor: pointer;
                }
            }
        }
    }
}


