#memberMobile {
    display: flex;
    position: relative;

    h1 {
        font-size: 20px;
    }

    span {
        position: absolute;
        left: -55%;
        top: 50%;
        font-size: 20px;
        cursor: pointer;
        font-weight: 900;
        transform: translateY(-50%);
        padding: 10px;
    }
}

#right {
    margin-left: 25px;
    // width: 900px;

    img {
        height: 100%;
        width: 100%;
    }

    input {
        &:focus {
            outline: none !important;
        }
    }

    .btnL {
        color: white;
    }
}

//member---------------------------


#member {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

    @include mobile {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
}

#memberSpace {
    height: 100px;
}

.memberborder {
    width: 120px;

    a {
        width: 100%;
        text-decoration: none;
        color: $main_word;
        padding: 10px;
        cursor: pointer;
    }
}

.memberborder.active {
    a {
        color: $main_br;
        border-bottom: 1px solid $main_br;
    }
}

#memberInfoTitle {
    display: flex;
    justify-content: space-between;

    @include ipad {
        .btnL_light {
            width: 160px;
        }

        width: 407px;
    }
}

.editImgCursor {
    cursor: pointer;

    svg {
        path {
            fill: $main_br;
        }
    }
}

#memberInfoImg {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 38px;
    position: relative;

    img {
        object-fit: cover;
    }

    input {
        position: absolute;
        left: -100%;
        top: -100%;
    }

    div {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 3%;
    }

    @include laptop {
        width: 145px;
        height: 145px;
        margin-right: 22px;
    }

    @include tablet {
        width: 123px;
        height: 123px;
        margin-right: 15px;
    }

    @include ipad {
        width: 120px;
        height: 120px;
        margin-right: 12px;
    }
}

#memberInfoMain {
    display: flex;
    margin-top: 20px;

    .mobileMemberEditBtn {
        display: none;
    }

    .memberInput {
        width: 600px;

        @include laptop {
            width: 510px;
        }

        @include tablet {
            width: 370px;
        }

        @include ipad {
            width: 275px;
        }

        .memberinforEditBorder {
            height: 312px;
        }

        input {
            border: 0;
            width: 500px;
            height: 34px;
            margin: 0;
            padding: 0;
            margin-left: 10px;
            font-size: 14px;

            @include laptop {
                width: 380px;
            }

            @include tablet {
                width: 250px;
            }

            @include ipad {
                width: 150px;
            }
        }

        .gender {
            align-items: center;

            // input[type="radio"]:checked+label::before {
            //     background-image: url("../../images/icon/radio-empty.svg");
            // }
            #membermanlabel {
                margin-left: 10px;
            }

            #membergirllabel {
                margin-left: 10px;
            }

            input {
                width: unset;
                margin: 6px;
                padding: 0;
                width: 20px;
                height: 20px;
                cursor: pointer;

                &[type="radio"] {
                    display: none;
                }

                &[type="radio"]+label::before {
                    content: "";
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    /*   border: 1px solid blue; */

                    background-image: url("../../images/icon/radio-empty.svg");
                    background-size: contain;

                    margin-right: 5px;
                    position: relative;
                    top: 2px;
                }

                &[type="radio"]:checked+label::before {
                    background-image: url("../../images/icon/radio-chk.svg");

                }
            }

            label {
                cursor: pointer;
            }

        }
    }


}

.nameBorder {
    display: flex;
    border: 1px solid $main_br;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    align-items: center;

    svg {
        position: absolute;
        right: 16px;
        top: 12px;
        cursor: pointer;
        z-index: 200;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.memberInfoName {
    padding: 10px;
    background-color: $sec_ivory;
    width: 100px;
    font-size: 14px;
}

.memberInfoVal {
    padding: 10px;
    font-size: 14px;

}

#memberEditBtn {
    width: 50px;
    height: 30px;
    border: 1px solid gray;
    background-color: $sec_ivory;
    cursor: pointer;
    text-align: center;
    line-height: initial;
}

.memberEditCancel {
    margin-top: 50px;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @include tablet {
        .btnL_light {
            width: 165px;
        }
    }

    @include ipad {
        .btnL_light {
            width: 125px;
        }
    }

    .btnL {
        margin-left: 30px;

        @include laptop {
            margin-left: 6px;

        }

        @include tablet {
            width: 165px;
        }

        @include ipad {
            width: 125px;
            margin-left: 15px;
        }
    }
}


// love------------------------------------

#loveContent {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
    height: 430px;


    @include laptop {
        width: 660px;
    }

    @include tablet {
        width: 510px;
        margin-top: 0;

    }

    @include ipad {
        width: 407px;
        margin-top: 0;

    }

    .memberLoveConcent {
        margin-top: 10px;
        height: 63px;
        overflow: hidden;
        text-overflow: ellipsis;

        @include tablet {
            margin-top: 20px;
        }

        @include ipad {
            margin-top: 20px;
        }
    }



    .loveContentBorder {
        width: 394px;
        height: 200px;
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        background-color: $sec_ivory;

        @include laptop {
            width: 315px;
        }



        @include tablet {
            margin-top: 20px !important;
            width: 504px;
        }

        @include ipad {
            margin-top: 20px !important;
            width: 504px;
        }
    }

    .loveContentBorder:nth-child(2n) {
        margin-left: 30px;

        @include tablet {
            margin-left: 0;
        }

        @include ipad {
            margin-left: 0;
        }

        @include mobile {
            margin-left: 0;
        }
    }

    .loveContentBorder:nth-child(3n),
    .loveContentBorder:nth-child(4n) {


        @include tablet {
            margin-top: 0;
        }

        @include ipad {
            margin-left: 0;
        }

        @include mobile {
            margin-left: 0;
        }
    }
}

.next_off {
    display: none !important;
}

.loveImg {
    height: 200px;
    min-width: 150px;

    @include laptop {
        min-width: 135px;
    }

    @include tablet {
        min-width: 180px;
    }
}

.headImg {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 100%;

    @include laptop {
        height: 80px;
        width: 80px;
    }
}

.cardBorder {
    display: flex;
}

.loveContents {
    // margin-left: 20px;
    // margin-top: 8px;
    margin: 8px;
    margin-left: 20px;
}

.loveContentsTop {
    display: flex;
    align-items: flex-end;
}

.StarAndFrom {
    display: flex;
    margin-left: 5px;

    .star {
        white-space: nowrap;

    }

    .from {
        white-space: nowrap;
    }

    @include laptop {
        margin-left: 0;

    }
}

.TopRithtLove {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
    }
}

.loveNumberNav {
    display: flex;
    justify-content: center;
    margin-top: 30px;



    .loveNavs {
        display: flex;

        div {
            margin: 0 10PX;
        }

        .loveLeft,
        .loveRight {
            border: 1px solid $main_br;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            text-align: center;
            display: flex;
            justify-content: center;
            line-height: 1.5;
            cursor: pointer;
            align-items: center;
        }

        .mid {
            line-height: 1.5;
        }
    }
}

.mobileLoveBtn {
    display: none;
}

// history--------------------------------------

.historyContents {
    margin-top: 8px;
    margin-left: 20px;
    width: 330px;
    margin-right: 6px;
}

.timeAndcomment {

    display: flex;
    justify-content: space-between;

    @include laptop {
        margin-top: 10px;
    }

    .comment {
        margin-right: 14px;
        cursor: pointer;
        color: blue;
        border-bottom: 1px solid blue;
    }

    .commented {
        color: black;
        border-bottom: 0;
        cursor: unset;
    }
}

.historyPopBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-top: 30px;
        margin-bottom: 40px;
        width: 165px !important;
    }
}

//   未評價頁面
#addDiv {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(128, 128, 128, 0.15);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    #addDivOutterBord {
        width: 500px;
        background-color: $sec_ivory;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        border-radius: 20px;

        #addDivInnerBord {
            margin-top: 40px;
            width: 460px;
            margin-left: 10px;
        }

        .addDivTop {
            display: flex;

            .addDivTopImg {
                text-align: center;

                .Img {
                    p {
                        margin: 5px 0px;
                    }
                }
            }

            Img {
                height: 100px;
                width: 100px;
                overflow: hidden;
                border-radius: 100%;
            }

            .addDivTopText {
                margin-left: 20px;
                width: 300px;

                p:last-child {
                    margin-top: 10px;
                    font-size: 20px;

                    @include mobile {
                        font-size: 12px;
                    }
                }
            }


        }

        .Star {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: space-evenly;

            p {
                min-width: 70px;
            }

            span {
                cursor: pointer;
            }

            svg {
                width: 30px;
                height: 30px;

                @include mobile {
                    width: 15px;
                    height: 15px;
                }
            }

        }

        .closed {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .addDivDown {
            margin-top: 10px;
            margin-left: 20px;

            textarea {
                width: 400px;
                height: 80px;
                border: 0;
                outline: none;
                resize: none;
            }
        }

        .memberEditCancel {
            margin-top: 30px;
            margin-bottom: 40px;

            .btnL {
                margin-left: 30px;
            }
        }

    }

}

.historyP {
    height: 40px;
    overflow: hidden;
    margin-top: 15px;

    p {
        margin-top: 0 !important;
    }
}

// join------------------------------------------

.joinContents {
    // margin-left: 20px;
    // margin-top: 8px;
    margin: 8px;
    margin-left: 15px;
}

.gotravel {
    flex-direction: column;

}

#joinStarAndFrom {
    display: flex;
}

.joinComment {
    margin-bottom: 30px;
    cursor: pointer;
    color: blue;
    border-bottom: 1px solid blue;
    width: 35px;

    @include laptop {
        margin-bottom: 10px;
        margin-left: 5px;
    }
}

.changeColor {
    color: gray !important;
    border-bottom: 0px !important;
}

.joinTime {
    margin-top: 10px;
    font-size: 20px;

    @include laptop {
        font-size: 16px;
    }
}

// traveledit------------------------------------

#travelAdd {


    svg {
        width: 50px;
        height: 50px;
        fill: white;
        cursor: pointer;
    }
}

#travelNavBar {

    display: flex;
    border: 1px solid $main_br;
    border-radius: 20px;
    overflow: hidden;
    height: 50px;
    // justify-content: space-around;
    width: 836px;
    margin-top: 20px;
    align-items: center;
    flex-wrap: nowrap;

    @include laptop {
        width: 678px;
    }

    @include tablet {
        display: none;
    }

    .travelNavBarP {
        margin-left: 20px;

        p {
            white-space: nowrap;
        }

        &:first-child {
            margin-left: 30px;
            width: 195px;

            @include laptop {
                width: 223px;
            }
        }

        &:nth-child(2) {
            width: 70px;

            @include laptop {
                width: 65px;
            }
        }

        &:nth-child(3) {
            width: 50px;

            @include laptop {
                width: 143px;
            }
        }

        &:nth-child(4) {
            width: 85px;

            @include laptop {
                width: 220px;
            }
        }

        &:nth-child(5) {
            width: 50px;
        }

        &:nth-child(6) {
            width: 80px;

            @include laptop {
                width: 44px;
            }
        }


        &:last-child {
            margin-right: 30px;
            width: 50px;
        }
    }


}


.travelValue {
    display: flex;
    border: 1px solid $main_br;
    border-radius: 20px;
    overflow: hidden;
    height: 50px;
    align-items: center;
    // justify-content: space-around;
    width: 836px;
    margin-top: 20px;
    flex-wrap: nowrap;
    position: relative;

    @include laptop {
        width: 678px;
    }

    @include tablet {
        width: 506px;
        display: block;

        .mobileshowinfo {
            height: unset;
        }
    }

    @include ipad {
        width: 390px;
        display: block;

        .mobileshowinfo {
            height: unset;
        }
    }

    .travelP {
        margin-left: 20px;
        overflow: hidden;

        @include laptop {
            margin-left: 4px;
        }

        @include tablet {
            text-align: start;
            margin: 0;
            margin-top: 10px;
            padding-left: 20px;
        }

        @include ipad {
            text-align: start;
            margin: 0;
            margin-top: 10px;
            padding-left: 20px;
        }

        p {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;

            @include tablet {
                font-size: 16px;
                width: 435px;
                overflow: hidden;
            }

            @include ipad {
                font-size: 14px;
                width: 319px;
                overflow: hidden;
            }

        }

        &:first-child {
            margin-left: 30px;
            width: 200px;

            @include tablet {
                width: 100%;
                margin: 0;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                border-bottom: 1px solid $main_br;

                &::after {
                    content: '';
                    background-image: url("../../images/icon/down.svg");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                &::before {
                    content: '';
                    background-image: url("../../images/icon/up.svg");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    visibility: hidden;
                }
            }

            @include ipad {
                width: 100%;
                margin: 0;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                border-bottom: 1px solid $main_br;

                &::after {
                    content: '';
                    background-image: url("../../images/icon/down.svg");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                &::before {
                    content: '';
                    background-image: url("../../images/icon/up.svg");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    visibility: hidden;
                }
            }
        }




        &:nth-child(2) {
            width: 70px;

            @include laptop {
                width: 65px;
            }

            @include tablet {
                width: 100%;
            }

            @include ipad {
                width: 100%;
            }
        }

        &:nth-child(3) {
            width: 50px;

            @include laptop {
                width: 143px;
            }

            @include tablet {
                width: 100%;
            }

            @include ipad {
                width: 100%;
            }
        }

        &:nth-child(4) {
            width: 100px;

            @include laptop {
                width: 220px;
            }

            @include tablet {
                width: 100%;
            }

            @include ipad {
                width: 100%;
            }
        }

        &:nth-child(5) {
            width: 59px;
            cursor: pointer;
            color: blue;

            @include tablet {
                width: 100%;
            }

            @include ipad {
                width: 100%;
            }
        }

        &:nth-child(6) {
            width: 80px;
            cursor: pointer;
            color: blue;

            @include laptop {
                width: 120px;
            }

            @include tablet {
                width: 100%;
            }

            @include ipad {
                width: 100%;
            }
        }



        &:nth-child(7) {
            width: 50px;
            cursor: pointer;
            color: blue;
            margin-left: 0;

            @include tablet {
                width: 100%;
                margin-bottom: 15px;
            }

            @include ipad {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        &:nth-child(8) {
            margin-right: 30px;
            width: 60px;
            cursor: pointer;
            color: blue;

            @include tablet {
                width: 100%;
                margin-bottom: 15px;
            }

            @include ipad {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

}

#editWorksOnMember {
    background-color: #80808059;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    textarea {
        height: 500px;
        border: 0;
        padding: 20px;
        outline: none;
        border-radius: 20px;
        resize: none;
    }

    .travelInputBorder {
        display: flex;
        border: 1px solid $main_br;
        height: 50px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
        width: 560px;
    }

    .Content {
        flex-direction: column;
        height: 180px;

        @include tablet {
            width: 524px;
        }

        .travelInputEditTitle {
            align-items: flex-start;
            height: unset;
            margin-top: 12px;
        }

        div {
            width: 100%;
            height: unset;
        }

        textarea {
            height: 160px;
            border: 0;
            padding: 20px;
            outline: none;
            border-radius: 20px;
            resize: none;
            background-color: $main_ivory;
        }

    }

    .travelInputEditTitle {
        height: 100%;
        width: 80px;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    select {
        border: 0;
        height: 45px;
        padding: 0;
        margin: 0;
        width: 424px;
        margin-left: 10px;
        outline: none;
        background-color: $main_ivory;
    }

    input {
        border: 0;
        height: 45px;
        padding: 0;
        margin: 0;
        width: 420px;
        margin-left: 10px;
        background-color: $main_ivory;
        color: gray;

        &:nth-child(3) {
            color: black !important;
        }
    }

    .closed {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;

    }

    .memberEditCancel {
        margin-bottom: 30px;
    }

    .body {
        position: relative;
        width: 900px;
        background-color: $main_ivory;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            margin-top: 30px;
        }
    }
}


#memberAddDate {
    background-color: #80808059;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .closed {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;

    }

    .memberEditCancel {
        margin-bottom: 30px;
    }

    .body {
        position: relative;
        width: 900px;
        background-color: $main_ivory;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            margin-top: 30px;
        }
    }
}

#checkWork {
    background-color: #80808059;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .closed {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;

    }

    .loveNumberNav {
        margin-bottom: 30px;
    }

    .body {
        position: relative;
        width: 900px;
        background-color: $main_ivory;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            margin-top: 30px;
        }

        .workborder {
            border: 1px solid black;
            border-radius: 20px;
            height: 50px;
            margin-top: 20px;
            width: 610px;
            display: flex;
            align-items: center;

            .titlesborders {
                margin-left: 60px;
                width: 70px;
                white-space: nowrap;

                &:first-child {
                    margin-left: 20px;
                }
            }


        }
    }
}

@include tablet {
    s .mobileshowinfo {
        height: unset;
    }
}

@include ipad {

    .mobileshowinfo {
        height: unset;
    }
}

#addFrom {
    margin-top: 20px;

    .travelInputBorder {
        display: flex;
        border: 1px solid $main_br;
        height: 50px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
        width: 820px;

        @include laptop {
            width: 664px;
        }

        @include tablet {
            width: 524px;
        }

        @include ipad {
            width: 384px;
        }

        select {
            border: 0;
            height: 45px;
            padding: 0;
            margin: 0;
            width: 654px;
            margin-left: 10px;
            outline: none;

            @include laptop {
                margin-right: 26px;
                width: 660px;
            }

            @include tablet {
                width: 482px;
                margin-right: 10px;
            }

            @include ipad {
                width: 260px;
            }
        }

        input {
            border: 0;
            height: 45px;
            padding: 0;
            margin: 0;
            width: 704px;
            margin-left: 10px;

            @include tablet {
                width: 384px;
            }

            @include ipad {
                width: 260px;
            }
        }

        .travelInputEditTitle {
            height: 100%;
            width: 80px;
            display: flex;
            align-items: center;
            margin-left: 20px;

            @include laptop {
                width: 112px;
            }
        }
    }

    .Imginput {
        width: 100%;
        height: unset;

        @include tablet {
            width: 524px;
        }

        @include ipad {
            width: 384px;
        }

        .travelInputEditTitle {
            margin-left: 0;
            margin-right: 35px;

        }


        span {
            padding: 15px;
            white-space: nowrap;
        }

        .showImg {
            width: 590px;
            padding: 0;
            background-color: $sec_ivory;
            margin-top: 12px;

            @include tablet {
                width: 328px;
            }

            @include ipad {
                width: 242px;
            }

            .addimgborders {
                position: relative;
            }

            .addimgdelete {
                position: absolute;
                top: 10px;
                right: 15px;
                width: 24px;
                height: 24px;
                cursor: pointer;

                &::before {
                    position: absolute;
                    content: '';
                    background-image: url("../../images/icon/close.svg");
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                }
            }

            @include laptop {
                width: 476px;
                margin-left: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-top: 20px;

                &:first-child {
                    margin-top: 0px;
                }
            }

        }

        input {
            position: absolute;
            top: -100%;
            left: -100%;
        }

        .clickInput {
            width: 100px;
            height: 50px;
            border: 1px solid $main_br;
            cursor: pointer;
            border-radius: 20px;
            margin-top: 40px;
            margin-bottom: 20px;
            line-height: 3;
            text-align: center;
        }
    }

    .Content {
        flex-direction: column;
        width: 100%;
        height: 550px;

        @include tablet {
            width: 524px;
        }

        .travelInputEditTitle {
            align-items: flex-start;
            height: unset;
            margin-top: 12px;
        }

        div {
            width: 100%;
            height: unset;
        }

        textarea {
            height: 500px;
            border: 0;
            padding: 20px;
            outline: none;
            border-radius: 20px;
            resize: none;
        }

    }
}


//traveledit pop -------------------------------

#travelEditPop {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(128, 128, 128, 0.15);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 500px;
        height: 300px;
        background-color: $sec_ivory;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        button {
            margin-top: 50px;
        }

        svg {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
    }
}

@include mobile {
    #right {
        margin-left: 0;
    }

    .mobileMemberSvg {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
        }
    }



    #left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        flex-wrap: wrap;
    }

    .memberborder.active {
        a {
            border-bottom: 0;
        }
    }

    .memberborder {
        width: 155px;
        height: 100px;
        border: 1px solid $main_br;
        border-radius: 20px;
        background-color: $sec_ivory;
        margin-top: 10px;
        position: relative;

        &:nth-child(2n) {
            margin-left: 10px;
        }

        &:nth-child(1) {
            order: 1;
        }

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(3) {
            order: 3;
        }

        &:nth-child(4) {
            order: 4;
        }

        &:nth-child(5) {
            order: 6;
            margin-left: 10px;
        }

        &:nth-child(6) {
            order: 5;
            margin-left: 0;
        }

        a {
            color: $main_br;
            width: 155px;
            height: 100px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }


    }



    #memberInfoTitle {
        display: none;
    }

    #memberInfoMain {
        flex-direction: column;
        width: 320px;
        align-items: center;

        .mobileMemberEditBtn {
            display: flex;
            order: 2;
            margin: 30px 0;
            width: 100%;
            justify-content: flex-end;
            height: 30px;

            button {
                width: 114px;
            }

        }

        #memberInfoImg {
            order: 1;
            margin-right: 0;
        }

        .memberInfoImg {
            margin-right: 0;
        }

        .memberInput {
            width: 100%;
            margin-top: 10px;
            order: 3;

            input {
                width: 198px;
            }
        }


    }

    .memberEditCancel {
        .btnL_light {
            width: 110px !important;
        }

        .btnL {
            width: 110px !important;
        }
    }

    #memberLove {
        display: none;

    }

    #loveContent {
        flex-direction: row;
        width: 320px;
        margin: 0;
        height: unset;

        .memberLoveConcent {
            height: 70px;
        }

        .loveContentBorder {
            width: 100%;
            height: 150px;
            margin: 0;
            margin-top: 30px !important;

            .loveImg {
                height: 150px;
                min-width: 120px;
            }

            .headImg {
                height: 50px;
                width: 50px;
            }
        }



    }

    .loveNumberNav {
        display: none;
    }

    .mobileLoveBtn {
        display: block;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 80px;

        button {
            width: 100%;
        }
    }

    #joinStarAndFrom {
        margin-top: 5px;
    }

    .joinComment {
        margin-bottom: 0;
        margin-left: 10px;
    }

    .joinTime {
        margin-top: 0;
        font-size: 100%;
    }

    .historyContents {
        width: 100%;
    }

    .memberEditCancel {
        display: flex;
        justify-content: center;
    }

    #addDiv {
        #addDivOutterBord {
            width: 320px;

            #addDivInnerBord {
                width: 279px;
            }

            .addDivDown textarea {
                width: 242px;
            }
        }
    }

    .Star {
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .historyPopBtn {
        margin-top: 0 !important;
        margin-bottom: 0 !important;

    }

    .mobileMemberEditTrival {
        visibility: hidden;
    }
}

//abc










//