<!DOCTYPE html>
<html lang="en">
<head>
    <title>旅遊護照遊戲</title>
    @@include('layout_html/plugin.html')
</head>

<body>
    <div class="game_wrapper">
        <div id="the_game">
            <div class="game_bg">
                <div class="game_world_map">
                    <div class="landmark" :class="theme.continent" @click="chooseTheTheme(index)" v-for="(theme,index) in themes">
                        <input type="radio" :value="theme.num" name="theme" v-model="theTheme">
                    </div>
                    <transition>
                        <div id="game_word" v-show="gameWordShow==true">
                            <h3>點選地標圖示參加問答遊戲<br>集滿各大洲印章領取優惠券!</h3>
                            <img src="./images/index/game/gift_white.svg">
                        </div>    
                    </transition>
                </div>

                <!-- 護照 -->
                <div class="passport_page" v-show="outerPasswort==true">
                    <div class="game_overlay"></div>
                    <div class="passport">
                        <img src="./images/index/game/passport.png">
                        <div class="click_word">
                            <button class="btnL_line btn_start" @click="startGame">START</button>
                            <div class="passport_item">
                                <h4 id="task_process" @click="showPasswort">查看遊戲進度</h4>
                                <a href="index.html">回首頁</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 遊戲題目 -->
                <div class="game_question" v-show="question==true">
                    <form method="GET">
                        <div v-for="(task, index) in task_ID" :class="task.num">
                            <div v-show="index === taskIndex">
                                <div class='q_container'>
                                    <h2>Q{{index+1}}</h2>
                                    <h3>{{task.question}}</h3>
                                </div>
                                <div class="btn_group">
                                    <div class="input_group">
                                        <label class="opt default">
                                            <input type="radio" :name="index" :value="1" v-model="userAnswer">
                                            {{task.option1}}
                                        </label>
                                        <label class="opt default">
                                            <input type="radio" :name="index" :value="2" v-model="userAnswer">
                                            {{task.option2}}
                                        </label>
                                        <label class="opt default">
                                            <input type="radio" :name="index" :value="3" v-model="userAnswer">
                                            {{task.option3}}
                                        </label>
                                    </div>
                                    <input class="btnM ans_confirm" type="button" value="確定" @click="next">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 挑戰結果 -->
                <div v-show="result == true">
                    <!-- 成功 -->
                    <div class="challenge winning" v-if="winning==true">
                        <div class="result_mask"></div>
                        <div class="game_detail">
                            <div class="game_close_btn" @click="closeResult"></div>
                            <div class="main_result">
                                <h3 class="result_title">挑戰成功！</h3>
                                <img class="get_stamp" src="./images/index/game/america.svg" v-if="theTheme==1">
                                <img class="get_stamp" src="./images/index/game/europe.svg" v-else-if="theTheme==2">
                                <img class="get_stamp" src="./images/index/game/asia.svg" v-else-if="theTheme==3">
                                <img class="get_stamp" src="./images/index/game/africa_stamp.svg" v-else-if="theTheme==4">
                                <img class="get_stamp" src="./images/index/game/oceania.svg" v-else-if="theTheme==5">

                                <div class="game_words" id="win_word">
                                    <p class="game_word row_1">恭喜獲得「旅遊</p>
                                    <p class="game_word row_2" v-if="theTheme==1">美洲</p>
                                    <p class="game_word row_2" v-else-if="theTheme==2">歐洲</p>
                                    <p class="game_word row_2" v-else-if="theTheme==3">亞洲</p>
                                    <p class="game_word row_2" v-else-if="theTheme==4">非洲</p>
                                    <p class="game_word row_2" v-else-if="theTheme==5">大洋洲</p>
                                    <p class="game_word row_3">印章」一枚</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 失敗 -->
                    <div class="challenge losing" v-else>
                        <div class="result_mask"></div>
                        <div class="game_detail">
                            <div class="game_close_btn" @click="closeResult"></div>
                            <div class="main_result">
                                <h3 class="result_title">挑戰失敗</h3>
                                <img class="fail_stamp" src="./images/index/game/fail.png">
                                <div class="game_words">
                                    <p class="game_word">再接再厲，<br>下一次旅遊達人就是你！</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 任務進度 -->
                <transition>
                    <div class="game_result_overlay" v-show="innerPasswort==true">
                        <div class="game_result">
                            <div class="top_word_game">
                                <div class="visa_word_game">
                                    <h5 class="visa_h5">簽證 / VISAS</h5>
                                    <h5 class="visa_h5">簽證 / VISAS</h5>
                                </div>
                                <div class="num_word">
                                    <h2>10</h2>
                                    <h2>11</h2>
                                </div>
                            </div>

                            <div class="game_main">
                                <h2>我的遊戲護照</h2>
                                <div class="game_stamp">
                                    <div class="top_stamp">
                                        <img class="am unget_stamp" src="./images/index/game/america.svg" v-if="theTheme==1  && winning==true">
                                        <img class="am unget_stamp" src="./images/index/game/unget.png" v-else>

                                        <img class="eu unget_stamp" src="./images/index/game/europe.svg" v-if="theTheme==2 && winning==true">
                                        <img class="eu unget_stamp" src="./images/index/game/unget.png" v-else>

                                        <img class="as unget_stamp" src="./images/index/game/asia.svg" v-if="theTheme==3  && winning==true">
                                        <img class="as unget_stamp" src="./images/index/game/unget.png" v-else>

                                    </div>
                                    <div class="bottom_stamp">
                                        <img class="af unget_stamp" src="./images/index/game/africa_stamp.svg" v-if="theTheme==4 && winning==true">
                                        <img class="af unget_stamp" src="./images/index/game/unget.png" v-else>

                                        <img class="oc unget_stamp" src="./images/index/game/oceania.svg" v-if="theTheme==5 && winning==true">
                                        <img class="oc unget_stamp" src="./images/index/game/unget.png" v-else>

                                    </div>
                                    <img class="gift_icon" src="./images/index/game/gift_gold.svg" v-if="getGift==true" @click="getCoupon">
                                    <img class="gift_icon" src="./images/index/game/gift_gray.svg" v-else>
                                </div>
                            </div>

                            <div class="gamebtn">
                                <button class="btnM_line game_share" onclick="share()">分享</button>
                                <a href='index.html'>
                                    <button class="btnM_line back_index">回首頁</button>
                                </a>
                                <button class="btnM_line game_continue" @click="game_continue">繼續挑戰</button>
                            </div>
                        </div>
                    </div>
                </transition>

                <!-- 優惠券 -->
                <div class="game_coupon" v-if="showCoupon==true">
                    <div class="game_mask"></div>
                    <div class="coupon_detail">
                        <div class="coupon_close_btn" @click="closeCoupon"></div>
                        <h3 class="game_award">今天的獎品是！！</h3>
                        <h3 id="coupon_title">跳轉世界玩翻天<br>75 折優惠券 一張</h3>
                        <div class="game_coupon_info">
                            <div class="first_row">
                                <p>優惠卷代碼： </p>
                                <p id="coupon_num"> 9A3826ZH</p>
                            </div>
                            <div class="second_row">
                                <p>（使用期限：</p>
                                <p id="coupon_date">2021/12/31）</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <header id="the_header" class="animation_header">
            <the-header></the-header>
        </header>
        <div id="mobile_menu">
            <menu-item></menu-item>
        </div>

        <footer id="the_footer">
            <the-footer></the-footer>
        </footer>
    </div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '385510642997838',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function share() {
            FB.ui(
                {
                    method: 'share',
                    href: 'https://tibamef2e.com/tfd102/project/g5/game.html',
                },
                // callback
                function (response) {
                    if (response && !response.error_message) {
                        alert('分享至臉書，邀請朋友一起成為jumper!');
                    } else {
                        // alert('Error while posting.');
                    }
                }
            )
        };

        new Vue({
            el: "#the_game",
            data: {
                theTheme: 0,
                themes: [
                    { continent: "am", num: 1 },
                    { continent: "eu", num: 2 },
                    { continent: "as", num: 3 },
                    { continent: "af", num: 4 },
                    { continent: "oc", num: 5 },
                ],
                task_ID: [
                    {
                        question: "電影『獅子王』中，彭彭與丁滿唱的「Hakuna Matata」，它是非洲語的什麼意思呢？",
                        option1: "不用擔心",
                        option2: "明天會更好",
                        option3: "活在當下",
                        answer: 1
                    },
                    {
                        question: "下列何者不是在非洲內？",
                        option1: "埃及",
                        option2: "日本",
                        option3: "衣索比亞",
                        answer: 2
                    },
                    {
                        question: "世界上雙胞胎最多的地方在哪裡？",
                        option1: "印度",
                        option2: "奈及利亞",
                        option3: "美國",
                        answer: 2
                    },
                ],
                outerPasswort: true,
                gameWordShow: false,
                question: false,
                taskIndex: 0,
                userAnswers: [],
                userAnswer: '',
                winning: false,
                innerPasswort: false,
                showCoupon: false,
                result: false,
                getGift: false,
            },
            computed: {

            },
            methods: {
                startGame() {
                    this.outerPasswort = false;
                    this.gameWordShow = true;
                },
                showPasswort() {
                    this.outerPasswort = false;
                    this.innerPasswort = true;

                    // axios.post('./php/game_record.php').then(res =>console.log(res.data));
                    axios.post('./php/game_record.php').then(res => this.data = res.data);
                    // 判斷印章數 == 5 ，getGift = true;
                    // if () {
                    //     this.showCoupon = true;
                    // }else {
                    //     this.showCoupon = false;
                    // }
                },
                chooseTheTheme(index) {
                    this.gameWordShow = false;
                    this.theTheme = index + 1;
                    
                    axios.post('./php/game_qa.php', {
                        // console.log(this.themes[index].num);
                        num: this.themes[index].num
                    }).then(res => {
                        // console.log(res.data);

                        let data = res.data;

                        for (let i = 0; i < data.length; i++) {
                            this.task_ID[i].question = data[i].question;
                            this.task_ID[i].option1 = data[i].option1;
                            this.task_ID[i].option2 = data[i].option2;
                            this.task_ID[i].option3 = data[i].option3;
                            this.task_ID[i].answer = data[i].answer;
                        }
                        this.question = true;
                    });

                },
                game_continue() {
                    this.innerPasswort = false;
                    this.gameWordShow = true;
                },
                next() {
                    // // 下一題，最後一題要判斷是否全對
                    // console.log(this.userAnswer);
                    // console.log(this.task_ID[this.taskIndex].answer);
                    // console.log(this.task_ID[this.taskIndex].answer == this.userAnswer);
                    if (this.task_ID[this.taskIndex].answer == this.userAnswer) {
                        this.userAnswers.push(true);
                    } else {
                        this.userAnswers.push(false);
                    }
                    // console.log(this.userAnswers);

                    if (this.taskIndex == 2) {
                        let correctAnswer = this.userAnswers.filter(function (val) { return val }).length;
                        this.result = true;
                        // console.log(correctAnswer);
                        if (correctAnswer == 3) {
                            this.winning = true;
                            this.taskIndex = 0;
                        } else {
                            this.winning = false;
                            this.taskIndex = 0;
                        }
                        this.userAnswers.splice(0);
                    } else {
                        this.taskIndex++;
                    }
                },
                closeResult() {
                    this.result = false;
                    this.question = false;
                    this.innerPasswort = true;

                    // 判斷印章數 == 5 ，getGift = true;
                    // if () {
                    //     this.showCoupon = true;
                    // }else {
                    //     this.showCoupon = false;
                    // }
                },
                getCoupon() {
                    // 先判斷登入登出
                    this.showCoupon = true;
                },
                closeCoupon() {
                    this.showCoupon = false;
                    this.getGift = false;
                }
            },
            mounted() {
                // axios.get('./php/game.php').then(res =>console.log(res.data));

                $(function () {
                    $(".btn_start").click(function () {
                        $(".landmark").delay(5000).css({
                            transformOrigin: "50% 50%",
                            animation: "zoom_out 1.4s linear infinite",
                        });
                    })

                    $(".landmark").click(function () {
                        $(".landmark").css({
                            animation: "none",
                        });
                        $(this).css({
                            backgroundImage: "url('./images/index/game/landmark_gold.png')",
                        });
                        $(".game_world_map div").not(this).delay(500).slideUp(700);
                    });

                    $(".game_continue").click(function () {
                        $(".game_result_overlay").fadeOut();
                        $(".landmark").css({
                            backgroundImage: "url('./images/index/game/landmark_white.png')",
                            animation: "zoom_out 1.4s linear infinite",
                        }).slideDown();
                        $(".opt").css({
                            backgroundColor: "#F7F6F2",
                        });
                    })

                    $(".opt").click(function () {
                        $(this).css({
                            backgroundColor: "rgba(0,0,0,0.06)",
                        })
                        $(this).siblings().css({
                            backgroundColor: "#F7F6F2",
                        });
                    })
                })
            },
        });

    </script>
    <script src="./js/header_footer.js"></script>
    <!-- <script src="./js/game.js"></script> -->
</body>

</html>