<!DOCTYPE html>
<html lang="zh_Hant">

<head>
    <title>會員登入/註冊</title>
    <!-- 共用 -->
    <meta charset="UTF-8">
    <meta name="keywords" content="travel, tour, trip, online travel">
    <meta name="description" content="online travel website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jq/jquery-3.6.0.js"></script>
    <script src="./js/vue/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.5.2/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="icon" href="./images/logo/favicon.ico.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="loginMemberPage_Body">

    <div id="login">

        <!--  include header   -->
        <header id="the_header">
            <the-header></the-header>
        </header>
        <div id="mobile_menu">
            <menu-item></menu-item>
        </div>

        <!-- 桌機版 -->
        <!-- 登入 -->
        <div class="loginMemberPage_main" v-if="areaShow">

            <div class="loginInner">

                <div class="loginInner_Img">
                    <img src="./images/memberCenter/left_earth.png" alt="">
                </div>
                <!-- 內容區域 -->
                <div class="loginInner_block" id="login_block">
                    <h2>登入</h2>
                    <!-- 放登入的東西 -->
                    <!-- 輸入框欄位 -->

                    <input class="login_input" v-model="account" type="account" placeholder="帳號 :" autocomplete="off"
                        name="member_account_input" id="account">
                    <input class="login_input" v-model="password" type="password" placeholder="密碼 :" autocomplete="off"
                        name="member_password_input">
                    <p v-if="!password_login" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <!-- 無法登入 -->
                    <div class="forgetPassword" @click="password_forget">
                        <p>忘記密碼?</p>
                    </div>
                    <!-- 登入切換按鈕 -->
                    <button type="button" class="btnM areaShow" id="btn_login" value="登入" @click="signIN">登入</button>



                </div>

                <!-- 登入註冊切換按鈕區 -->
                <div class="loginSitch">
                    <button type="button" class="btnM_light" id="btn_Signup" @click="showBtn">註冊</button>
                </div>
            </div>

        </div>

        <!-- 註冊 -->
        <div class="SiginMemberPage_main" v-else>
            <div class="SiginInner">

                <div class="loginInner_Img">
                    <img src="./images/memberCenter/right_earth.png" alt="">
                </div>

                <!-- 登入註冊切換按鈕區 -->
                <div class="SiginSitch">
                    <button type="button" class="btnM_light" id="btn_Signup" @click="showBtn">登入</button>
                </div>

                
                <!-- 內容區域 -->
                <div class="SigiInner_block" id="signUp_block">
                    <h2>註冊</h2>
                    <!-- 放登出的東西 -->
                    <!-- 輸入框欄位 -->

                    <input class="login_input" v-model="account_register" type="text" placeholder="帳號 :" id="account_register">

                    <input class="login_input" v-model="email_register" type="email" placeholder="Email :"
                        autocomplete="off" id="email_register">
                    <p v-if="!email_register_msg" class="sigin_tiny">信箱格式錯誤</p>

                    <input class="login_input" v-model="password_register" type="text" placeholder="密碼 :" id="password_register">
                    <p v-if="!password_register_msg" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <input class="login_input" type="text" v-model="password_register_again" placeholder="確認密碼 :" id="password_register">
                    <p v-if="!password_register_again_msg" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <!-- 登入按鈕 -->
                    <button type="button" class="btnM Sign_BTN" id="showBtn" @click="joinIN">註冊</button>


                </div>


            </div>

        </div>


        <!-- 手機版 -->
        <!-- 登入 -->
        <div class="phone_loginMemberPage" v-if="areaShow">

            <!-- 登入 -->

            <div class="phone_loginInner">
                <div class="phone_back_icon">
                    <a href="./index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17.492" viewBox="0 0 10 17.492">
                            <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                                d="M14.265,14.937l6.618-6.613a1.25,1.25,0,0,0-1.77-1.765l-7.5,7.493a1.248,1.248,0,0,0-.036,1.724l7.53,7.545a1.25,1.25,0,0,0,1.77-1.765Z"
                                transform="translate(-11.251 -6.194)" fill="#996a4d" />
                        </svg>
                    </a>
                </div>

                <div class="phone_loginInner_Img">
                    <img src="./images/logo/logo_phone_login.svg" alt="">
                </div>
                <!-- 內容區域 -->
                <div class="phone_loginInner_block ">
                    <h2>登入</h2>

                    <!-- 輸入框欄位 -->

                    <input class="login_input" v-model="account" type="text" placeholder="帳號 :">
                    <input class="login_input" v-model="password" type="text" placeholder="密碼 :">
                    <p v-if="!password_login"class="sigin_tiny">密碼長度需高於6個字元</p>
                    <!-- 無法登入 -->
                    <div class="forgetPassword" @click="phone_password_forget">
                        <p>忘記密碼?</p>
                    </div>
                    <!-- 登入切換按鈕 -->
                    <!-- 登入註冊切換按鈕區 -->
                    <div class="phone_loginSitch">
                        <button type="button" class="btnM " id="btn_login" @click="signIN">登入</button>
                        <button type="button" class="btnM_light" id="btn_Signup" @click="showBtn">註冊</button>
                    </div>

                </div>


            </div>

        </div>

        <!-- 註冊 -->
        <div class="phone_loginMemberPage" v-else>


            <div class="phone_loginInner">

                <div class="phone_back_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17.492" viewBox="0 0 10 17.492">
                        <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                            d="M14.265,14.937l6.618-6.613a1.25,1.25,0,0,0-1.77-1.765l-7.5,7.493a1.248,1.248,0,0,0-.036,1.724l7.53,7.545a1.25,1.25,0,0,0,1.77-1.765Z"
                            transform="translate(-11.251 -6.194)" fill="#996a4d" />
                    </svg>
                </div>

                <div class="phone_loginInner_Img">
                    <img src="./images/logo/logo_phone_login.svg" alt="">
                </div>
                <!-- 內容區域 -->
                <div class="phone_loginInner_block ">
                    <h2>登入</h2>

                    <!-- 輸入框欄位 -->

                    <input class="login_input" type="text" placeholder="帳號 :">
                    <input class="login_input" v-model="phone_email_register" type="email" placeholder="Email :">
                    <p v-if="!phone_email_register_msg" class="sigin_tiny">信箱格式錯誤</p>
                    <input class="login_input" v-model="phone_password_register" type="password" placeholder="密碼 :">
                    <p v-if="!phone_password_register_msg" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <input class="login_input" v-model="phone_password_register_again" type="text" placeholder="確認密碼 :">
                    <p v-if="!phone_password_register_again_msg" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <!-- 登入切換按鈕 -->
                    <!-- 登入註冊切換按鈕區 -->
                    <div class="phone_loginSitch">
                        <button type="button" class="btnM " id="btn_login" @click="showBtn">登入</button>
                        <button type="button" class="btnM_light" id="btn_Signup">註冊</button>
                    </div>
                </div>


            </div>

        </div>

    </div>


    <footer id="the_footer">
        <the-footer></the-footer>
    </footer>
    <script src="./js/header_footer.js"></script>

    <script>

        new Vue({
            el: '#login',
            data() {      //變數存放的地方
                return {
                    // 登入註冊切換
                    areaShow: true,
                    account: '',
                    password: '',
                    password_login: true,
                    account_register: '',
                    password_register: '',
                    password_register_msg: true,
                    password_register_again: '',
                    password_register_again_msg: true,
                    email_register: '',
                    email_register_msg: true,
                    phone_password: '',
                    phone_password_login: true,
                    phone_email_register: '',
                    phone_email_register_msg: true,
                    phone_password_register: '',
                    phone_password_register_msg: true,
                    phone_password_register_again: '',
                    phone_password_register_again_msg: true,

                }

            },
            watch: {
                password: function () {
                    if (this.password.length < 6) {
                        this.password_login = false;
                    } else {
                        this.password_login = true;
                    }
                },
                password_register: function () {
                    if (this.password_register.length < 6) {
                        this.password_register_msg = false;
                    } else {
                        this.password_register_msg = true;
                    }
                },
                password_register_again: function () {
                    if (this.password_register_again != this.password_register) {
                        this.password_register_again_msg = false;
                    } else {
                        this.password_register_again_msg = true;
                    }
                },
                email_register: function () {
                    let isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                    if (!isText.test(this.email_register) && this.email_register.length > 10) {
                        this.email_register_msg = false;
                    } else {
                        this.email_register_msg = true;
                    }
                },
                phone_password: function () {
                    if (this.phone_password.length < 6) {
                        this.phone_password_login = false;
                    } else {
                        this.phone_password_login = true;
                    }
                },
                phone_email_register: function () {
                    let isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                    if (!isText.test(this.phone_email_register) && this.phone_email_register.length > 10) {
                        this.phone_email_register_msg = false;
                    } else {
                        this.phone_email_register_msg = true;
                    }
                },
                phone_password_register: function () {
                    if (this.phone_password_register.length < 6) {
                        this.phone_password_register_msg = false;
                    } else {
                        this.phone_password_register_msg = true;
                    }
                },
                phone_password_register_again: function () {
                    if (this.phone_password_register_again != this.phone_password_register) {
                        this.phone_password_register_again_msg = false;
                    } else {
                        thisphone_password_register_again_msg = true;
                    }
                },

            },
            methods: {  //函數（方法）大部分放這裡
                // 登入註冊切換
                showBtn() {
                    this.areaShow = !this.areaShow
                },
                password_forget() {
                    alert("請輸入正確帳號")
                },
                phone_password_forget() {
                    alert("請輸入正確帳號")
                },
                signIN() {
                    // console.log(p)
                    // console.log(this.password)
                    // console.log(this.account)
                    axios.post("./php/Login.php", {
                        password: this.password,
                        account: this.account
                    }).then(res => {
                        console.log(res.data);
                        if (res.data == 0) {
                            alert("登入失敗");
                            window.location.href = './login.html';  
                            
                        } else {
                            sessionStorage.setItem("memberID", res.data);
                            alert("登入成功");
                            window.location.href = './member.html';  

                        }

                    })
                },
                joinIN() {
                    $.ajax({
                        methods: 'POST',
                        url: './php/Join.php',
                        data:{
                            account_register : $('#account_register').val(),
                            email_register : $('#email_register').val(),
                            password_register : $('#password_register').val(),

                        },
                        dataType: 'json',
                        success: function(response) {
                            console.log(response);
                            if(response == 1){
                                alert('註冊成功');
                                window.location.href = './login.html';
                            } else {
                                console.log(response);
                                alert('請完成註冊內容');
                                // window.location.href = './login.html';
                            }
                        },
                    })
                }


            },
                //     $.ajax({
                //         method: 'POST',
                //         url: './php/Login.php',
                //         data:{
                //             password: $('#password').val(),
                //             account : $('#account').val(),
                //         },
                //         dataType: 'json',
                //         success: function(response) {
                //             console.log(response);
                //             if(response == 1){
                //                 alert('登入成功');
                //                 window.location.href = './member.html';  
                //             }else{
                //                 console.log(response)
                //                 alert('查無會員');
                //                 window.location.href = './login.html';  

                //             }
                //         },
                //         error: function(exception) {
                //             alert("發生錯誤: " + exception.status);
                //         },
                //         })
                //     }
                // },
        });

    </script>
</body>

</html>