<!DOCTYPE html>
<html lang="zh_Hant">

<head>
    <title>會員登入/註冊</title>
    <!-- 共用 -->
    <meta charset="UTF-8">
    <meta name="keywords" content="travel, tour, trip, online travel">
    <meta name="description" content="online travel website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jq/jquery-3.6.0.js"></script>
    <script src="./js/vue/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.5.2/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script>
        emailjs.init("user_XniFiMi6ILeNtlKm4SSZA");
    </script>
    <link rel="icon" href="./images/logo/favicon.ico.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="loginMemberPage_Body">

    <div id="login">

        <!--  include header   -->
        <header id="the_header">
            <the-header></the-header>
        </header>
        <div id="mobile_menu">
            <menu-item></menu-item>
        </div>

        <!-- 桌機版 -->
        <!-- 登入 -->
        <div class="loginMemberPage_main" v-if="areaShow">

            <div class="loginInner">

                <div class="loginInner_Img">
                    <img src="./images/memberCenter/left_earth.png" alt="">
                </div>
                <!-- 內容區域 -->
                <div class="loginInner_block" id="login_block">
                    <h2>登入</h2>
                    <!-- 放登入的東西 -->
                    <!-- 輸入框欄位 -->
                    <input class="login_input" v-model="account" type="account" placeholder="帳號 :" autocomplete="off"
                        name="member_account_input" id="account" onkeyup="ban_chinese(this)" />

                    <input class="login_input" v-model="password" type="password" placeholder="密碼 :" autocomplete="off"
                        name="member_password_input">
                    <p v-if="!password_login" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <!-- 無法登入 -->
                    <div class="forgetPassword" @click="password_forget">
                        <p>忘記密碼?</p>
                    </div>
                    <!-- 登入切換按鈕 -->
                    <button type="button" class="btnM areaShow" id="btn_login" value="登入" @click="signIN">登入</button>
                </div>
                <!-- 登入註冊切換按鈕區 -->
                <div class="loginSitch">
                    <button type="button" class="btnM_light" id="btn_Signup" @click="showBtn">註冊</button>
                </div>
            </div>

        </div>

        <!-- 註冊 -->
        <div class="SiginMemberPage_main" v-else>
            <div class="SiginInner">

                <div class="loginInner_Img">
                    <img src="./images/memberCenter/right_earth.png" alt="">
                </div>

                <!-- 登入註冊切換按鈕區 -->
                <div class="SiginSitch">
                    <button type="button" class="btnM_light" id="btn_Signup" @click="showBtn">登入</button>
                </div>

                
                <!-- 內容區域 -->
                <div class="SigiInner_block" id="signUp_block">
                    <h2>註冊</h2>

                    <!-- 輸入框欄位 -->

                    <input class="login_input" v-model="account_register" type="account" placeholder="帳號 :"
                        id="account_register" onkeyup="ban_chinese(this)">

                    <input class="login_input" v-model="email_register" type="email" placeholder="Email :"
                        autocomplete="off" id="email_register" onkeyup="ban_chinese(this)">
                    <p v-if="!email_register_msg" class="sigin_tiny">信箱格式錯誤</p>

                    <input class="login_input" v-model="password_register" type="password" placeholder="密碼 :"
                        id="password_register">
                    <p v-if="!password_register_msg" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <input class="login_input" type="password" v-model="password_register_again" placeholder="確認密碼 :"
                        id="password_register" ref="passwd_again">
                    <p v-if="!password_register_again_msg" class="sigin_tiny">確認密碼必須與密碼相同</p>
                    <!-- 登入按鈕 -->
                    <button type="button" class="btnM Sign_BTN" id="showBtn" @click="joinIN">註冊</button>

                </div>


            </div>

        </div>


        <!-- 手機版 -->
        <!-- 登入 -->
        <div class="phone_loginMemberPage" v-if="areaShow">

            <!-- 登入 -->

            <div class="phone_loginInner">
                <div class="phone_back_icon">
                    <a href="./index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17.492" viewBox="0 0 10 17.492">
                            <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                                d="M14.265,14.937l6.618-6.613a1.25,1.25,0,0,0-1.77-1.765l-7.5,7.493a1.248,1.248,0,0,0-.036,1.724l7.53,7.545a1.25,1.25,0,0,0,1.77-1.765Z"
                                transform="translate(-11.251 -6.194)" fill="#996a4d" />
                        </svg>
                    </a>
                </div>

                <div class="phone_loginInner_Img">
                    <img src="./images/logo/logo_phone_login.svg" alt="">
                </div>
                <!-- 內容區域 -->
                <div class="phone_loginInner_block ">
                    <h2>登入</h2>

                    <!-- 輸入框欄位 -->
                    <input class="login_input" v-model="account" type="account" placeholder="帳號 :" autocomplete="off"
                        name="member_account_input" id="account" onkeyup="ban_chinese(this)">
                    <input class="login_input" v-model="password" type="password" placeholder="密碼 :" autocomplete="off"
                        name="member_password_input">
                    <p v-if="!password_login" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <!-- 無法登入 -->
                    <div class="forgetPassword forgetPassword_phone" @click="password_forget">
                        <p>忘記密碼?</p>
                    </div>
                    <!-- 登入切換按鈕 -->
                    <!-- 登入註冊切換按鈕區 -->
                    <div class="phone_loginSitch">
                        <button type="button" class="btnM " id="btn_login" @click="signIN">登入</button>
                        <button type="button" class="btnM_light" id="btn_Signup" @click="showBtn">註冊</button>
                    </div>

                </div>


            </div>

        </div>

        <!-- 註冊 -->
        <div class="phone_loginMemberPage" v-else>


            <div class="phone_loginInner">

                <div class="phone_back_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17.492" viewBox="0 0 10 17.492">
                        <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                            d="M14.265,14.937l6.618-6.613a1.25,1.25,0,0,0-1.77-1.765l-7.5,7.493a1.248,1.248,0,0,0-.036,1.724l7.53,7.545a1.25,1.25,0,0,0,1.77-1.765Z"
                            transform="translate(-11.251 -6.194)" fill="#996a4d" />
                    </svg>
                </div>

                <div class="phone_loginInner_Img">
                    <img src="./images/logo/logo_phone_login.svg" alt="">
                </div>
                <!-- 內容區域 -->
                <div class="phone_loginInner_block ">
                    <h2>註冊</h2>

                    <!-- 輸入框欄位 -->

                    <input class="login_input" v-model="account_register" type="text" placeholder="帳號 :"
                        id="account_register" onkeyup="value=value.replace(/[\W]/g,'') "
                        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
                    <input class="login_input" v-model="email_register" type="email" placeholder="Email :"
                        autocomplete="off" id="email_register" onkeyup="value=value.replace(/[\W]/g,'') "
                        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
                    <p v-if="!email_register_msg" class="sigin_tiny">信箱格式錯誤</p>
                    <input class="login_input" v-model="password_register" type="password" placeholder="密碼 :"
                        id="password_register">
                    <p v-if="!password_register_msg" class="sigin_tiny">密碼長度需高於6個字元</p>
                    <input class="login_input" type="password" v-model="password_register_again" type="password"
                        placeholder="確認密碼 :" id="password_register" ref="passwd_again">
                    <p v-if="!password_register_again_msg" class="sigin_tiny">確認密碼必須與密碼相同</p>
                    <!-- 登入切換按鈕 -->
                    <!-- 登入註冊切換按鈕區 -->
                    <div class="phone_loginSitch">
                        <button type="button" class="btnM_light" id="btn_login" @click="showBtn">登入</button>
                        <button type="button" class="btnM" id="btn_Signup" @click="joinIN">註冊</button>
                    </div>
                </div>


            </div>

        </div>


        <!-- 忘記密碼彈窗 -->
        <div class="verification" v-show="forgetPassword_verification">
            <form action="" method="POST" class="forgtPassword_container">
                <!-- close button -->
                <div type="button" class="close_btn_block" @click="close_forgetPassword_verification">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.994" viewBox="0 0 24 23.994">
                        <path id="Icon_ionic-ios-close" data-name="Icon ionic-ios-close"
                            d="M26.129,23.286,34.7,14.714a2.009,2.009,0,1,0-2.841-2.841l-8.572,8.572-8.572-8.572a2.009,2.009,0,1,0-2.841,2.841l8.572,8.572-8.572,8.572A2.009,2.009,0,0,0,14.716,34.7l8.572-8.572L31.86,34.7A2.009,2.009,0,0,0,34.7,31.857Z"
                            transform="translate(-11.285 -11.289)" fill="#996a4d" />
                    </svg>
                </div>

                <!-- logo Img -->
                <div class="forgetpsd_logo_pic">
                    <img src="./images/logo/logo-circle.png" alt="">
                </div>

                <!-- email -->
                <div class="forgetpsd_email_block">
                    <h4 class="forgetpsd_h4">我們需要驗證您的身份</h4>
                    <input class="login_input forget_input" v-model="forget_email_register" type="email"
                        placeholder="輸入註冊的Email :" ref="forgetemail" onkeyup="ban_chinese(this)">
                    <p v-if="!forget_email_register_msg" class="sigin_tiny forgetPassword_phone">信箱格式錯誤</p>
                    <!-- submit email -->
                    <button type="button" class="btnM forgetpsd_sub" id="" @click="forget">寄送認證</button>
                </div>
            </form>

        </div>
    </div>


    <footer id="the_footer">
        <the-footer></the-footer>
    </footer>
    <script src="./js/header_footer.js"></script>

    <script>


        new Vue({
            el: '#login',
            data() {      //變數存放的地方
                return {
                    // 登入註冊切換
                    areaShow: true,
                    account: '',
                    password: '',
                    password_login: true,
                    account_register: '',
                    password_register: '',
                    password_register_msg: true,
                    password_register_again: '',
                    password_register_again_msg: true,
                    email_register: '',
                    email_register_msg: true,
                    forget_email_register: '',
                    forget_email_register_msg: true,
                    forgetPassword_verification: false,
                    email: '',
                }

            },
            watch: {
                password: function () {
                    if (this.password.length < 6) {
                        this.password_login = false;

                    } else {
                        this.password_login = true;
                    }
                },
                password_register: function () {
                    if (this.password_register.length < 6) {
                        this.password_register_msg = false;
                    } else {
                        this.password_register_msg = true;
                    }
                },
                password_register_again: function () {
                    if (this.password_register_again != this.password_register) {
                        this.password_register_again_msg = false;
                    } else {
                        this.password_register_again_msg = true;
                    }
                },
                email_register: function () {
                    // let emails = /^([\w]+)(.[\w]+)*@([\w]+)(.[\w]{2,3}){1,2}$/;
                    let isText = /^([\w]+)(.[\w]+)*@([\w]+)(.[\w]{2,3}){1,2}$/;
                    if (!isText.test(this.email_register)) {
                        this.email_register_msg = false;
                    } else {
                        this.email_register_msg = true;
                    }
                },
                forget_email_register: function () {
                    let isText = /^([\w]+)(.[\w]+)*@([\w]+)(.[\w]{2,3}){1,2}$/;
                    if (!isText.test(this.forget_email_register)) {
                        this.forget_email_register_msg = false;
                    } else {
                        this.forget_email_register_msg = true;
                    }
                }
            },
            methods: {  //函數（方法）大部分放這裡
                // 忘記密碼
                forget() {
                    axios.post('./php/forgetemail.php', {
                        email: this.forget_email_register
                    }).then(res => {
                        let data = res.data;
                        if (data != 0) {
                            const serviceID = 'service_ryrozc8';
                            const templateID = 'template_6lqp9eu';
                            const user_id = 'user_XniFiMi6ILeNtlKm4SSZA';
                            // console.log(data);
                            // console.log(this.email_register);
                            emailjs.send(
                                serviceID,
                                templateID,
                                {
                                    password: data,
                                    reply_to: this.forget_email_register
                                },
                                user_id
                            )
                                .then(() => {
                                    alert('請至信箱收取信件');
                                }, (err) => {
                                    alert(JSON.stringify(err));
                                });
                            this.forget_email_register = '';
                        } else {
                            alert('查無此email資料');
                        }
                    })
                },
                // 登入註冊切換
                showBtn() {
                    this.areaShow = !this.areaShow
                },
                password_forget() {
                    this.forgetPassword_verification = !this.forgetPassword_verification;
                    // alert("請輸入正確帳號")
                },
                close_forgetPassword_verification() {
                    this.forgetPassword_verification = !this.close_forgetPassword_verification;
                },
                phone_password_forget() {
                    alert("請輸入正確帳號")
                },
                signIN() {
                    // console.log(p)
                    // console.log(this.password)
                    // console.log(this.account)

                    axios.post("./php/Login.php", {
                        password: this.password,
                        account: this.account
                    }).then(res => {
                        console.log(res.data);
                        if (res.data == 0) {
                            alert("此帳號已停權，若有問題請聯絡我們，Jumper 團隊會立刻為您服務，謝謝您！");
                            // window.location.href = './login.html';

                        } else {
                            window.location.href = './member.html';
                        }

                    })

                },
                joinIN() {
                    // let isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                    if (this.account_register && this.email_register_msg && this.password_register && this.password_register_again && this.password_register_msg) {
                        if ($('#password_register').val() == this.$refs.passwd_again.value) {
                            axios.post('./php/Join.php', {
                                account_register: $('#account_register').val(),
                                email_register: $('#email_register').val(),
                                password_register: $('#password_register').val(),
                                password_register_again: this.$refs.passwd_again.value

                            }).then(res => {
                                let data = res.data;
                                if (data == 1) {
                                    alert('註冊成功');
                                    // window.location.href = './login.html';
                                    this.account_register = '';
                                    this.email_register = '';
                                    this.password_register = '';
                                    this.password_register_again = '';
                                    this.areaShow = true;
                                } else if (data == 0) {
                                    alert('此帳號或信箱已被註冊過');
                                    // window.location.href = './login.html';
                                } else {
                                    alert('請完成註冊內容');
                                }
                            })
                        } else {
                            alert('密碼與確認密碼必須相同');
                        }
                    } else {
                        alert('請完成註冊內容');
                    }
                },
                // ban_chinese(e){
                //     e.value=e.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,'')
                // },
            },
        });

    </script>

    <script>
        function ban_chinese(obj) {
            obj.value = obj.value.replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g, '');
            //  alert("請輸入英文");
        }
    </script>
</body>

</html>