<!DOCTYPE html>
<html lang="zh_Hant">

<head>
    <title>常見問題</title>
    @@include('layout_html/plugin.html')
    <style>
        .turnBg {
            background-image: url(./images/icon/minus2.svg) !important;
            background-position: top 31px right 30px !important;
            background-size: 20px !important;
            border-radius: 13px 13px 0 0 !important;
        }

        @media all and (max-width: 576px) {
            .turnBg {
                background-position: top 30px right 30px !important;
            }
        }

        .error {
            border: 2px solid red !important;
        }


    </style>
</head>


<body>

    <header id="the_header">
        <the-header></the-header>
    </header>
    <div id="mobile_menu">
        <menu-item></menu-item>
    </div>
    <div class="mobile_logo">
        <img src="./images/logo/logo.svg" alt="logo">
    </div>
    
    <div id="faq_app">
        <section class="faq_sec1">
            <!-- <h1>
                <img src="./images/logo/logo.png" alt="">
            </h1> -->
            <h2>您好，需要什麼協助嗎?</h2>
            <input type="text" v-model="search" placeholder="請輸入關鍵字">
            <div class="deco"></div>
        </section>

        <section class="faq_sec2">
            <h3>常見問題</h3>

            <div class="flexbox">
                <div class="app_l">
                    <a @click="current_category = '/q_acc'" :class="{'preChk':current_category === '/q_acc'}">個人帳戶</a>
                    <a @click="current_category = '/q_trip'" :class="{'preChk':current_category === '/q_trip'}">參與旅程</a>
                    <a @click="current_category = '/q_pay'" :class="{'preChk':current_category === '/q_pay'}">購買與付款</a>
                    <a @click="current_category = '/q_cancel'"
                        :class="{'preChk':current_category === '/q_cancel'}">取消與退款</a>
                    <a @click="current_category = '/q_coupon'"
                        :class="{'preChk':current_category === '/q_coupon'}">使用優惠碼</a>
                </div>
                <div class="app_r">
                    <div>
                        <div class="qcard" v-for="card in filterList">

                            <p @click="card.isActive = !card.isActive;" :class="{turnBg: card.isActive}"
                                v-text="card.title"></p>
                            <div v-if="card.isActive" class="word" v-html="card.content"></div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="faq_sec3">
            <h3>更多幫助</h3>
            <p>Jumper客服團隊很樂意為您服務</p>
            <form action="#">
                <label for="">
                    <span>您的稱呼：</span><input :class="{'error':formData.name.checked == false}"
                        v-model="formData.name.value" type="text" placeholder="陳先生／小姐">
                </label>
                <label for="">
                    <span>您的信箱：</span><input :class="{'error':formData.email.checked == false}"
                        v-model="formData.email.value" type="email" placeholder="jumper@gmail.com">
                </label>
                <textarea cols="30" rows="10" :class="{'error':formData.textarea.checked == false}"
                    v-model="formData.textarea.value">想問的問題：</textarea>
                <button class="btnM" id="qa_submit" type="button" @click="qaSubmit">送出</button>
            </form>
            <img src="./images/icon/toTop_dark.svg" alt="" id="goTop">
        </section>
    </div>
    <footer id="the_footer">
        <the-footer></the-footer>
    </footer>
    <script src="js/header_footer.js"></script>
    <script>

        new Vue({
            el: '#faq_app',
            data: {
                now:0,
                search: '',
                resTxt: '',
                message:'',
                classList: {
                    iserror: false,
                },
                formData: {
                    name: {
                        value: '',
                        checked: true
                    },
                    email: {
                        value: '',
                        checked: true
                    },
                    textarea: {
                        value: '',
                        checked: true
                    }
                },
                current_category: '/q_acc',

                data: [
                    {
                        title: '忘記密碼該怎麼辦?',
                        content: '<p>您可以在註冊/登入頁面，點選「忘記密碼」按鈕，並輸入您當初註冊時，所填寫的電子信箱。我們將發送一組新的密碼至您的信箱，之後您可以再重新設定密碼。</p>',
                        isActive: false,
                        path: '/q_acc'
                    },
                    {
                        title: '如何修改個人資訊?',
                        content: '<p>在您完成登入會員後，可至會員中心，點選「會員資料」項目，修改您的基本資料，並按下確認送出。</p>',
                        isActive: false,
                        path: '/q_acc'
                    },
                    {
                        title: '如何建立個人帳戶?',
                        content: '<p>點選註冊按鈕，進入註冊頁面。輸入您的使用者名稱、電子信箱以及密碼，輸入完成後將可免費註冊成為jumper會員!</p>',
                        isActive: false,
                        path: '/q_acc'
                    },
                    {
                        title: '如何參加我有興趣旅程?',
                        content: '<p>您可以點選進該旅程頁面，選擇您希望參與的日期、時段及參與人數，若該日期與時段的參與人數尚未額滿，您即可購買此旅程。</p><p>等待旅遊活動當日，至會員中心「即將參與旅程」的清單中，在該旅程項目點擊「前往旅程」。旅遊活動開始時，線上導遊便會帶著您參與行程。</p>',
                        isActive: false,
                        path: '/q_trip'
                    },
                    {
                        title: '參與旅程當天，是否需要準備什麼?',
                        content: '<p>建議您在事先備好電腦或平板，並於活動當天在網路順暢的環境下參與您的旅程。</p>',
                        isActive: false,
                        path: '/q_trip'
                    },
                    {
                        title: '如何購買我有興趣的行程?',
                        content: '<p>您可以點選進該旅程頁面，選擇您希望參與的日期、時段及參與人數，若該日期與時段的參與人數尚未額滿，您即可購買此旅程。</p>',
                        isActive: false,
                        path: '/q_pay'
                    },
                    {
                        title: '目前網站有提供那些付款方式?',
                        content: '<p>目前僅提供「信用卡付款」方式，來完成您的每一筆訂單。而我們接受 Master Card、Maestro、Visa、American Express 所發行的信用卡。</p>',
                        isActive: false,
                        path: '/q_pay'
                    },
                    {
                        title: '哪裡可以看見我所購買的旅程?',
                        content: '<p>您可以至會員中心，點選「即將參與旅程」的項目，瀏覽您目前已付款但活動尚未開始的旅程。</p></br><p>亦可在「旅程紀錄」中，瀏覽您過往已參與過的行程。</p>',
                        isActive: false,
                        path: '/q_pay'
                    },
                    {
                        title: '如何取消已付款的旅程?',
                        content: '<p>在您已付款的旅程「活動開始前24小時」，可至會員中心「即將參與旅程」的項目中，針對該旅程點選「取消旅程」。系統查核無誤後，會進行全額退款。</p></br><p>若您已付款的旅程「活動將於24小時內開始」，則無法取消該旅程。</p>',
                        isActive: false,
                        path: '/q_cancel'
                    },
                    {
                        title: '如何更改已付款的旅程之日期、時段、人數?',
                        content: '<p>由於每場旅程都有人數限制，為顧及所有參與者的體驗品質，旅程一經付款，便無法再修改日期、時段或人數。</p></br><p>建議您可以先取消原本的行程，再重新購買同一行程，並重新選擇所希望的日期、時間及人數。</p>',
                        isActive: false,
                        path: '/q_cancel'
                    },
                    {
                        title: '能否轉讓已付款的旅程給其他人?',
                        content: '<p>很抱歉，目前無提供轉讓旅程的服務，建議您可以在時限內取消已付款的旅程。</p>',
                        isActive: false,
                        path: '/q_cancel'
                    },
                    {
                        title: '取消旅程後，何時能收到退款?',
                        content: '<p>取消旅程後，系統查核無誤便全額退款至您的銀行帳戶。信用卡公司約在7-14個工作天內會進行刷退處理。</p>',
                        isActive: false,
                        path: '/q_cancel'
                    },
                    {
                        title: '如何獲得優惠碼',
                        content: '您可以藉由完成jumper旅遊護照遊戲(請至首頁點選連結)，集滿五大洲印章，即可獲得一組優惠碼',
                        isActive: false,
                        path: '/q_coupon'
                    },
                    {
                        title: '如何查詢我的優惠碼?',
                        content: '當您在購買任一旅程時，點選結帳頁面最下方「輸入優惠券」，將會列出您所有仍在效期內，且尚未使用過的優惠碼。',
                        isActive: false,
                        path: '/q_coupon'
                    },
                    {
                        title: '如何使用優惠碼?',
                        content: '<p><span>‧</span>當您獲得優惠碼後，在下一次購買任何旅遊行程時，於付款頁面「輸入優惠券」的項目中，輸入您的優惠碼，系統會自動依據您的優惠碼內容，自結帳總金額中扣除。</p><p><span>‧</span>請注意，一筆旅程訂單只適用一組優惠碼。一組優惠碼不能用於多次消費，一旦使用過後，便無法再於其他旅程訂單中使用。</p>',
                        isActive: false,
                        path: '/q_coupon'
                    },
                    {
                        title: '優惠碼有效期嗎?',
                        content: '<p>jumper所提供的所有優惠碼，使用期限皆至當年年底(12月31日)。超過使用期限則無法使用，請您務必於時效內使用完畢</p>',
                        isActive: false,
                        path: '/q_coupon'
                    }
                ]
            },

            methods: {
                qaSubmit(e) {
                    //抓取現在時間
                    var date = new Date();
                    this.now = date.getTime();

                    //物件跑回圈的寫法:
                    let all_check = true;
                    Object.keys(this.formData).map((objectKey, index) => {
                        var current = this.formData[objectKey];
                        if (current.value === '') {
                            this.formData[objectKey].checked = false;
                            all_check = false;
                        }
                        else {
                            this.formData[objectKey].checked = true
                        }
                    });

                    if (all_check) {

                        axios.post('./php/qa_form.php', JSON.stringify({
                            name: this.formData.name.value,
                            email: this.formData.email.value,
                            content: this.formData.textarea.value,
                            time: this.now,
                        }), {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(res => { //有多行內容用大括號包起來
                            this.resTxt = res.data;
                            //console.log(this.rejTxt);
                            alert(`${this.resTxt}`);
                            this.formData.name.value = "";
                            this.formData.email.value = "";
                            this.formData.textarea.value = "";
                        }).catch( (error) => alert('數據加載失敗'+ error));

                    }
                },
                // noResult(){
                //   console.log(filterList);
                // }
            },
            computed: {
                filterList() { //搜尋功能
                    if (this.search) {
                        return this.data.filter((card, index) => { //把data送下來使用filter功能
                            // if(card.title.includes(this.search)){ //搜尋到就打開的功能(看有沒有需要)
                            //     this.data[index].isActive = true;
                            // }else{
                            //     this.data[index].isActive = false;
                            // }
                            return card.title.includes(this.search);
                        })
                    } else {
                        return this.data.filter((card) => { //把data送下來使用filter功能
                            return card.path === this.current_category;
                        })

                    }
                },
            },
            mounted() {
                let preSet = document.getElementsByClassName('preChk')[0];
                preSet.click();
            },
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#goTop').click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 750);
            });
        });
    </script>
    <script>

    </script>
</body>
</html>