<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <title>飛越世界奇景 尼加拉大瀑布</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="travel, tour, trip, online travel">
    <meta name="description" content="online travel website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jq/jquery-3.6.0.js"></script>
    <script src="./js/vue/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.5.2/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="icon" href="./images/logo/favicon.ico.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header id="the_header">
        <the-header></the-header>
    </header>
    <div id="mobile_menu">
        <menu-item></menu-item>
    </div>
    <div class="mobile_logo">
        <img src="./images/logo/logo.svg" alt="logo">
    </div>

    <main id="travel-item">
        <div>
            <div class="top_info">
                <ul class="breadcrumb">
                    <li>
                        <a href="travel_list.html">旅遊總覽</a>
                    </li>
                    <h4>〉</h4>
                    <li>
                        <a href="travel_list.html">{{info.category}}</a>
                    </li>
                    <h4>〉</h4>
                    <li>
                        <a :href="info.link">{{info.title}}</a>
                    </li>
                </ul>
                <div class="top_pic">
                    <img :src="info.intro_pics">
                </div>
            </div>

            <div class="item_title">
                <div class="title_left">
                    <div class="img_border">
                        <img :src="info.avatar" alt="線上導遊">
                    </div>
                    <div class="title_content">
                        <h1>{{info.title}}</h1>
                        <h2>{{info.name}} 舉辦的線上旅遊</h2>
                        <h4>舉辦地點：{{info.place}}</h4>
                    </div>
                </div>
                <div class="icons_group">
                    <img src="./images/travel_item/share.svg" alt="share" @click="share1">
                    <img src="./images/travel_item/fav_white.svg" v-if="fav == false" @click="like">
                    <img src="./images/travel_item/fav_brown.svg" v-else @click="like">
                </div>
            </div>

            <div class="item_content">
                <div class="title_star">
                    <h2>活動內容</h2>
                    <div class="star_comment">
                        <div class="starNum">
                            <img src="./images/index/content/star.svg">
                            <h4>{{info.star_num}}</h4>
                        </div>
                        <h4>（ {{info.comment_count}} 則評價 ）</h4>
                    </div>
                </div>
                <h4>{{info.content}}</h4>
            </div>

            <div class="item_photos">
                <h2>更多旅遊照片</h2>
                <div class="photo_row1">
                    <img :src="info.pic1" @click="showPhotos(picIndex=1)" class="images">
                    <img :src="info.pic2" @click="showPhotos(picIndex=2)" class="images">
                </div>
                <div class="photo_row2">
                    <img :src="info.pic3" @click="showPhotos(picIndex=3)" class="images">
                    <img :src="info.pic4" @click="showPhotos(picIndex=4)" class="images">
                    <img :src="info.pic5" @click="showPhotos(picIndex=5)" class="images">
                </div>

                <transition>
                    <div class="photo_mask" v-show="photo_carousel==true">
                        <div class="close_photos" @click="closePhotos"></div>
                        <h4 class="picIndex">{{picIndex}} / 5</h4>
                        <div class="photo_container">
                            <div class="pre_photo" @click="prePhoto"></div>
                            <div class="pics">
                                <img :src="info.pic1" v-show="picIndex==1">
                                <img :src="info.pic2" v-show="picIndex==2">
                                <img :src="info.pic3" v-show="picIndex==3">
                                <img :src="info.pic4" v-show="picIndex==4">
                                <img :src="info.pic5" v-show="picIndex==5">
                            </div>
                            <div class="next_photo" @click="nextPhoto"></div>
                        </div>
                    </div>
                </transition>

            </div>

            <div class="item_explanation">
                <h2>相關說明</h2>
                <div class="ex_order">
                    <ul class="ex_content">
                        <li class="list" v-for="li in list">
                            <div class="num">{{li.num}}</div>
                            <div class="right_word">
                                <h3>{{li.title}}</h3>
                                <h4>{{li.description}}</h4>
                            </div>
                        </li>
                    </ul>

                    <div class="order" id="info.ID">
                        <h4>本場活動&nbsp; ${{info.event_price}} TWD / 人</h4>
                        <div class="selects">
                            <select name="date" id="date" class="selectItem" v-model="userSelect">
                                <option selected hidden>可選日期</option>
                                <option v-for="(date, index) in selectDates">{{date}}</option>
                            </select>
                            <select name="tiem" id="time" class="selectItem" v-model="userSelect2">
                                <option selected hidden>可選時段</option>
                                <option v-for="(time, index) in selectTime">
                                    {{time.time}}
                                </option>
                            </select>
                            <select name=" people_num" id="people_num" class="selectItem" v-model="userSelect3">
                                <option selected hidden>參與人數</option>
                                <option v-for="people_num in 10" :value="people_num">{{people_num}} 人</option>
                            </select>
                            <button class="btnL" id="order_now" @click.prevent="loginCheck()">立即訂購</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="other_comments">
                <h2>他人評價</h2>
                <ul class="comment_container">
                    <li v-for="(each_one, index) in comment" class="each_comment" v-if="index < showIndex">
                        <div class="comment_left">
                            <div class="avatar_border">
                                <img :src="each_one.avatar">
                            </div>
                            <h4>{{each_one.name}}</h4>
                        </div>
                        <div class="comment_right">
                            <div class="starNum2">
                                <img src="./images/index/content/star.svg">
                                <h4>{{each_one.star}}</h4>
                            </div>
                            <h4>{{each_one.content}}</h4>
                        </div>
                    </li>
                </ul>
                <button class="btnL_line" id="more_comments" @click="showMore" :class="{'onblock':change}">更多評價</button>
            </div>
        </div>

        <div id="recommend_item">
            <h2>推薦給你</h2>
            <ul class="recommend_container">
                <li v-for="(item,index) in recommend_items" :id="item.id" class="item">
                    <a :href="item.link" @click='changeLink(index ,$event)'>
                        <div class="trip_item">
                            <img :src="item.intro_pics">
                            <div class="content">
                                <div class="avatar">
                                    <img :src="item.avatar">
                                </div>
                                <div class="the_icon">
                                    <div class="share" @click.prevent.stop="share(index)"></div>
                                    <div class="fav" :class="{'clicked':is_fav(item.ID)}"
                                        @click.prevent.stop="is_fav(item.ID) ? deleteFav(item.ID) : addFav(item.ID)">
                                    </div>
                                </div>
                                <div class="the_star_num">
                                    <img src="./images/index/content/star.svg">&nbsp;{{item.star_num}}
                                    <p class="star_get">({{item.comment_count}})</p>&emsp;
                                    <p class="area">{{item.place}}</p>
                                </div>
                                <h4 class="trip_intro">
                                    {{item.title}}
                                </h4>
                                <p class="startprice">每人$ {{item.event_price}} 起</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </main>

    <footer id="the_footer" class="item_footer">
        <the-footer></the-footer>
    </footer>
    <script src="./js/fb_share.js"></script>
    <script>
        const travelItem = new Vue({
            el: "#travel-item",
            data: {
                info: [],
                list: [
                    { num: 1, title: "活動長度：約1小時", description: "旅遊全程以中文導覽" },
                    { num: 2, title: "人數上限：最多10位參與者", description: "歡迎邀請您的親朋好友，一起參與線上旅遊" },
                    { num: 3, title: "參與方式：線上加入", description: "透過 Google meenting 跟著線上導遊的腳步，一同暢遊景點" },
                    { num: 4, title: "取消訂購須知", description: "在旅遊活動開始「前 24 小時」取消，即可拿回全額退款" },
                ],
                comment: [],
                recommend_items: [],
                favs: [],
                fav: false,
                photo_carousel: false,
                showIndex: 3,
                change: false,
                picIndex: 1,
                eventTime: [],
                selectDates: [],
                userSelect: '可選日期',
                userSelect2: "可選時段",
                userSelect3: "參與人數",
                selectTime: [],
                getID: '',
                sessionIDs: '',
            },
            methods: {
                getsessionID(index) {
                    this.sessionIDs = this.selectTime[index].ID;
                },
                like() {
                    if (this.is_fav(this.getID)) {
                        this.deleteFav(this.getID);
                    } else {
                        this.addFav(this.getID);
                    }
                    this.fav = !this.fav;
                },
                showPhotos(picIndex) {
                    this.photo_carousel = true;
                },
                prePhoto() {
                    if (this.picIndex == 1) {
                        this.picIndex == 1
                    } else {
                        this.picIndex -= 1;
                    }
                },
                nextPhoto() {
                    if (this.picIndex == 5) {
                        this.picIndex == 5
                    } else {
                        this.picIndex += 1;
                    }
                },
                closePhotos() {
                    this.photo_carousel = false;

                },
                share1() {
                    console.log(this.info.ID);
                    FB.ui(
                        {
                            method: 'share',
                            href: `https://tibamef2e.com/tfd102/project/g5/travel_item.html?ID=${this.info.ID}`,
                        },
                        function (response) {
                            if (response && !response.error_message) {
                                alert('分享至臉書，邀請朋友一起成為jumper!');
                            }
                        }
                    )
                },
                loginCheck() {
                    $.ajax({
                        method: "POST",
                        url: "php/LoginCheck.php",
                        data: {},
                        dataType: "text",
                        success: function (response) {
                            let memberID = response;

                            if (response == "") {
                                alert('請先登入，將前往登入頁');
                                location.href = 'login.html';
                            } else {
                                chooseDate = travelItem.userSelect;
                                chooseTime = travelItem.userSelect2;
                                choosePeople = travelItem.userSelect3;
                                session_ID = travelItem.sessionIDs;
                                if (chooseDate == "可選日期" || chooseTime == "可選時段" || choosePeople == "參與人數") {
                                    alert("請選擇欲參加的日期、時間、人數")
                                } else {
                                    product_ID = travelItem.info.ID;
                                    sessionStorage["product_ID"] = product_ID;
                                    sessionStorage["date"] = chooseDate;
                                    sessionStorage["time"] = chooseTime;
                                    sessionStorage["people_num"] = choosePeople;
                                    sessionStorage["session_ID"] = session_ID;

                                    location.href = 'travel_payment.html';
                                }
                            }
                        },
                        error: function (exception) {
                            alert("數據載入失敗: " + exception.status);
                        }
                    });
                },
                showMore() {
                    this.showIndex += 3;
                    if (this.showIndex >= this.comment.length) {
                        this.change = true;
                    }
                },
                changeLink(index, event) {
                    event.preventDefault();
                    location.href = '?ID=' + this.recommend_items[index].ID;

                },
                share(index) {
                    FB.ui(
                        {
                            method: 'share',
                            href: `https://tibamef2e.com/tfd102/project/g5/travel_item.html?ID=${this.recommend_items[index].ID}`,
                        },
                        function (response) {
                            if (response && !response.error_message) {
                                alert('分享至臉書，邀請朋友一起成為jumper!');
                            }
                        }
                    )
                },
                // 取得所有最愛旅遊
                getAllFavs() {
                    axios.get('./php/showFav.php').then(res => {
                        this.favs = res.data; // 旅遊內容
                        for (let i = 0; i < this.favs.length; i++) {
                            if (this.favs[i].product_info_ID == this.getID) {
                                this.fav = true;
                                break;
                            }
                        }
                    });
                },

                // 判斷該旅遊是否為最愛
                is_fav(item_id) {
                    // $(function (item_id){
                    //     item_id.preventDefault();
                    //     item_id.target.classList.toggle('clicked');
                    // })

                    // console.log(this.favs);
                    let favs = this.favs; // 所有最愛的旅遊
                    let click_status = false; // 預設點擊狀態是 ''
                    favs.forEach(function (fav) { // 比對最愛旅遊的 id 是否等於 旅遊商品 id，如果是，click_status = true
                        let fav_id = fav.product_info_ID;
                        if (fav_id == item_id) {
                            // console.log('有一樣');
                            // console.log('這是 item_id' + item_id);
                            // console.log('這是 fav_id' + fav_id);
                            click_status = true;
                        }
                    });
                    return click_status;
                },

                // addFav 新增最愛旅遊
                // 參數：itemID, memberID
                addFav(itemID) {
                    // console.log(itemID);
                    axios.post('./php/addLove.php', JSON.stringify({
                        itemID: itemID,
                    }), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(res =>
                        // console.log(res.data)
                        this.getAllFavs() // 重新取得一次新增後的最愛旅遊
                    );
                },

                // removeFav
                // 參數：itemID, memberID
                deleteFav(itemID) {
                    axios.post('./php/deleteLove.php', JSON.stringify({
                        itemID: itemID,
                    }), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(res =>
                        // console.log(res.data)
                        this.getAllFavs() // 重新取得一次刪除後的最愛旅遊
                    );
                },

            },
            watch: {
                userSelect: function (newval, oldval) {
                    let newvalue = newval.substr(0, 10);
                    let startday = new Date(newvalue).getTime();
                    let endday = new Date(newvalue).getTime() + 24 * 60 * 60 * 1000;
                    this.selectTime = [];
                    for (let i = 0; i < this.eventTime.length; i++) {
                        if (this.eventTime[i].started_at > startday && this.eventTime[i].started_at < endday) {
                            let startTime = new Date(Number(this.eventTime[i].started_at));
                            let endTime = new Date(Number(this.eventTime[i].ended_at));
                            let ID = this.eventTime[i].ID;
                            let time = "";
                            time += (startTime.getHours() < 10 ? '0' : '') + startTime.getHours() + ':';
                            time += (startTime.getMinutes() < 10 ? '0' : '') + startTime.getMinutes();
                            time += " - ";
                            time += (endTime.getHours() < 10 ? '0' : '') + endTime.getHours() + ':';
                            time += (endTime.getMinutes() < 10 ? '0' : '') + endTime.getMinutes();

                            this.selectTime.push({ ID: ID, time: time });
                        }
                    }
                },
                userSelect2: function (newval, oldval) {
                    for (let i = 0; i < this.selectTime.length; i++) {
                        if (newval == this.selectTime[i].time) {
                            this.sessionIDs = this.selectTime[i].ID;
                            break;
                        }
                    }
                }
            },
            mounted() {
                this.getID = location.search.split("=")[1];

                // 旅遊內容
                axios.post('./php/item_content.php', {
                    product_ID: this.getID
                }).then(res => {
                    let data = res.data[0];
                    // console.log(data);
                    this.info = data;

                    document.title = this.info.title;

                    let continent = this.info.category;
                    if (continent == 1) {
                        this.info.category = "美洲";
                    } else if (continent == 2) {
                        this.info.category = "歐洲";
                    } else if (continent == 3) {
                        this.info.category = "亞洲";
                    } else if (continent == 4) {
                        this.info.category = "非洲";
                    } else if (continent == 5) {
                        this.info.category = "大洋洲";
                    }

                    // 選擇日期時間
                    axios.post('./php/item_selectDate.php', {
                        product_ID: this.getID,
                        now: new Date().getTime(),
                    }).then(res => {
                        let eventTime = res.data;
                        this.eventTime = eventTime;
                        for (let i = 0; i < this.eventTime.length; i++) {
                            if (this.selectDates.length != 0) {
                                let startTime = new Date(Number(this.eventTime[i - 1].started_at));
                                let endTime = new Date(Number(this.eventTime[i - 1].ended_at));
                                let days = startTime.getDay();
                                let day_list = ['周日', '周一', '周二', '周三', '周四', '周五', '周六'];
                                var dates = '';
                                dates += startTime.getFullYear() + '/';
                                dates += (startTime.getMonth() + 1 < 10 ? '0' + (startTime.getMonth() + 1) : startTime.getMonth() + 1) + '/';
                                dates += (startTime.getDate() < 10 ? '0' : '') + startTime.getDate() + ' ';
                                dates += day_list[days];

                            }
                            let startTime = new Date(Number(this.eventTime[i].started_at));
                            let endTime = new Date(Number(this.eventTime[i].ended_at));
                            let days = startTime.getDay();
                            let day_list = ['周日', '周一', '周二', '周三', '周四', '周五', '周六'];
                            let date = '';
                            date += startTime.getFullYear() + '/';
                            date += (startTime.getMonth() + 1 < 10 ? '0' + (startTime.getMonth() + 1) : startTime.getMonth() + 1) + '/';
                            date += (startTime.getDate() < 10 ? '0' : '') + startTime.getDate() + ' ';
                            date += day_list[days];

                            if (dates != date) {
                                this.selectDates.push(date);
                            }
                        }
                    })

                    // 評論
                    axios.post('./php/item_comment.php', {
                        product_ID: this.getID
                    }).then(res => {
                        let data = res.data;
                        // console.log(data);
                        this.comment = data;
                    })

                    // 推薦旅遊
                    axios.post('./php/item_recommend_trip.php', {
                        product_ID: this.getID
                    }).then(res => {
                        let data = res.data;
                        this.recommend_items = data;
                    });

                    // 收藏
                    axios.get('./php/LoginCheck.php')
                        .then(res => {
                            let data = res.data;
                            // console.log(data);

                            // this.is_fav(itemid) ? this.deleteFav(itemid) : this.addFav(itemid);
                        })
                    // 取得最愛旅遊    
                    this.getAllFavs();

                })

                // 點選圖片放大瀏覽
                $(function () {
                    $(".images").on("click", function () {
                        $("html").css({
                            position: "fixed",
                            width: "100%",
                        })
                    });
                    $(".close_photos").on("click", function (e) {
                        e.stopPropagation();
                        $("html").css({
                            position: "static",
                            width: "100%",
                        })
                    });
                })
            },
        })
    </script>
    <script src="./js/header_footer.js"></script>
</body>

</html>