<!DOCTYPE html>
<html lang="en">

<head>
    <title>旅遊導覽</title>
    <!-- 共用 -->
    <meta charset="UTF-8">
    <meta name="keywords" content="travel, tour, trip, online travel">
    <meta name="description" content="online travel website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jq/jquery-3.6.0.js"></script>
    <script src="./js/vue/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.5.2/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="icon" href="./images/logo/favicon.ico.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <!-- 輪播套件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    </link>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    </link>
</head>

<body>
    <header id="the_header">
        <the-header></the-header>
    </header>
    <div id="mobile_menu">
        <menu-item></menu-item>
    </div>
    <div class="mobile_logo">
        <img src="./images/logo/logo.svg" alt="logo">
    </div>
    <main>
        <section class="banner">
            <div class="trip_intro">
                <h2 class="list_title">線上旅遊</h2>
                <h5 class="list_subtitle">無須踏出家門即可參加由獨具魅力的<br>
                    旅遊達人所舉辦的互動旅遊。
                </h5>
            </div>
            <div class="bg_img"></div>
        </section>
        <section class="main"></section>

        <div id="app">
            <div class="travel_filters">
                <div class="content">
                    <ul class="filter1">
                        <li class="customer"><button class="btn_modal btnS_line">價格</button></li>
                        <!-- <li class="datepicker"><button type="button" class="btnS_line" @click="showCalendar">日期</button> -->
                        <li class="datepicker"><input id="timer" type="date" @change="search_date"
                                v-model="searchdate"></button>
                        </li>
                        <!-- <li class="peoplecount"><button class="btn_modal btnS_line">團體人數</button></li> -->
                        <!-- 篩選器彈窗 -->
                        <div class="overlay">
                            <article>
                                <h3>價格範圍</h3>
                                <p>(體驗的平均價格為 $500)</p>
                                <form action="#" method="#" id="the_form">
                                    <div class="price_filter">
                                        <label>體驗價格：</label>
                                        <input type="range" min="499" max="1000" value="500" class="product_price"
                                            v-model="searchprice">
                                        <span class="num" data-default="600">{{searchprice}}</span>
                                    </div>
                                    <button type="button" class="btn_modal_close"
                                        @click="content='priceTrip'">OK</button>
                                </form>
                            </article>
                        </div>
                        <!-------------->

                    </ul>
                    <ul class="filter2">
                        <li class="category"><button class="btnS_line" @click="content='all'">全部</button></li>
                        <li class="category"><button class="btnS_line" @click="content='us'">美洲</button></li>
                        <li class="category"><button class="btnS_line" @click="content='eu'">歐洲</button></li>
                        <li class="category"><button class="btnS_line" @click="content='as'">亞洲</button></li>
                        <li class="category"><button class="btnS_line" @click="content='af'">非洲</button></li>
                        <li class="category"><button class="btnS_line" @click="content='oc'">大洋洲</button></li>
                    </ul>
                </div>
                <input class="trip_search" placeholder="搜尋" v-model="searchword" @keyup.enter="search"></li>
            </div>
            <keep-alive>
                <component :the-input="searchword" :the-date="searchdate" :the-price="searchprice" :is="content"
                    @show-maintrips="makeSync">
                </component>
            </keep-alive>
        </div>



        <img id="go_the_top" src="./images/icon/toTop_dark.svg" alt="jump to top">
    </main>
    <footer id="the_footer">
        <the-footer></the-footer>
    </footer>

    <!-- vue -->
    <script src="./js/vue/vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- owl.carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="./js/header_footer.js"></script>
    <script src="./js/travel_list/travel_list.js"></script>
    <script src="./js/travel_list/travel_all.js"></script>
    <script src="./js/travel_list/travel_us.js"></script>
    <script src="./js/travel_list/travel_eu.js"></script>
    <script src="./js/travel_list/travel_as.js"></script>
    <script src="./js/travel_list/travel_af.js"></script>
    <script src="./js/travel_list/travel_oc.js"></script>
    <script src="./js/travel_list/travel_searchtrip.js"></script>
    <script src="./js/travel_list/travel_pricetrip.js"></script>
    <script src="./js/travel_list/travel_datetrip.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                componentKey: 0,
                searchword: '',
                searchdate: '',
                content: 'all',
                searchprice: 500, // 預設為 $500
            },
            methods: {
                search() {
                    this.content = 'filterTrip';
                },
                search_date() {
                    this.content = 'filterDateTrip';
                },
                // 價格篩選
                makeSync(cat) {
                    this.content = cat;
                },
            },
        });
    </script>

</body>

</html>